<template>
<div>
  <div id="header"></div>
         <div class="container-fluid CustomHgt">
       <div class="row ">
         <div class="col-md-4">
           <ol class="breadcrumb cusbreadcrumb">

                 <li class="active">Dashboard</li>
           </ol>
         </div>
         <div class="col-md-8">
           <div class="alert alert-danger alert-dismissible hidden" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
               <strong> Message Title:</strong>  A line of color-coded error/message/info text appears with <a href="" class="link">relevant link</a> </div>
         </div>
       </div>
              </div>
    <div class="container-fluid" cz-shortcut-listen="true">
     <div class="row m-t-10 dashboard-row-one">
       <div class="col-md-3 alert-panel col-sm-3 alert-large-box">
         <div class="box panel panel-default clearfix">
             <div class=" panel-heading"> <h5> Orders</h5> </div>
               <div class="panel-body">
                 <div class="row no-gutters">
                   <div class="col-xs-4">
                     <div class="status-pills text-center ">
                       <a href="orders.html">
                       <div class="status-number ">
                           09
                           <p>New</p>
                       </div>
                       </a>
                     </div>
                   </div>
                   <div class="col-xs-4">
                     <div class="status-pills text-center">
                       <a href="orders.html">
                       <div class="status-number ">
                           48
                           <p>Committed</p>
                       </div>
                       </a>
                     </div>
                   </div>
                   <div class="col-xs-4">
                     <div class="status-pills text-center">
                       <a href="orders.html">
                       <div class="status-number last ">
                          45
                           <p>Shipped</p>
                       </div>
                     </a>
                     </div>
                   </div>

                 </div>
             </div>
           </div>
         </div>
       <div class="col-md-3  col-sm-3">
         <div class="box panel panel-default clearfix ">
             <div class=" panel-heading"> <h5>Shipments</h5> </div>
               <div class="panel-body">
                 <div class="row no-gutters">
                       <div class="col-xs-4">
                     <div class="status-pills text-center">
                       <a href="orders.html">
                       <div class="status-number">
                           21
                           <p>Shipped</p>
                       </div>
                     </a>
                     </div>
                   </div>
                   <div class="col-xs-4">
                     <div class="status-pills text-center ">
                       <a href="shipments.html">
                       <div class="status-number ">
                           09
                           <p>Intransit</p>
                       </div>
                     </a>
                     </div>
                   </div>
                   <div class="col-xs-4">
                     <div class="status-pills text-center">
                         <a href="shipments.html">
                       <div class="status-number last ">
                           21
                           <p>Delivered</p>
                       </div>

                   </a>
                   </div>
                   </div>
                 </div>
             </div>
           </div>
       </div>
       <div class="col-md-3 col-sm-3">
         <div class="box panel panel-default clearfix">
             <div class=" panel-heading"> <h5>Open Orders</h5> </div>
               <div class="panel-body">
                 <div class="row no-gutters">
                        <div class="col-xs-6">
                     <div class="status-pills text-center">
                       <div class="status-number">
                           3,540
                           <p>Total Value (AUD)</p>
                       </div>
                     </div>
                   </div>
                      <div class="col-xs-3">
                     <div class="status-pills text-center">
                         <a href="orders.html">
                       <div class="status-number ">
                           50
                           <p>Total</p>
                       </div>
                     </a>
                     </div>
                   </div>
                   <div class="col-xs-3">
                     <div class="status-pills text-center">
                         <a href="orders.html">
                       <div class="status-number last">
                           24
                           <p>Delayed</p>
                       </div>
                     </a>
                     </div>
                   </div>

                 </div>
             </div>
           </div>
       </div>
       <div class="col-md-3 col-sm-3">
         <div class="panel panel-default">
           <div class="panel-heading"> <h5> Common Tasks</h5></div>
            <div class="panel-body panel-common-body">
              <ul class="list-unstyled list-linked-modal clearfix">
                <li>
           <!--         <a href="modals/upload_Inventory.html" data-target="#inv-browse-modal" role="button" class="btn modalcls" data-toggle="modal">Upload Inventory</a>  -->
		   
				<a data-target="#uploadFilePage" data-backdrop="static" role="button" class="btn modalcls" data-toggle="modal" v-on:click="uploadFile()" >Upload Inventory</a>					
		   
                 </li>
                <li><a href="modals/upload_asn.html" data-toggle="modal" data-target="#inv-browse-asn" role="button" class="btn modalcls" data-toggle="modal"> Upload ASNs</a></li>

              <!--  <li><a href="" data-toggle="modal" data-target="#inv-browse-modal-big"> Create Location</a></li>-->
              </ul>
            </div>
           </div>
       </div>
     </div>
     <div class="row">
       <div class="col-md-6">
         <div class="panel panel-default">
           <div class="panel-heading"> <h5>Alerts</h5>



               <div class="text-right">
                   <ul class="list-inline list-unstyled">
                         <li><div class="f-11">Show <select class="select-style form-control width-100">
                                             <option selected="50" value="10">My Alerts</option>
                                             <option value="20">All Alerts</option>
                                           </select>
                   </div></li>

               <li>  <div class="btn btn-default SecondaryBtn">Mark WIP</div></li>
                <li>  <div class="btn btn-default SecondaryBtn">Assign</div></li>
                 <li> <div class="btn btn-default SecondaryBtn">Resolve</div></li>
                   </ul>
               </div>

           </div>
           <div class="clearfix"></div>
           <div class="panel-body">

             <div class="table-wrapper-big table-wrapper">
               <div class=" ">
             <table id="" class="table table-striped table-hover dataTable f-12 " cellspacing="0" width="100%" role="grid" aria-describedby="example_info" style="width: 100%;">

                   <thead>
                     <tr role="row">
                       <th class="" style="width: 20px;"> <input type="checkbox" id="test1"> </th>
                       <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" > <div class="text">Alert Type</div> </th>
                       <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" style="width:18%;" > <div class="text">Status</div></th>
                       <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" > <div class="text">Order No</div></th>
                       <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label=""><div class="text">Date & Time</div> </th>
                     </tr>
                   </thead>
                   <tbody>
                     <tr>
                         <th class="center-filter"><div class="glyphicon glyphicon-filter"></div></th>
                       <td><input type="text" class="form-control"></td>
                       <td><input type="text" class="form-control"></td>
                       <td><input type="text" class="form-control"></td>
                       <td><input type="text" class="form-control"></td>
                     </tr>
                     <tr role="row" class="odd">
                       <td rowspan="1" colspan="1"> <input type="checkbox" id="test1"></td>
                       <td class=""> <a href="alertdetails.html"> PO Delayed</a></td>
                       <td class="">Open </td>
                       <td class=""> <a href="orderdetails.html" > PO AD 12491</a> </td>
                       <td class="">21/03/2016 9:12</td>
                     </tr>
                     <tr role="row" class="odd">
                       <td rowspan="1" colspan="1"> <input type="checkbox" id="test1"></td>
                        <td class=""> <a href="alertdetails.html"> PO Delayed</a></td>
                       <td class="">Open </td>
                       <td class=""> <a href="orderdetails.html" > PO AD 12491</a></td>
                       <td class="">21/03/2016 9:12</td>
                     </tr>
                     <tr role="row" class="odd">
                       <td rowspan="1" colspan="1"> <input type="checkbox" id="test1"></td>
                        <td class=""> <a href="alertdetails.html"> PO Delayed</a></td>
                       <td class="">Open </td>
                       <td class=""> <a href="orderdetails.html" > PO AD 12491</a></td>
                       <td class="">21/03/2016 9:12</td>
                     </tr>
                     <tr role="row" class="odd">
                       <td rowspan="1" colspan="1"> <input type="checkbox" id="test1"></td>
                        <td class=""> <a href="alertdetails.html"> PO Delayed</a></td>
                       <td class="">Open </td>
                       <td class=""> <a href="orderdetails.html" > PO AD 12491</a></td>
                       <td class="">21/03/2016 9:12</td>
                     </tr>
                     <tr role="row" class="odd">
                       <td rowspan="1" colspan="1"> <input type="checkbox" id="test1"></td>
                       <td class=""> <a href="" > PO Delayed</a></td>
                       <td class="">Open </td>
                       <td class=""> <a href="orderdetails.html" > PO AD 12491</a></td>
                       <td class="">21/03/2016 9:12</td>
                     </tr>


                   </tbody>
                  </table>
               </div>
             </div>
           </div>
         </div>
       </div>
         
         <div v-show="showupload">
            <div class="modal fade" id="uploadFilePage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                          <!-- Modal content-->
                        <div class="modal-content">
                        <fileuploads
                            v-on:cancel="cancelFileUpload()">
                        </fileuploads>
                    </div>

                    </div>
                </div>
            </div>
            <div class="modal fade" id="inv-browse-modal-big1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">

                    </div>
                </div>
            </div>
           </div>
         
         
         
       <div class="col-md-6">
         <div class="panel panel-default">
           <div class="panel-heading">
               <h5>My Watchlist</h5>
   <div class="text-right">
               <div class="btn btn-default SecondaryBtn">Remove From Watchlist</div>
             </div>
           </div>
                      <div class="clearfix"></div>
           <div class="panel-body">


               <div class="table-wrapper-big table-wrapper">
                 <div class=" ">
             <table id="" class="table table-striped table-hover dataTable f-12" cellspacing="0" width="100%" role="grid" aria-describedby="example_info" style="width: 100%;">
                   <thead>

                     <tr role="row">
                       <th class="" > <input type="checkbox"> </th>
                         <th> <i class="glyphicon glyphicon-star black"></i> </th>
                       <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" >Order No</th>
                       <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" > Status</th>
                       <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" > Date</th>
                       <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" > Value</th>
                         <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" >Expected By</th>
                     </tr>
                   </thead>
                   <tbody>
                     <tr>
                         <th class="center-filter"><div class="glyphicon glyphicon-filter"></div></th>
                       <td></td>
                       <td><input type="text" class="form-control"></td>
                       <td><input type="text" class="form-control"></td>
                       <td><input type="text" class="form-control"></td>
                       <td><input type="text" class="form-control"></td>
                         <td><input type="text" class="form-control"></td>
                     </tr>
                     <tr role="row" class="odd">
                       <td rowspan="1" colspan="1"> <input type="checkbox" id="test1"></td>
                             <td><a href="javascript:void(0);" class="icon-toggle" title="Remove From Watchlist"><i class="glyphicon glyphicon-star"></i></a></td>
                       <td><a href="orderdetails.html">PO_1234</a></td>
                       <td class=""> Created </td>
                       <td class=""> 21/03/2016 </td>
                       <td class="">AUD 2500</td>
                       <td class="">26/03/2016</td>
                     </tr>
                     <tr role="row" class="odd">
                       <td rowspan="1" colspan="1"> <input type="checkbox" id="test1"></td>
                             <td><a href="javascript:void(0);" class="icon-toggle" title="Remove From Watchlist"><i class="glyphicon glyphicon-star"></i></a></td>
                       <td><a href="orderdetails.html">PO_1234</a></td>
                       <td class=""> Created </td>
                       <td class=""> 21/03/2016 </td>
                       <td class="">AUD 2500</td>
                       <td class="">26/03/2016</td>
                     </tr>
                     <tr role="row" class="odd">
                       <td rowspan="1" colspan="1"> <input type="checkbox" id="test1"></td>
                             <td><a href="javascript:void(0);" class="icon-toggle" title="Remove From Watchlist"><i class="glyphicon glyphicon-star"></i></a></td>
                       <td><a href="orderdetails.html">PO_1234</a></td>
                       <td class=""> Created </td>
                       <td class=""> 21/03/2016 </td>
                       <td class="">AUD 2500</td>
                       <td class="">26/03/2016</td>
                     </tr>
                     <tr role="row" class="odd">
                       <td rowspan="1" colspan="1"> <input type="checkbox" id="test1"></td>
                             <td><a href="javascript:void(0);" class="icon-toggle" title="Remove From Watchlist"><i class="glyphicon glyphicon-star"></i></a></td>
                       <td><a href="orderdetails.html">PO_1234</a></td>
                       <td class=""> Created </td>
                       <td class=""> 21/03/2016 </td>
                       <td class="">AUD 2500</td>
                       <td class="">26/03/2016</td>
                     </tr>
                     <tr role="row" class="odd">
                       <td rowspan="1" colspan="1"> <input type="checkbox" id="test1"></td>
                             <td><a href="javascript:void(0);" class="icon-toggle" title="Remove From Watchlist"><i class="glyphicon glyphicon-star"></i></a></td>
                       <td><a href="orderdetails.html">PO_1234</a></td>
                       <td class=""> Created </td>
                       <td class=""> 21/03/2016 </td>
                       <td class="">AUD 2500</td>
                       <td class="">26/03/2016</td>
                     </tr>


                   </tbody>
                  </table>
                </div>
              </div>
           </div>
         </div>
       </div>

     </div>

     <div class="row">
         <div class="col-md-6">
         <div class="panel panel-default">
           <div class="panel-heading">
               <h5>Orders</h5>
   <div class="text-right">
               <div class="btn btn-default SecondaryBtn">Accept</div>
               <div class="btn btn-default SecondaryBtn">Reject</div>
             </div>
           </div>
                      <div class="clearfix"></div>
           <div class="panel-body">


               <div class="table-wrapper-big table-wrapper">
                 <div class=" ">
             <table id="" class="table table-striped table-hover dataTable f-12" cellspacing="0" width="100%" role="grid" aria-describedby="example_info" style="width: 100%;">
                   <thead>

                     <tr role="row">
                       <th class="" > <input type="checkbox"> </th>
                       <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" >Order No</th>
                       <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" > Status</th>
                       <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" > Date</th>
                       <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" > Value</th>
                         <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" >Expected By</th>
                     </tr>
                   </thead>
                   <tbody>
                     <tr>
                         <th class="center-filter"><div class="glyphicon glyphicon-filter"></div></th>
                       <td><input type="text" class="form-control"></td>
                       <td><input type="text" class="form-control"></td>
                       <td><input type="text" class="form-control"></td>
                       <td><input type="text" class="form-control"></td>
                       <td><input type="text" class="form-control"></td>
                     </tr>
                     <tr role="row" class="odd">
                       <td rowspan="1" colspan="1"> <input type="checkbox" id="test1"></td>
                       <td><a href="orderdetails.html">PO_1234</a></td>
                       <td class=""> Created </td>
                       <td class=""> 21/03/2016 </td>
                       <td class="">AUD 2500</td>
                       <td class="">26/03/2016</td>
                     </tr>
                     <tr role="row" class="odd">
                       <td rowspan="1" colspan="1"> <input type="checkbox" id="test1"></td>
                       <td><a href="orderdetails.html">PO_1234</a></td>
                       <td class=""> Created </td>
                       <td class=""> 21/03/2016 </td>
                       <td class="">AUD 2500</td>
                       <td class="">26/03/2016</td>
                     </tr>
                     <tr role="row" class="odd">
                       <td rowspan="1" colspan="1"> <input type="checkbox" id="test1"></td>
                       <td><a href="orderdetails.html">PO_1234</a></td>
                       <td class=""> Created </td>
                       <td class=""> 21/03/2016 </td>
                       <td class="">AUD 2500</td>
                       <td class="">26/03/2016</td>
                     </tr>
                     <tr role="row" class="odd">
                       <td rowspan="1" colspan="1"> <input type="checkbox" id="test1"></td>
                       <td><a href="orderdetails.html">PO_1234</a></td>
                       <td class=""> Created </td>
                       <td class=""> 21/03/2016 </td>
                       <td class="">AUD 2500</td>
                       <td class="">26/03/2016</td>
                     </tr>
                     <tr role="row" class="odd">
                       <td rowspan="1" colspan="1"> <input type="checkbox" id="test1"></td>
                       <td><a href="orderdetails.html">PO_1234</a></td>
                       <td class=""> Created </td>
                       <td class=""> 21/03/2016 </td>
                       <td class="">AUD 2500</td>
                       <td class="">26/03/2016</td>
                     </tr>


                   </tbody>
                  </table>
                </div>
              </div>
           </div>
         </div>
       </div>
       <div class="col-md-6">
         <div class="panel panel-default">
             <div class="panel-heading"> <h5> Shipments</h5>
             <div class="block text-right">
             <a href="bookfreight.html"><div class="btn btn-default SecondaryBtn" >Book Freight</div></a>
             </div>
             </div>
                        <div class="clearfix"></div>
           <div class="panel-body">

               <div class="table-wrapper-big table-wrapper">
                 <div class=" ">
                 <table id="" class="table table-striped table-hover dataTable f-12 " cellspacing="0" width="100%" role="grid" aria-describedby="example_info" style="width: 100%;">
                   <thead>
                     <tr role="row">
                       <th></th>
                       <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="">Shipment No</th>
                       <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="">Order No</th>
                       <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="">Status</th>
                       <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="">Containers</th>
                       <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="">Carrier</th>
                       <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="">Consignment</th>
                     </tr>
                   </thead>
                   <tbody>
                     <tr>
                         <th class="center-filter"><div class="glyphicon glyphicon-filter"></div></th>
                       <td><input type="text" class="form-control"></td>
                       <td><input type="text" class="form-control"></td>
                       <td><input type="text" class="form-control"></td>
                       <td><input type="text" class="form-control"></td>
                       <td><input type="text" class="form-control"></td>
                       <td><input type="text" class="form-control"></td>
                     </tr>
                     <tr role="row" class="odd">
                       <td rowspan="1" colspan="1"> <input type="radio" id="test1"  name="shipment"></td>
                       <td class=""> <a href="shipmentDetails.html"> SO_121 </a></td>
                       <td class="">  <a href="orderdetails.html">PO_1234</a> </td>
                       <td class="">In Transit</td>
                       <td class="">2 cases</td>
                       <td class="">AMZ</td>
                       <td class=""> <a href="consignment.html">9483948</a></td>
                     </tr>
                     <tr role="row" class="odd">
                       <td rowspan="1" colspan="1"> <input type="radio" id="test1"  name="shipment"></td>
                       <td class=""> <a href="shipmentDetails.html"> SO_121 </a></td>
                       <td class="">  <a href="orderdetails.html">PO_1234</a> </td>
                       <td class="">In Transit</td>
                       <td class="">2 cases</td>
                       <td class="">AMZ</td>
                       <td class=""><a href="consignment.html">9483948</a></td>
                     </tr>
                     <tr role="row" class="odd">
                       <td rowspan="1" colspan="1"> <input type="radio" id="test1"  name="shipment"></td>
                       <td class=""> <a href="shipmentDetails.html"> SO_121 </a></td>
                       <td class="">  <a href="orderdetails.html">PO_1234</a> </td>
                       <td class="">In Transit</td>
                       <td class="">2 cases</td>
                       <td class="">Ceva</td>
                       <td class=""><a href="consignment.html">9483948</a></td>
                     </tr>
                     <tr role="row" class="odd">
                       <td rowspan="1" colspan="1"> <input type="radio" id="test1"  name="shipment"></td>
                       <td class=""> <a href="shipmentDetails.html"> SO_121 </a></td>
                       <td class="">  <a href="orderdetails.html">PO_1234</a> </td>
                       <td class="">In Transit</td>
                       <td class="">2 cases</td>
                       <td class="">AMZ</td>
                       <td class=""><a href="consignment.html">9483948</a></td>
                     </tr>
                     <tr role="row" class="odd">
                       <td rowspan="1" colspan="1"> <input type="radio" id="test1"  name="shipment"></td>
                       <td class=""> <a href="">SO_121</a></td>
                       <td class="">  <a href="orderdetails.html">PO_1234</a> </td>
                       <td class="">In Transit</td>
                       <td class="">2 cases</td>
                       <td class="">AMZ</td>
                       <td class=""><a href="consignment.html">9483948</a></td>
                     </tr>
                   </tbody>
                  </table>
                </div>
              </div>
           </div>
         </div>
       </div>


            </div>
      <div class="row">
      <div class="col-sm-3 cusToggletext"><b>Show Tables for Orders and Shipments:</b></div>
          <div class="col-sm-3"><input class='tgl tgl-flat' checked id='cb4' id="togglebtnCtr" type='checkbox'>
     <label class='tgl-btn' for='cb4'></label></div>

      </div>





      <div class="modal fade" id="inv-browse-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
       <div class="modal-dialog" role="document">
         <div class="modal-content">
         </div>
       </div>
     </div>




     <div class="modal fade" id="inv-browse-asn" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
       <div class="modal-dialog" role="document">
         <div class="modal-content">

         </div>
       </div>
     </div>



         </div>
</div>

	</template>
	<script>
	var Vue = require('vue')
	var Utils = require('./../utils/utils.js')
	export default {
        
         data: function () {
           var showupload=false
           return {
            showupload:showupload
          }
      },
        
        methods: {

          uploadFile: function() {
          this.showupload=true
       },
         cancelFileUpload: function(){

        }
      },
        beforeDestroy: function() {
	  	(this.$el).remove();
	  	$(this.$el).removeData();
	  }    

	}
</script>
