<template>
    <div>
      <div id="header"></div>
      <div class="container-fluid CustomHgt" cz-shortcut-listen="true">
          <div class="block  clearfix">
              <h5 class="pull-left">Order Details</h5>
              <div class="pull-right" >
                <!--  <a href="commitDelivery.html">-->
                      <div class="btn btn-default SecondaryBtn" disabled>Accept</div>
                  <!-- </a>-->
                  <div class="btn btn-default SecondaryBtn" disabled>Reject</div>
                  <div class="btn btn-default SecondaryBtn" disabled>Save</div>
                  <div class="btn btn-default SecondaryBtn" disabled>Cancel</div>
              </div>
          </div>
          <div class="row">
              <div class="col-md-8">
                  <div class="panel panel-default m-t-10">
                      <div class="panel-heading">Order Details
                          <div class="pull-right">
                              <div  class="btn btn-default SecondaryBtn RemoveList" v-on:click="removeFromWatchList()" v-show="isWatched" >Remove From Watchlist</div>
                              <div  class="btn btn-default SecondaryBtn AddList" v-on:click="addToWatchList()" v-show="!isWatched">Add to Watchlist</div>
                          </div>
                      </div>
                                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group clearfix m-t-10">
                                    <label for="" class="col-sm-6 control-label">Order Number</label>
                                    <div class="col-sm-6">
                                        <span class="form-inline-left">{{ orderHeader.OrderNo}}</span>
                                    </div>
                                </div>
                               <!--  <div class="form-group clearfix m-t-10">
                                    <label for="" class="col-sm-6 control-label ">Document Type</label>
                                    <div class="col-sm-6">
                                        <span class="form-inline-left">{{ orderHeader.DocumentType}}</span>
                                    </div>
                                </div>-->
                                
                                  <div class="form-group clearfix m-t-10">
                                    <label for="" class="col-sm-6 control-label ">Seller</label>
                                    <div class="col-sm-6">
                                        <span class="form-inline-left">{{ orderHeader.SellerOrganizationCode}}</span>
                                    </div>
                                </div>
                                
                                <div class="form-group clearfix m-t-10">
                                    <label for="" class="col-sm-6 control-label">Order Date</label>
                                    <div class="col-sm-6">
                                        <span class="form-inline-left"> {{formatForDisplay(orderHeader.OrderDate)}} </span>
                                    </div>
                                </div>
                                <div class="form-group clearfix m-t-10">
                                    <label for="" class="col-sm-6 control-label">Status</label>
                                    <div class="col-sm-6">
                                        <span class="form-inline-left">{{orderHeader.Status}}</span>
                                    </div>
                                </div>
                              <!--      <div class="form-group clearfix m-t-10">
                                    <label for="" class="col-sm-6 control-label">Linked Order</label>
                                    <div class="col-sm-6">
                                      <span class="form-inline-left"> </span>
                                    </div>
                                </div>
                                
                                 
                                
                              <div class="form-group clearfix m-t-10">
                                    <label for="" class="col-sm-6 control-label">Is History</label>
                                    <div class="col-sm-6">
                                        <a href="orderdetails.html"><span class="form-inline-left">{{OrderDet.isHistory}}</span></a>
                                    </div>
                                </div>
                                <div class="form-group clearfix m-t-10">
                                    <label for="" class="col-sm-6 control-label">On Hold</label>
                                    <div class="col-sm-6">
                                        <a href="orderdetails.html"><span class="form-inline-left">{{OrderDet.HoldFlag}}</span></a>
                                    </div>
                                </div>-->
                            </div>
                            <div class="col-md-4">
                                
                                 <div class="form-group clearfix m-t-10">
                                    <label for="" class="col-sm-6 control-label">Order Name</label>
                                    <div class="col-sm-6">
                                        <span class="form-inline-left">{{orderHeader.OrderName}}</span>
                                    </div>
                                </div>
                              <!--   <div class="form-group clearfix m-t-10">
                                    <label for="" class="col-sm-6 control-label ">Order Stream</label>
                                    <div class="col-sm-6">
                                        <span class="form-inline-left">{{orderHeader.DepartmentCode}}</span>
                                    </div>
                                </div>
                                
                                <div class="form-group clearfix m-t-10">
                                    <label for="" class="col-sm-6 control-label">Source Stream</label>
                                    <div class="col-sm-6">
                                        <a href="orderdetails.html"><span class="form-inline-left">{{orderHeader.EntryType}}</span></a>
                                    </div>
                                </div>-->
                                <div class="form-group clearfix m-t-10">
                                    <label for="" class="col-sm-6 control-label ">Req Ship Date</label>
                                    <div class="col-sm-6">
                                        <span class="form-inline-left">{{formatForDisplay(orderHeader.ReqShipDate)}}</span>
                                    </div>
                                </div>
                                <div class="form-group clearfix m-t-10">
                                    <label for="" class="col-sm-6 control-label ">Consignments</label>
                                    <div class="col-sm-6">
                                        <span class="form-inline-left"> </span>
                                    </div>
                                </div>
                                <div class="form-group clearfix m-t-10">
                                    <label for="" class="col-sm-6 control-label ">Order Type</label>
                                    <div class="col-sm-6">
                                        <span class="form-inline-left">{{orderHeader.OrderType}}</span>
                                    </div>
                                </div>
                            </div>
                             <div class="col-md-4">
                                <div class="form-group clearfix m-t-10">
                                    <label for="" class="col-sm-6 control-label ">Order Value</label>
                                    <div class="col-sm-6">
                                        <span class="form-inline-left">{{getValue(orderHeader,"PriceInfo.TotalAmount")}} </span>
                                    </div>
                                </div>
                             <!--    <div class="form-group clearfix m-t-10">
                                    <label for="" class="col-sm-6 control-label ">Cost Centre</label>
                                    <div class="col-sm-6">
                                        <span class="form-inline-left"> {{orderHeader.Division}}</span>
                                    </div>
                                </div>
                                 
                                   <div class="form-group clearfix m-t-10">
                                    <label for="" class="col-sm-6 control-label ">Phone Number </label>
                                    <div class="col-sm-6">
                                        <span class="form-inline-left">{{orderHeader.SearchCriteria2}}</span>
                                    </div>
                                </div>-->
                                 
                                <div class="form-group clearfix m-t-10">
                                    <label for="" class="col-sm-6 control-label ">Req Delivery Date</label>
                                    <div class="col-sm-6">
                                        <span class="form-inline-left"> {{formatForDisplay(orderHeader.ReqDeliveryDate)}} </span>
                                    </div>
                                </div>
                                
                               
                             <!--    <div class="form-group clearfix m-t-10">
                                    <label for="" class="col-sm-6 control-label ">Project Number</label>
                                    <div class="col-sm-6">
                                        <span class="form-inline-left">{{orderHeader.SearchCriteria1}}</span>
                                    </div>
                                </div>
                                 <div class="form-group clearfix m-t-10">
                                    <label for="" class="col-sm-6 control-label ">Priority</label>
                                    <div class="col-sm-6">
                                        <span class="form-inline-left">{{orderHeader.PriorityCode}}</span>
                                    </div>
                                </div>-->
                                
                                 
                                 
                                 
                            </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="panel panel-default m-t-10">
                      <div class="panel-heading">Ship To Address</div>
                      <div class="panel-body">
                              {{getValue(orderHeader,"PersonInfoBillTo.FirstName")}} &nbsp; {{getValue(orderHeader,"PersonInfoBillTo.LastName")}} <br>
                            {{getValue(orderHeader,"PersonInfoBillTo.AddressLine1")}} <br>
                            {{getValue(orderHeader,"PersonInfoBillTo.AddressLine2")}} <br>
                            {{getValue(orderHeader,"PersonInfoBillTo.AddressLine3")}}<br>
                            {{getValue(orderHeader,"PersonInfoBillTo.City")}} &nbsp; {{getValue(orderHeader,"PersonInfoBillTo.State")}}&nbsp; {{getValue(orderHeader,"PersonInfoBillTo.ZipCode")}}<br>{{getValue(orderHeader,"PersonInfoBillTo.Country")}}<br>
                          
                          
                      <!--    <address>
                           <strong>Telstra</strong><br>
                           363 oxford St,Paddington<br>
                           Sydney NSW 2021<br>
                           Australia <br>
                      </address>
                          <span class="m-t-10">Phone: +61 028 8202 5134</span>-->
                      </div>
                  </div>
              </div>
          </div>
          <div class="panel panel-default">
              
          
              
              <div class="panel-heading">Line Items<span class="pull-right"><a  href="modals/mark_committed.html" role="button" class="btn modalcls cusCommit" data-toggle="modal" data-target="#mark_committed" title="Mark As Committed"><div class="btn btn-default SecondaryBtn" disabled>Mark As Committed</div></a>
                    
                   <a href="createAsn.html"><div class="btn btn-default SecondaryBtn" disabled>Create ASN</div></a></span></div>
                   <div class="clearfix"> </div>
              <div class="panel-body">
                  <div class="table-wrapper">
                      <table id="example" class="table table-striped table-hover dataTable" cellspacing="0" width="100%" role="grid" aria-describedby="example_info" style="width: 100%;">
                          <thead>
                              <tr>
                <!--
                       var columns = ['Item.ItemID', 'Item.ItemShortDesc', 'ReqDeliveryDate', 'OrderedQty',  'CommittedQuantity', 'Schedules', 'OrderLineTranQuantity.ShippedQuantity', 'CommitedDate', 'Status' , 'Actions']
                 -->

                                  <th class="" rowspan="2" style="width: 20px;">
                                      <input type="checkbox" id="test1"> </th>
                                 
                                   <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" @click="sortBy( 'PrimeLineNo')" :class="{active: gmeta.sort.key =='PrimeLineNo'}" >PrimeLine No
                                      <span class="fa fa-sort pull-right" :class="gmeta['sort']['sortorder']['PrimeLineNo'] > 0 ? 'sort-up' : 'sort-down'">
                                      </span>
                                  </th>
                                  
                                  <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" @click="sortBy('Item.ItemID')" :class="{active: gmeta.sort.key == 'Item.ItemID'}" >Item ID
                                      <span class="fa fa-sort pull-right" :class="gmeta['sort']['sortorder']['Item.ItemID'] > 0 ? 'sort-up' : 'sort-down'">
                                      </span>
                                  </th>

                                  <th  tabindex="0" aria-controls="example" rowspan="1" colspan="1" baria-label="" @click="sortBy('Item.ItemShortDesc')" :class="{active: gmeta.sort.key == 'Item.ItemShortDesc'}">Item Desc
                                      <span class="fa fa-sort pull-right" :class="gmeta['sort']['sortorder']['Item.ItemShortDesc'] > 0 ? 'sort-up' : 'sort-down'">
                                      </span>
                                  </th>
                                  
                                  <th  tabindex="0" aria-controls="example" rowspan="1" colspan="1" baria-label="" @click="sortBy('Item.UnitOfMeasure')" :class="{active: gmeta.sort.key == 'Item.UnitOfMeasure'}">UOM
                                      <span class="fa fa-sort pull-right" :class="gmeta['sort']['sortorder']['Item.UnitOfMeasure'] > 0 ? 'sort-up' : 'sort-down'">
                                      </span>
                                  </th>    
                              <!--     <th  tabindex="0" aria-controls="example" rowspan="1" colspan="1" baria-label="" @click="sortBy('LinePriceInfo.UnitPrice')" :class="{active: gmeta.sort.key == 'LinePriceInfo.UnitPrice'}">Unit Price
                                      <span class="fa fa-sort pull-right" :class="gmeta['sort']['sortorder']['LinePriceInfo.UnitPrice'] > 0 ? 'sort-up' : 'sort-down'">
                                      </span>
                                  </th> 
                                   <th  tabindex="0" aria-controls="example" rowspan="1" colspan="1" baria-label="" @click="sortBy('SupplierItem')" :class="{active: gmeta.sort.key == 'SupplierItem'}">Supplier Item
                                      <span class="fa fa-sort pull-right" :class="gmeta['sort']['sortorder']['SupplierItem'] > 0 ? 'sort-up' : 'sort-down'">
                                      </span>
                                  </th> 
                                 <th  tabindex="0" aria-controls="example" rowspan="1" colspan="1" baria-label="" @click="sortBy('SupplierItemDesc')" :class="{active: gmeta.sort.key == 'SupplierItemDesc'}">Supplier Item Desc
                                      <span class="fa fa-sort pull-right" :class="gmeta['sort']['sortorder']['SupplierItemDesc'] > 0 ? 'sort-up' : 'sort-down'">
                                      </span>
                                  </th>
                                   <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" @click="sortBy('ShipNode')" :class="{active: gmeta.sort.key == 'ShipNode'}" >Ship Node
                                      <span class="fa fa-sort pull-right" :class="gmeta['sort']['sortorder']['ShipNode'] > 0 ? 'sort-up' : 'sort-down'">
                                      </span>
                                  </th>
                                  
                                  <th  tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" @click="sortBy('ReqDeliveryDate')" :class="{active: gmeta.sort.key == 'ReqDeliveryDate'}">Requested Date
                                      <span class="fa fa-sort pull-right" :class="gmeta['sort']['sortorder']['ReqDeliveryDate'] > 0 ? 'sort-up' : 'sort-down'">
                                      </span>
                                  </th>-->
                                  <th @click="sortBy('OrderedQty', true)" :class="{active: gmeta.sort.key == 'OrderedQty'}"> Order Qty
                                      <span class="fa fa-sort pull-right" :class="gmeta['sort']['sortorder']['OrderedQty'] > 0 ? 'sort-up' : 'sort-down'">
                                      </span>
                                  </th>
                                  <th  tabindex="0" aria-controls="example" rowspan="1" colspan="1" @click="sortBy('CommittedQuantity', true)" :class="{active: gmeta.sort.key == 'CommittedQuantity'}"> 
                                    Committed Qty
                                      <span class="fa fa-sort pull-right" :class="gmeta['sort']['sortorder']['CommittedQuantity'] > 0 ? 'sort-up' : 'sort-down'">
                                      </span>
                                  </th>
                                  
                                  
                                  
                                  
                                  
                                  <th rowspan="1" colspan="1" @click="sortBy('OrderLineTranQuantity.ShippedQuantity')" :class="{active: gmeta.sort.key == 'OrderLineTranQuantity.ShippedQuantity'}" > Shipped Qty
                                      <span class="fa fa-sort pull-right" :class="gmeta['sort']['sortorder']['OrderLineTranQuantity.ShippedQuantity'] > 0 ? 
                                      'sort-up' : 'sort-down'" >
                                      </span>
                                  </th>
                                 
                                  <th  tabindex="0" aria-controls="example" rowspan="1" colspan="1" @click="sortBy('Status')" :class="{active: gmeta.sort.key == 'Status'}">Status
                                      <span class="fa fa-sort pull-right" :class="gmeta['sort']['sortorder']['Status'] > 0 ? 'sort-up' : 'sort-down'">
                                      </span>
                                       </th>
                                  <th  tabindex="0" aria-controls="example" rowspan="1" colspan="1" @click="sortBy('CommitedDate')" :class="{active: gmeta.sort.key == 'CommitedDate'}" style="width:140px">Committed Date
                                      <span class="fa fa-sort pull-right" :class="gmeta['sort']['sortorder']['CommitedDate'] > 0 ? 'sort-up' : 'sort-down'">
                                      </span>
                                  </th>
                                  
                                  
                                      <th tabindex="0" aria-controls="example" rowspan="1" colspan="1">Schedules</th>
                                          
                                   
                                  
                                  
                                 
                                  <th tabindex="0" aria-controls="example" rowspan="1">Commit</th>
                              </tr>


                          </thead>
                          <tbody>
                              <tr role="row" class="filter-row">
                                  <td class="center-filter">
                                      <div class="glyphicon glyphicon-filter"></div>
                                  </td>
                                   
                                   <td>
                                      <input type="text" class="form-control" v-model="gmeta.filter.PrimeLineNo">
                                  </td>
                                  <td>
                                      <input type="text" class="form-control" v-model="gmeta.filter.Item.ItemID">
                                  </td>
                                  <td>
                                      <input type="text" class="form-control" v-model="gmeta.filter.Item.ItemShortDesc">
                                  </td>
                                   <td>
                                      <input type="text" class="form-control" v-model="gmeta.filter.Item.UnitOfMeasure">
                                  </td>
                             <!--     <td>
                                      <input type="text" class="form-control" v-model="gmeta.filter.LinePriceInfo.UnitPrice">
                                  </td>
                                   <td>
                                      <input type="text" class="form-control" v-model="gmeta.filter.SupplierItem">
                                  </td>
                                  <td>
                                      <input type="text" class="form-control" v-model="gmeta.filter.SupplierItemDesc">
                                  </td>
                                  <td>
                                      <input type="text" class="form-control" v-model="gmeta.filter.ShipNode">
                                  </td>
                                 
                                  <td>
                                      <input type="text" class="form-control" v-datepicker="gmeta.filter.ReqDeliveryDate" usage="filter">
                                  </td>-->
                                  <td>
                                      <input type="text" class="form-control" v-model="gmeta.filter.OrderedQty">
                                  </td>
                                  <td>
                                      <div class="icon-wrapper">
                                          <input type="text" class="form-control" v-model="gmeta.filter.CommittedQuantity">
                                      </div>
                                  </td>
                                  
                                  <td>
                                      <input type="text" class="form-control" v-model="gmeta.filter.OrderLineTranQuantity.ShippedQuantity">
                                  </td>
                                  <td>
                                  
                                      <input type="text" class="form-control" v-model="gmeta.filter.Status">
                                  </td>
                                  <td>
                                  </td>
                                   <td>
                                  </td>
                                   <td>
                                  </td>
                              </tr>
                              <tr  role="row" :class="[($index % 2) > 0 ? 'even' : 'odd']" 
                                v-for=" row in gridData 
                                | gridsorter gmeta.sort.key gmeta.sort.order gmeta.sort.numeric
                                | gridfilter gmeta.filter columns
                                | paginate " >

                                <td rowspan="1" colspan="1">
                                    <input type="checkbox" id="test1">
                                </td>
                                  <td>{{getValue(row,'PrimeLineNo')}}</td>
                                <td>{{getValue(row,'Item.ItemID')}}</td>
                                <td>{{getValue(row,'Item.ItemShortDesc')}}</td>
                                  <td>{{getValue(row,'Item.UnitOfMeasure')}}</td>
                                <!--   <td>{{getValue(row,'LinePriceInfo.UnitPrice')}}</td>
                                  <td>{{getValue(row,'SupplierItem')}}</td>
                                    <td>{{getValue(row,'SupplierItemDesc')}}</td>
                                 <td>{{getValue(row,'ShipNode')}}</td>
                                <td>{{getValue(row,'ReqDeliveryDate') | datefilter}}</td>-->
                                <td>{{getValue(row, "OrderedQty") | numberfilter }}</td>
                                <td>{{getValue(row, "CommittedQuantity") | quantityfilter}}</td>
                               
                                <td>{{getValue(row, "OrderLineTranQuantity.ShippedQuantity") | quantityfilter}}</td>
                                
                                <td>{{getValue(row, "Status")}}</td>
                                  
                                   <td>{{getValue(row, "CommitedDate") | datefilter}}</td>
                                   <td>{{getScheduleCount(row) | integerfilter}}</td>
                                 
                                <td>
                                    <a role="button" class="btn modalcls cusCommit" data-toggle="modal" data-backdrop="static" data-target="#schedule" title="Manage Commitment" v-on:click="startEdit(row)">
                                          <button type="button" class="btn btn-default commitment"><i class="fa fa-list-alt" aria-hidden="true"></i></button>
                                    </a>
                                </td>
                              </tr>
                          </tbody>
                      </table>
                      <div class="row m-t-10">
                          <gridpagination 
                              :gmeta="gmeta"
                              :total-pages="totalPages"
                              v-on:setpage="setPage">
                          </gridpagination>
                      </div>

                      </div>
                  </div>
              </div>
          </div>
          <div v-show="gmeta.edit.editing">
            <div class="modal fade" id="schedule" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                      <schedule
                      :orderline="editingOrderLine"
                      v-on:cancel="cancelEdit(editingOrderLine)"
                      v-on:apply="doneEdit(editingOrderLine)"
                      >
                      </schedule>
                    </div>

                </div>
            </div>
          </div>
          <div class="modal fade" id="view_schedule" role="dialog">
              <div class="modal-dialog">

                  <!-- Modal content-->
                  <div class="modal-content">

                  </div>

              </div>
          </div>
          <div class="modal fade" id="mark_committed" role="dialog">
              <div class="modal-dialog">

                  <!-- Modal content-->
                  <div class="modal-content">

                  </div>

              </div>
          </div>

        <div hidden>
    	<input class="hidden" value= {{$route.query.key}}  v-model="OrderDetailsInput.OrderHeaderKey" >{{$route.query.key | json}}  {{Order | json}} </input></div>
  	</div>
</template>
<script>
  var Vue = require('vue')
  var Utils = require('./../utils/utils.js')
  var GridUtils = require('./../utils/gridutils.js')
	export default {
	 props: {
	    data: Array,
	  },
	  data: function () {
	  	var columns = ['PrimeLineNo','Item.ItemID', 'Item.ItemShortDesc','Item.UnitOfMeasure','LinePriceInfo.UnitPrice','SupplierItem','SupplierItemDesc','ShipNode','ReqDeliveryDate','OrderedQty','CommittedQuantity', 'Extn.OrderLineCommitmentList', 'OrderLineTranQuantity.ShippedQuantity', 'CommitedDate', 'Status' , 'Actions']
      var columnheadings = ['Material ID', 'Description', 'Requested Date', 'Order Qnty',  'Committed Qnty', 'Schedules', 'Shipped Qnty', 'CommitedDate', 'Status' , 'Actions']
	  	var gridData = []
      var gmeta = {}
      var schedules = []
      GridUtils.populateGridMeta(gmeta, columns, true)

  		var orderHeader = {}
  		var OrderDetailsInput = {}
        var editingOrderLine = this.getDummyOrderLine()
        var watchListInput={}
        var isWatched=false
      //  var isWatched1=false

	    return {
	    	columns: columns,
	    	gridData: gridData,
            gmeta: gmeta,
	    	orderHeader: orderHeader,
		    OrderDetailsInput:OrderDetailsInput,
            editingOrderLine: editingOrderLine,
            schedules: schedules,
            watchListInput:watchListInput,
            isWatched:isWatched
	    }
	  },
	 methods: {
      getScheduleCount: function(row) {
        var schedule = this.getValue(row, 'Extn.OrderLineCommitmentList.OrderLineCommitment')
        if(schedule) {
          return schedule.length
        }
        return 0
      },
      getValue: function(data, binding) {
        return Utils.getValue(data,binding)
      },
      setPage: function(pageNumber) {
        GridUtils.setPage(this.gmeta, pageNumber, this.totalPages)
      },
      startEdit: function(row) {
        if(!row.Extn) {
            Vue.set(row, 'Extn', {})
        }
        if(!row.Extn.OrderLineCommitmentList) {
            Vue.set(row.Extn, 'OrderLineCommitmentList', {})
        }
        if(!row.Extn.OrderLineCommitmentList.OrderLineCommitment) {
            Vue.set(row.Extn.OrderLineCommitmentList, 'OrderLineCommitment', [])
        }
        this.editingOrderLine = row
        //this.schedules = row.Extn.OrderLineCommitmentList.OrderLineCommitment
        GridUtils.startEdit(this.gmeta, row)
      },
      doneEdit: function(row) {
        GridUtils.doneEdit(this.gmeta, row)
        this.editingOrderLine = this.getDummyOrderLine()
      },
      cancelEdit: function(row) {
        GridUtils.cancelEdit(this.gmeta, row, this.columns)
        this.editingOrderLine = this.getDummyOrderLine()
      },
      sortBy: function (key, isNumeric) {
        GridUtils.sortBy(this.gmeta, key, isNumeric)
      },
      getDummyOrderLine: function() {
        var dummyOrderLine = {}
        dummyOrderLine['Extn'] = {}
        dummyOrderLine.Extn['OrderLineCommitmentList'] = {}
        return dummyOrderLine
      },
       
        formatForDisplay:function(serverDate) {
          return Utils.formatForDisplay(serverDate)
        
        }
         ,
         addToWatchList:function(event){
       //     event.preventDefault()
            var self = this
           this.watchListInput.OrderHeaderKey= this.orderHeader.OrderHeaderKey
           this.watchListInput.OrganizationCode= this.orderHeader.EnterpriseCode           
           this.watchListInput.OrderNo= this.orderHeader.OrderNo
           this.watchListInput.Status= this.orderHeader.Status 
           if(this.orderHeader.ReqDeliveryDate) {
                this.watchListInput.ReqDeliveryDate= this.orderHeader.ReqDeliveryDate
           }
        if(this.orderHeader.ReqShipDate) {     
            this.watchListInput.ReqShipDate= this.orderHeader.ReqShipDate
        }
           this.watchListInput.TotalAmount= this.orderHeader['PriceInfo']['TotalAmount']
          // this.watchListInput.OrderHeaderKey= this.OrderDetailsInput.OrderHeaderKey
           console.log(this.orderHeader.OrderHeaderKey)
            var success = function(result) {
    			   //   alert("added")
                   // return false
                      self.isWatched=true
				}
			Utils.invokeMashup("createWatchedOrder", success, self.watchListInput);

         },
            removeFromWatchList:function(event){
       //     event.preventDefault()
            var self = this
           this.watchListInput.OrderHeaderKey= this.OrderDetailsInput.OrderHeaderKey
           console.log(this.OrderDetailsInput.OrderHeaderKey)
            var success = function(result) {
    			   //   alert("removed")
                   //    return true
                      self.isWatched=false
                      
				}
			Utils.invokeMashup("removeWatchedOrder", success, self.watchListInput);

         }
         
    }
    ,
    computed: {
        totalPages: function() {
            return Math.ceil(this.gmeta['pagination']['resultCount'] / this.gmeta['pagination']['itemsPerPage'])
        }
  /*        ,
     isWatched: function () {
            var self=this;
           if (this.orderHeader.IsWatchedByUser ==='Y')
            {
                return true;
            }
           else{
              return false;
           } 
               
               
        }*/
    }
     ,
    filters: {
        paginate: function(list) {
          return GridUtils.paginate(this.gmeta, list, this.totalPages)
        }
      }
    ,
	  route: {
		data: function (transition) {
      // transition.next()
			var self = this
			var success = function(result) {
				var orderHeaderDet= {}
				orderHeaderDet = result
                self.isWatched=orderHeaderDet.IsWatchedByUser
              if(orderHeaderDet.IsWatchedByUser==='Y')
                self.isWatched=true
                else
			       self.isWatched=false
        GridUtils.resetEdit(self.gmeta, result.OrderLines.OrderLine)
  			transition.next({
              orderHeader: orderHeaderDet,
        			gridData: result.OrderLines.OrderLine
        })
			}

			Utils.invokeMashup("completeOrderDetails", success, self.OrderDetailsInput);
   	
    	}
	  },
	  beforeDestroy: function() {
	  	$(this.$el).remove();
	  	$(this.$el).removeData();
	  }
	}
</script>
