<template>
<div>
<div id="header"></div>
    <div class="container-fluid CustomHgt">
        <div class="row ">
       <!--     <div class="col-md-4">
                <ol class="breadcrumb cusbreadcrumb">
                    <li><a href="index.html">Dashboard</a></li>
                    <li><a href="orders.html">Orders</a></li>
                    <li class="active">Order Details</li>
                </ol>
            </div>-->
            <div class="col-md-8">
                <div class="alert alert-danger alert-dismissible hidden" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close" ><span aria-hidden="true">&times;</span></button>
                    <strong>  Message Title:</strong> A line of color-coded error/message/info text appears with <a href="" class="link">relevant link</a> </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" cz-shortcut-listen="true">
        <br>
      <div class="block"   v-if="OrderDet.HoldFlag === 'Y'" >
          <div class="alert alert-info" role="alert">
                 <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong> <i class="glyphicon glyphicon-lock"></i> On Hold:</strong> This order is on hold. 
              <!--<a href="" class="link">Click here to resolve</a>--> </div>
       </div>
         <div class="block"   v-if="OrderDet.isHistory === 'Y'" >
          <div class="alert alert-info" role="alert">
                 <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong> <i class="glyphicon glyphicon-lock"></i> This order is archived</strong>  
       </div>
             </div>
        <div class="block  clearfix">
            <h5 class="pull-left">Order Details</h5>
            <div class="pull-right">
           <!--     <a href="#" disabled>-->
                    <div class="btn btn-default SecondaryBtn" disabled>Edit Order</div>
             <!--     </a>-->
                <a href="modals/addnotes.html" data-target="#AddNotes" role="button" class="btn btn-default SecondaryBtn" data-toggle="modal" disabled>Notes &amp; Comments</a>
               <!--   <a href="alerts.html" disabled>-->
                    <div class="btn btn-default SecondaryBtn" disabled>View Alerts</div>
               <!--   </a>-->
                <div class="btn btn-default SecondaryBtn" disabled>Send Email</div>


            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="panel panel-default m-t-10">
                    <div class="panel-heading">Header Details
                        <div class="pull-right">
                              <div class="btn btn-default SecondaryBtn RemoveList" disabled>Remove From Watchlist</div>
                            <div class="btn btn-default SecondaryBtn AddList" disabled>Add to Watchlist</div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group clearfix m-t-10">
                                    <label for="" class="col-sm-6 control-label">Order No</label>
                                    <div class="col-sm-6">
                                        <span class="form-inline-left">{{OrderDet.OrderNo}}</span>
                                    </div>
                                </div>
                                 <div class="form-group clearfix m-t-10">
                                    <label for="" class="col-sm-6 control-label ">Document Type</label>
                                    <div class="col-sm-6">
                                        <span class="form-inline-left">{{OrderDet.DocumentType}}</span>
                                    </div>
                                </div>
                                
                                  <div class="form-group clearfix m-t-10">
                                    <label for="" class="col-sm-6 control-label ">Seller</label>
                                    <div class="col-sm-6">
                                        <span class="form-inline-left">{{OrderDet.SellerOrganizationCode}}</span>
                                    </div>
                                </div>
                                
                                <div class="form-group clearfix m-t-10">
                                    <label for="" class="col-sm-6 control-label">Created On</label>
                                    <div class="col-sm-6">
                                        <span class="form-inline-left"> {{formatForDisplay(OrderDet.OrderDate)}} </span>
                                    </div>
                                </div>
                                <div class="form-group clearfix m-t-10">
                                    <label for="" class="col-sm-6 control-label">Status</label>
                                    <div class="col-sm-6">
                                        <span class="form-inline-left">{{OrderDet.Status}}</span>
                                    </div>
                                </div>
                                   <div class="form-group clearfix m-t-10">
                                    <label for="" class="col-sm-6 control-label">Linked Order</label>
                                    <div class="col-sm-6">
                                      <span class="form-inline-left"> </span>
                                    </div>
                                </div>
                                
                                 
                                
                              <!-- <div class="form-group clearfix m-t-10">
                                    <label for="" class="col-sm-6 control-label">Is History</label>
                                    <div class="col-sm-6">
                                        <a href="orderdetails.html"><span class="form-inline-left">{{OrderDet.isHistory}}</span></a>
                                    </div>
                                </div>
                                <div class="form-group clearfix m-t-10">
                                    <label for="" class="col-sm-6 control-label">On Hold</label>
                                    <div class="col-sm-6">
                                        <a href="orderdetails.html"><span class="form-inline-left">{{OrderDet.HoldFlag}}</span></a>
                                    </div>
                                </div>-->
                            </div>
                            <div class="col-md-4">
                                
                                 <div class="form-group clearfix m-t-10">
                                    <label for="" class="col-sm-6 control-label">Order Name</label>
                                    <div class="col-sm-6">
                                        <a href="orderdetails.html"><span class="form-inline-left">{{OrderDet.OrderName}}</span></a>
                                    </div>
                                </div>
                                 <div class="form-group clearfix m-t-10">
                                    <label for="" class="col-sm-6 control-label ">Order Stream</label>
                                    <div class="col-sm-6">
                                        <span class="form-inline-left">{{OrderDet.DepartmentCode}}</span>
                                    </div>
                                </div>
                                
                                <div class="form-group clearfix m-t-10">
                                    <label for="" class="col-sm-6 control-label">Source Stream</label>
                                    <div class="col-sm-6">
                                        <a href="orderdetails.html"><span class="form-inline-left">{{OrderDet.EntryType}}</span></a>
                                    </div>
                                </div>
                                <div class="form-group clearfix m-t-10">
                                    <label for="" class="col-sm-6 control-label ">Requested Ship Date</label>
                                    <div class="col-sm-6">
                                        <span class="form-inline-left">{{formatForDisplay(OrderDet.ReqShipDate)}}</span>
                                    </div>
                                </div>
                                <div class="form-group clearfix m-t-10">
                                    <label for="" class="col-sm-6 control-label ">Consignments</label>
                                    <div class="col-sm-6">
                                        <span class="form-inline-left"> </span>
                                    </div>
                                </div>
                                <div class="form-group clearfix m-t-10">
                                    <label for="" class="col-sm-6 control-label ">Order Type</label>
                                    <div class="col-sm-6">
                                        <span class="form-inline-left">{{OrderDet.OrderType}}</span>
                                    </div>
                                </div>
                            </div>
                             <div class="col-md-4">
                                <div class="form-group clearfix m-t-10">
                                    <label for="" class="col-sm-6 control-label ">Order Value</label>
                                    <div class="col-sm-6">
                                        <span class="form-inline-left">{{getValue(OrderDet,"PriceInfo.TotalAmount")}} </span>
                                    </div>
                                </div>
                                 <div class="form-group clearfix m-t-10">
                                    <label for="" class="col-sm-6 control-label ">Cost Centre</label>
                                    <div class="col-sm-6">
                                        <span class="form-inline-left"> {{OrderDet.Division}}</span>
                                    </div>
                                </div>
                                 
                                   <div class="form-group clearfix m-t-10">
                                    <label for="" class="col-sm-6 control-label ">Phone Number </label>
                                    <div class="col-sm-6">
                                        <span class="form-inline-left">{{OrderDet.SearchCriteria2}}</span>
                                    </div>
                                </div>
                                 
                                <div class="form-group clearfix m-t-10">
                                    <label for="" class="col-sm-6 control-label ">Requested DeliveryDate</label>
                                    <div class="col-sm-6">
                                        <span class="form-inline-left"> {{formatForDisplay(OrderDet.ReqDeliveryDate)}} </span>
                                    </div>
                                </div>
                                
                               
                                 <div class="form-group clearfix m-t-10">
                                    <label for="" class="col-sm-6 control-label ">Project Number</label>
                                    <div class="col-sm-6">
                                        <span class="form-inline-left">{{OrderDet.SearchCriteria1}}</span>
                                    </div>
                                </div>
                                 <div class="form-group clearfix m-t-10">
                                    <label for="" class="col-sm-6 control-label ">Priority</label>
                                    <div class="col-sm-6">
                                        <span class="form-inline-left">{{OrderDet.PriorityCode}}</span>
                                    </div>
                                </div>
                                
                                 
                                 
                                 
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default m-t-10">
                    <div class="panel-heading">Ship To Address</div>
                    <div class="panel-body">
                        <div class="col-md-12">
                            
                            {{getValue(OrderDet,"PersonInfoShipTo.AddressLine1")}} 
                            {{getValue(OrderDet,"PersonInfoShipTo.AddressLine2")}}
                            {{getValue(OrderDet,"PersonInfoShipTo.AddressLine3")}}
                            {{getValue(OrderDet,"PersonInfoShipTo.City")}}
                            {{getValue(OrderDet,"PersonInfoShipTo.Company")}}
                             {{getValue(OrderDet,"PersonInfoShipTo.ZipCode")}}
                             {{getValue(OrderDet,"PersonInfoShipTo.Country")}}
                            
                        <!--      {{OrderDet.PersonInfoShipTo.AddressLine1}}
                            {{OrderDet.PersonInfoShipTo.AddressLine2}}
                            {{OrderDet.PersonInfoShipTo.AddressLine3}}
                            {{OrderDet.PersonInfoShipTo.City}}
                            {{OrderDet.PersonInfoShipTo.Company}}
                            {{OrderDet.PersonInfoShipTo.State}}
                            {{OrderDet.PersonInfoShipTo.ZipCode}}
                            {{OrderDet.PersonInfoShipTo.Country}}
                         <address>
                         <strong>Telstra</strong><br>
                         363 oxford St,<br>
                        Paddington<br>
                         Sydney NSW 2021<br>
                         Australia <br>
                     </address>-->
                        
                            &nbsp;&nbsp;
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Other Details
                <!--   
                 <a href="commitDelivery.html"> <div class="btn btn-default SecondaryBtn">Commit Delivery</div>  </a>   
                 <a href="createAsn.html"><div class="btn btn-default SecondaryBtn">Create ASN</div></a></span>--></div>
            <div class="panel-body">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#OrderLineItems" aria-controls="home" role="tab" data-toggle="tab">Order Line Items</a></li>
                    <li role="presentation"><a href="#ConsignmentTab" aria-controls="profile" role="tab" data-toggle="tab">Consignments</a></li>
                   

                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane table-wrapper-big  active" id="OrderLineItems">
                        <div class="table-wrapper">
                       
                            <table id="example" class="table table-striped table-hover dataTable" cellspacing="0" width="100%" role="grid" aria-describedby="example_info">
                                <thead>
                                    <tr role="row">
                             <!--           <th class="" style="width: 20px;">
                                            <input type="checkbox" id="test1"> </th>
                                        <th style="text-align: center; width: 30px;"> <i class="glyphicon glyphicon-star black text-center"></i> </th>
                                        <th style="text-align: center; width: 30px;"> <i class="glyphicon glyphicon-lock black text-center"></i> </th>-->
                                        <th></th>
                                          <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('PrimeLineNo',true)" :class="{active: gmeta.sort.key == 'PrimeLineNo'}" >PrimeLine Number   
                                        <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['PrimeLineNo'] > 0 ? 'sort-up' : 'sort-down'">
							             </span>
                                         </th>
                                          <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('Item.UnitOfMeasure')" :class="{active: gmeta.sort.key == 'Item.UnitOfMeasure'}" >UOM  
                                        <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['Item.UnitOfMeasure'] > 0 ? 'sort-up' : 'sort-down'">
							             </span>
                                         </th>
                                        
                                        
                                         <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('Item.ItemID')" :class="{active: gmeta.sort.key == 'Item.ItemID'}" >Item ID   
                                        <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['Item.ItemID'] > 0 ? 'sort-up' : 'sort-down'">
							             </span>
                                         </th>
                                        
                                        <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('Item.ItemShortDesc')" :class="{active: gmeta.sort.key == 'Item.ItemShortDesc'}" >Item Description  
                                        <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['Item.ItemShortDesc'] > 0 ? 'sort-up' : 'sort-down'">
							             </span>
                                         </th>
                                       
                                        
                                         <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('OrderedQty',true)" :class="{active: gmeta.sort.key == 'OrderedQty'}" >Order Quantity   
                                        <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['OrderedQty'] > 0 ? 'sort-up' : 'sort-down'">
							             </span>
                                         </th>
                                          <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('CommittedQuantity',true)" :class="{active: gmeta.sort.key == 'CommittedQuantity'}" v-if="OrderDet.DocumentType === '0005'" >Committed Quantity    
                                        <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['CommittedQuantity'] > 0 ? 'sort-up' : 'sort-down'">
							             </span>
                                         </th>
                                         <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('OrderLineTranQuantity.ShippedQuantity',true)" :class="{active: gmeta.sort.key == 'OrderLineTranQuantity.ShippedQuantity'}" >Shipped Quantity
                                        <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['OrderLineTranQuantity.ShippedQuantity'] > 0 ? 'sort-up' : 'sort-down'">
							             </span>
                                         </th>

                                        <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('Status')" :class="{active: gmeta.sort.key == 'Status'}" >Status 
                                        <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['Status'] > 0 ? 'sort-up' : 'sort-down'">
							             </span>
                                         </th>
                                    </tr>
                                </thead>
                                <tbody>
 <tr>
                                            <th class="center-filter">
                                                <div class="glyphicon glyphicon-filter"></div>
                                            </th>
                                            <td>
                                                <input type="text" v-model="gmeta.filter.PrimeLineNo">
                                            </td>
                                              <td>
                                                <input type="text" v-model="gmeta.filter.Item.UnitOfMeasure">
                                            </td>
                                             <td>
                                               
                                                <input type="text" v-model="gmeta.filter.Item.ItemID">
                                            </td>
                                            <td>
                                                <input type="text" v-model="gmeta.filter.Item.ItemShortDesc">
                                            </td>

                                           <td>
                                                <input type="text" v-model="gmeta.filter.OrderedQty">
                                            </td>

                                            <td v-if="OrderDet.DocumentType === '0005'">
                                                <input type="text" v-model="gmeta.filter.OrderLineTranQuantity.CommittedQuantity">
                                            </td>
                                           <td>
                                                <input type="text" v-model="gmeta.filter.OrderLineTranQuantity.ShippedQuantity">
                                            </td>
                                            <td>
                                                <input type="text" v-model="gmeta.filter.Status">
                                            </td>
                                            
                                        </tr>
                                       <tr  role="row" :class="[($index % 2) > 0 ? 'even' : 'odd']" 
                                v-for=" row in gridData 
                                | gridsorter gmeta.sort.key gmeta.sort.order gmeta.sort.numeric
                                | gridfilter gmeta.filter columns
                                | paginate " >
                                    
                              <!--   <tr  role="row" class="odd" 
                        v-for=" row in gridData 
                               | orderBy gmeta.sort.key gmeta.sort.order 
                               | gridfilter gmeta.filter columns
                               | paginate " >-->
                                     
					
                        
                                 <td></td>
                        <td>{{getValue(row, "PrimeLineNo") }} </td>
                        <td>{{getValue(row, "Item.UnitOfMeasure") }} </td>                   
                        <td> {{getValue(row, "Item.ItemID")}}    </td>
                        
                        <td> {{getValue(row, "Item.ItemShortDesc")}}     </td>
                      
                        <td> {{getValue(row, "OrderedQty")}}     </td>
                                           
                        <td v-if="OrderDet.DocumentType === '0005'" > {{getValue(row, "CommittedQuantity")}}     </td>
                                          
                        <td > {{getValue(row,"OrderLineTranQuantity.ShippedQuantity")}}</td>
                        <td> {{getValue(row, "Status")}}     </td>
                      
					</tr>
                                    
                                    
                               </tbody>
                            </table> 
                            
                                                <gridpagination 
                        :gmeta="gmeta"
                        :total-pages="totalPages"
                        v-on:setpage="setPage">
                    </gridpagination >
                            

                        </div>
                    </div>
                    
                    
                    
                    
                    
                    
                    <div role="tabpanel" class="tab-pane " id="ConsignmentTab">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="table-wrapper">
                                    <table id="example" class="table table-striped table-hover dataTable" cellspacing="0" width="100%" role="grid" aria-describedby="example_info" style="width: 100%;">
                                        <thead>
                                            <tr role="row">

                                                <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="">Shipment No</th>
                                                <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending">Status</th>

                                                <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="">Ship To Address</th>
                                                <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="">Containers</th>
                                                <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="">Carrier</th>
                                                <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="">Consignment</th>
                                                <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="">Expected Date</th>
                                                <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="">Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            <tr role="row" class="odd">

                                                <td class=""> <a href="shipmentDetails.html"> SN1828</a></td>

                                                <td class="">Shipped</td>
                                                <td class=""> <a href="modals/location_details.html" class="modalcls" data-toggle="modal" data-target="#shipping-modal">DC1</a></td>
                                                <td class="">2 Cases</td>
                                                <td class="">DHL</td>
                                                <td class="">12862323</td>
                                                <td class="">22/12/2015</td>
                                                <td><a href="consignment.html" title="Track Shipment" disabled><i class="fa fa-truck btn-primary " aria-hidden="true" ></i></a></td>

                                            </tr>
                                            <tr role="row" class="odd">

                                                <td class=""> <a href="shipmentDetails.html"> SN1828</a></td>

                                                <td class="">In Process</td>
                                                <td class=""> <a href="modals/location_details.html" class="modalcls" data-toggle="modal" data-target="#shipping-modal">DC1</a></td>
                                                <td class="">2 Cases</td>
                                                <td class="">DHL</td>
                                                <td class="">12862323</td>
                                                <td class="">22/12/2015</td>
                                                <td><i class="fa fa-truck btn btn-primary disabled disabledCls" role="button" aria-hidden="true" title="Track Shipment"></i></td>

                                            </tr>
                                            <tr role="row" class="odd">

                                                <td class=""> <a href="shipmentDetails.html"> SN1828</a></td>

                                                <td class="">Shipped</td>
                                                <td class=""> <a href="modals/location_details.html" class="modalcls" data-toggle="modal" data-target="#shipping-modal">DC1</a></td>
                                                <td class="">2 Cases</td>
                                                <td class="">DHL</td>
                                                <td class="">12862323</td>
                                                <td class="">22/12/2015</td>
                                                <td><a href="consignment.html" title="Track Shipment"><i class="fa fa-truck btn-primary " aria-hidden="true" ></i></a></td>

                                            </tr>
                                            <tr role="row" class="odd">

                                                <td class=""> <a href="shipmentDetails.html"> SN1828</a></td>

                                                <td class="">Shipped</td>
                                                <td class=""> <a href="modals/location_details.html" class="modalcls" data-toggle="modal" data-target="#shipping-modal">DC1</a></td>
                                                <td class="">2 Cases</td>
                                                <td class="">DHL</td>
                                                <td class="">12862323</td>
                                                <td class="">22/12/2015</td>
                                                <td><a href="consignment.html" title="Track Shipment"><i class="fa fa-truck btn-primary " aria-hidden="true" ></i></a></td>

                                            </tr>
                                            <tr role="row" class="odd">

                                                <td class=""> <a href="shipmentDetails.html"> SN1828</a></td>

                                                <td class="">In Process</td>
                                                <td class=""> <a href="modals/location_details.html" class="modalcls" data-toggle="modal" data-target="#shipping-modal">DC1</a></td>

                                                <td class="">2 Cases</td>
                                                <td class="">DHL</td>
                                                <td class="">12862323</td>
                                                <td class="">22/12/2015</td>
                                                <td><i class="fa fa-truck btn btn-primary disabled disabledCls" role="button" aria-hidden="true" title="Track Shipment"></i></td>

                                            </tr>

                                        </tbody>
                                    </table>

                                </div>

                            </div>
                        </div>
                    </div>
                  
                </div>

            </div>
        </div>
        <div class="modal fade" id="AddNotes" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                </div>
            </div>
        </div>

    </div>

        <div>
<input  value={{$route.query.key}}  type="hidden" v-model="Order.OrderHeaderKey"> </input></div>
        
    </div>
</template> 
<script>
    var Vue = require('vue')
	var Utils = require('./../utils/utils.js')
    var GridUtils = require('./../utils/gridutils.js')
    export default{
         data: function () {
          
         var OrderDet= {};
         var Order={};     
         var gridData=[]
         var columns =['PrimeLineNo','Item.UnitOfMeasure','Item.ItemID','Item.ItemShortDesc','OrderedQty','CommittedQuantity','OrderLineTranQuantity.ShippedQuantity','Status']
       var gmeta = {}
      // var showSearch =false
       GridUtils.populateGridMeta(gmeta, columns, false)
return{
    OrderDet:OrderDet,
    Order:Order,
    gridData:gridData,
    columns:columns,
    gmeta:gmeta
}
        },
    computed: {
      totalPages: function() {
        return Math.ceil(this.gmeta['pagination']['resultCount'] / this.gmeta['pagination']['itemsPerPage'])
      }
    }
  ,
  filters: {
	   	paginate: function(list) {
            return GridUtils.paginate(this.gmeta, list, this.totalPages)
	   	}
    }
  ,   
  
    
	  
methods: {	
      getValue: function(row, binding) {
          return Utils.getValue(row,binding)
      },
      setPage: function(pageNumber) {
          GridUtils.setPage(this.gmeta, pageNumber, this.totalPages)
      },

      formatForDisplay:function(serverDate) {
          return Utils.formatForDisplay(serverDate)
      },
       sortBy: function (key, numeric) {
          GridUtils.sortBy(this.gmeta, key, numeric)
      }
 
	
	
	
	},  
	  
		  route: {
		data: function (transition) {
		
			var self = this
		     
			var success = function(result) {


			transition.next({
                    gridData:result.OrderLines.OrderLine,
                    OrderDet:result
                  
        			
        		})
			}
			Utils.invokeMashup("completeOrderDetails", success, self.Order);
   	
    	}
	  },
	  beforeDestroy: function() {
	  	$(this.$el).remove();
	  	$(this.$el).removeData();
	  }
        
        
        
    }
</script>