<template>
<div>
  <div class="container-fluid CustomHgt">
        <div class="row ">
          <div class="col-md-4">
           <!-- <ol class="breadcrumb cusbreadcrumb">
              <li><a href="index.html">Dashboard</a></li>
                  <li class="active">Orders</li>
            </ol>-->
          </div>
          <div class="col-md-8">
            <div class="alert alert-danger alert-dismissible hidden" role="alert">
               <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong> Message Title:</strong>  A line of color-coded error/message/info text appears with <a href="" class="link">relevant link</a> </div>
          </div>
        </div>
               </div>
        <div class="container-fluid">

        <div class="block  clearfix">
        <h5 class="pull-left">Orders</h5>

      </div>
      <div class="panel panel-default">

        <div class="panel-heading">
           <div class="col-md-5  cal-box">
                                      Show
                                      <select class="select-style form-control">
                                          <option selected="All">All</option>
                                      </select>
                                      <div class="btn btn-default filter-panel-btn" @click="showSearch = !showSearch">
                                          <div class=""><i class="fa fa-search-plus" aria-hidden="true"></i></div>
                                      </div>
                                  </div>
            <div class="pull-right">
                 <div id="toolbar" hidden>
          <button id="remove" class="btn btn-default SecondaryBtn removebtn">
              Remove From Watchlist
          </button>
      </div>
            </div>

          </div>

               <form  v-if="showSearch">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h4 class="adavanceSearch">Advanced Search</h4>
               
                                                 

                                                        <div class="form-group col-md-3">
                                                            <label for="exampleInputEmail1">Order Number</label>
                                                            <input type="text" class="form-control " placeholder="OrderNumber" v-model="orderSearchModel.OrderNo"  >
                                                        </div>
    
                                                           <div class="form-group col-md-3">
                                                            <label for="exampleInputEmail1" >Order Name</label>
                                                            <input type="text" class="form-control " placeholder="OrderName" v-model="orderSearchModel.OrderName"  >
                                                        </div>
    
                                                       
                                                      
                                                        
                                                 
                                         <div class="form-group col-md-3">
                                             <label for="exampleSelect1">Status</label>
                                             <div class="row CusDateContainer">
                                             <div class="col-md-6">
     <select class="form-control" id="exampleSelect1" v-model="orderSearchModel.FromStatus" placeholder="From">
                                                      	<option v-for="status in statusList" v-bind:value="status.Status">{{status.StatusName}}</option>
      
                                                    </select>
                                                        
    </div>

                                                 <div class="col-md-6">
                                                     <select class="form-control" id="exampleSelect1"  
                                                                               v-model="orderSearchModel.ToStatus" placeholder="To">

                                                                	<option v-for="status in statusList" v-bind:value="status.Status">{{status.StatusName}}</option>
    </select>
    </div>
                                                            </div>
                                         </div>
                                                      <!--
                                                     <div class="form-group col-md-3">
                                                             
                                                              <label for="exampleSelect1">From Location</label>
                                                             <input type="text" class="form-control" placeholder="From Location" >
    
                                                      
                                                        </div>-->
    
                                                          <div class="form-group col-md-3">
                                                            <label for="exampleInputEmail1">Item Id</label>
                                                            <input type="text" class="form-control" placeholder="Item Id" v-model="orderSearchModel.OrderLine.Item.ItemID">
                                                        </div>
                                                           <div class="form-group col-md-3">
                                                            <label for="exampleInputEmail1">Item Description</label>
                                                            <input type="text" class="form-control" placeholder="Item Description" v-model="orderSearchModel.OrderLine.Item.ItemShortDesc">
                                                        </div>
                                           <div class="form-group col-md-3">
                                                            <label for="exampleInputEmail1">Supplier Item</label>
                                                            <input type="text" class="form-control" placeholder="Supplier Item" v-model="orderSearchModel.OrderLine.Item.SupplierItem">
                                                        </div>
                                                          <div class="form-group col-md-3 ">
                                                            <label for="exampleInputEmail1">Order Date</label>
                                                              <div class="row CusDateContainer">
                                                              <div class="col-md-6">
                                                             <input type="text" class="form-control " placeholder="From date" v-datepicker="orderSearchModel.FromOrderDate">
                                                                  <span class="glyphicon glyphicon-calendar form-control-feedback" aria-hidden="true"></span>
                                                                </div>
                                                              <div class="col-md-6">
                                                               <input type="text" class="form-control" placeholder="To date" v-datepicker="orderSearchModel.ToOrderDate">
                                                                  <span class="glyphicon glyphicon-calendar form-control-feedback" aria-hidden="true"></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                   <div class="form-group col-md-3">
                                                            <label for="exampleInputEmail1">Req Delivery Date</label>
                                                         
                                                               <div class="row CusDateContainer">
                                                              <div class="col-md-6">
                                                            <input type="text" class="form-control " placeholder="From Date" v-datepicker="orderSearchModel.FromReqDeliveryDate">
                                                                  <span class="glyphicon glyphicon-calendar form-control-feedback" aria-hidden="true"></span>
    </div>
                                                        
                                                              <div class="col-md-6">
                                                              <input type="text" class="form-control" placeholder="To Date" v-datepicker="orderSearchModel.ToReqDeliveryDate">
                                                                  <span class="glyphicon glyphicon-calendar form-control-feedback" aria-hidden="true"></span>
    </div>
    </div>
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <label for="exampleInputEmail1">Req Ship Date</label>
                                                
                                                             <div class="row CusDateContainer">
                                                              <div class="col-md-6">
                                                            <input type="text" class="form-control " placeholder="From Date" v-datepicker="orderSearchModel.FromReqShipDate">
                                                                  <span class="glyphicon glyphicon-calendar form-control-feedback" aria-hidden="true"></span>
    </div>
                                                                
                                                              <div class="col-md-6">
                                                            <input type="text" class="form-control" placeholder="To Date" v-datepicker="orderSearchModel.ToReqShipDate">
                                                                  <span class="glyphicon glyphicon-calendar form-control-feedback" aria-hidden="true"></span>
    </div>
    </div>
                                                        </div>
                                                    
                                                        <div class="form-group col-md-3">
                                                            <label for="exampleInputEmail1">Maximum Records</label>
                                                            <input type="number" class="form-control" placeholder="Maximum records" v-model="orderSearchModel.MaximumRecords">
                                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="col-md-2 pad-left-10 pull-right">
                                         <button type="submit" class=" col-md-3 btn btn-primary btn-block" v-on:click.stop="orderSearch">Search</button>
    </div>
 
                                    <!-- <div class="col-md-2 pad-left-10 pull-right">
                                    <div class="btn btn-primary btn-block" v-on:click.stop="orderSearch">
                                        Search
                                    </div>
                                </div>-->
    </div>
                                </div>  
                              </form>
<div class="clearfix"></div>
        <div class="panel-body">
        <div class="row">
            <div class="col-sm-12">
              <div class="table-wrapper">
 <table id="example" class="table table-striped table-hover dataTable" cellspacing="0" width="100%" role="grid" aria-describedby="example_info">
                                <thead>
                                    <tr role="row">
                             <!--           <th class="" style="width: 20px;">
                                            <input type="checkbox" id="test1"> </th>-->

                                         <th style="text-align: center; width: 30px;"> <i class="glyphicon glyphicon-star black text-center"></i> </th>
                                        
                                         <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('OrderNo')" :class="{active: gmeta.sort.key == 'OrderNo'}" >Order Number    
                                        <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['OrderNo'] > 0 ? 'sort-up' : 'sort-down'">
							             </span>
                                         </th>
                                        
                                        <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('OrderName')" :class="{active: gmeta.sort.key == 'OrderName'}" >Order Name     
                                        <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['OrderName'] > 0 ? 'sort-up' : 'sort-down'">
							             </span>
                                         </th>
                                         <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('Status')" :class="{active: gmeta.sort.key == 'Status'}" >Status    
                                        <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['Status'] > 0 ? 'sort-up' : 'sort-down'">
							             </span>
                                         </th>
                                        
                                         <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('OrderDate')" :class="{active: gmeta.sort.key == 'OrderDate'}" >Order Date    
                                        <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['OrderDate'] > 0 ? 'sort-up' : 'sort-down'">
							             </span>
                                         </th>
                                       
                                        <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('ReqDeliveryDate')" :class="{active: gmeta.sort.key == 'ReqDeliveryDate'}" >Requested Date    
                                        <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['ReqDeliveryDate'] > 0 ? 'sort-up' : 'sort-down'">
							             </span>
                                         </th>
                                        <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('PriceInfo.TotalAmount',true)" :class="{active: gmeta.sort.key == 'PriceInfo.TotalAmount'}" >Order Value  
                                        <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['PriceInfo.TotalAmount'] > 0 ? 'sort-up' : 'sort-down'">
							             </span>
                                         </th>
                                        <th  >Actions 
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
 <tr>
                                            <th class="center-filter">
                                                <div class="glyphicon glyphicon-filter"></div>
                                            </th>
                                           
                                           
                                             <td>
                                                <input type="text" v-model="gmeta.filter.OrderNo">
                                            </td>
                                            <td>
                                                <input type="text" v-model="gmeta.filter.OrderName">
                                            </td>
                                            <td>
                                                <input type="text" v-model="gmeta.filter.Status">
                                            </td>
                                           
                                            <td>
                                                <input type="text" v-model="gmeta.filter.OrderDate">
                                            </td>
                                          
                                            <td>
                                                <input type="text" v-model="gmeta.filter.ReqDeliveryDate">
                                            </td>
                                            <td>
                                                <input type="text" v-model="gmeta.filter.PriceInfo.TotalAmount">
                                            </td>
                                           <td></td>
                                        </tr>
                                       <tr  role="row" :class="[($index % 2) > 0 ? 'even' : 'odd']" 
                                v-for=" row in gridData 
                                | gridsorter gmeta.sort.key gmeta.sort.order gmeta.sort.numeric
                                | gridfilter gmeta.filter columns
                                | paginate " >
                                    
                              <!--   <tr  role="row" class="odd" 
                        v-for=" row in gridData 
                               | orderBy gmeta.sort.key gmeta.sort.order 
                               | gridfilter gmeta.filter columns
                               | paginate " >-->
                                     
				<td v-if="row.IsWatchedByUser==='Y'"><a href="javascript:void(0);" class="icon-toggle" title="Watched"><i class="glyphicon glyphicon-star"></i></a></td>
                          <td v-if="row.IsWatchedByUser==='N'"><a href="javascript:void(0);" class="icon-toggle" title="Removed"><i class="glyphicon glyphicon-star-empty"></i></a></td>      
                                      
                        
                                     
                        <td><a v-link="{ path: '/orderdetails',query:{key:row['OrderHeaderKey']}}"> {{getValue(row, "OrderNo")}}  </a>   </td>
                        
                        <td> {{getValue(row, "OrderName")}}     </td>
                        <td>{{getValue(row, "Status") }} </td>
                        <td> {{formatForDisplay(getValue(row, "OrderDate"))}}     </td>
                    
                        <td> {{formatForDisplay(getValue(row, "ReqDeliveryDate") )}}     </td>
                        <td style="text-align:right; padding-right:40px"> {{getValue(row, "PriceInfo.TotalAmount")}}     </td>
                                           
                          <td><a class="btn ok CusIcon disabled" href="javascript:void(0)" title="Accept" id="CusIconBtn"><i class="glyphicon glyphicon-ok"></i></a> 
                              <a class="btn remove CusIcon disabled" href="javascript:void(0)" title="Remove"><i class="glyphicon glyphicon-remove"></i></a></td>                 
                      
					</tr>
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                </tbody>
                            </table>
                            <div class="row m-t-7">
                              <div class="row m-t-7">
                    <gridpagination 
                        :gmeta="gmeta"
                        :total-pages="totalPages"
                        v-on:setpage="setPage">
                    </gridpagination >

   </div>

          </div>
        </div>
      </div>
     </div>
        </div>


       </div>
            </div>
    </div>


    </template>
<script>
    var Vue = require('vue')
	var Utils = require('./../utils/utils.js')
    var GridUtils = require('./../utils/gridutils.js')
    export default{

        	 props: {
             data: Array,
             height: Number,

	        },
	  data: function () {
           var filterKey="Y"
          var orderSearchModel = {
            'OrderNo': '',
            'OrderName':'',
            'DocumentType':'',
            'OrderDate':'',
            'ReadFromHistory':'B',
            'OrderLine': {
                  'Item': {
                     ItemID:'',
                     ItemShortDesc:'',
                   }
            },
            'SellerOrganizationCode':'',
            'SearchCriteria1' :'',
            'SearchCriteria2':'',
            'ReqDeliveryDate':'',
            'ReqShipDate':'' ,
            'MaximumRecords': '50'
         }
      
        var columns =[ 'OrderNo','OrderName','Status','OrderDate','ReqDeliveryDate','PriceInfo.TotalAmount']
       var gmeta = {}
       var showSearch =false
       GridUtils.populateGridMeta(gmeta, columns, false)

	  	var gridData = []
        var documentData = []
        var statusList =[]
	    var statusList1 =[]
        var documentData1=[]
        var documentData2=[]
        var documentData3=[]
//        var shipNodeList=[]
	    return {
           orderSearchModel:orderSearchModel,
	    	columns: columns,
	        gridData: gridData,
            showSearch: showSearch,
            statusList:statusList,
   //         statusList1:statusList1,
            documentData:documentData,
            gmeta: gmeta,
            documentData1:documentData1,
            documentData2:documentData2,
            documentData3:documentData3
	       }
      },


	route: {
		data: function (transition) {



		   var loadDocument=function(documentresult){
                    var alldocuments=[];
                alldocuments=alldocuments.concat(documentresult.documentTypeList.DocumentParams)
               alldocuments=alldocuments.concat(documentresult.documentTypeList1.DocumentParams)
               alldocuments=alldocuments.concat(documentresult.documentTypeList2.DocumentParams)

            var loadStatus = function(result) {
                                       var success = function(orderresult) {
                                            transition.next({
                                                            gridData : orderresult.Order,
                                                            statusList : result.Status,
                                                            documentData1:documentresult.documentTypeList.DocumentParams,
                                                            documentData2:documentresult.documentTypeList1.DocumentParams,
                                                            documentData3:documentresult.documentTypeList2.DocumentParams,
                                                            documentData: alldocuments
                                                          
                                                            })
                                                                            }
                                        Utils.invokeMashup("orderList", success, self.Order);
                                             
                                            }

                                        Utils.invokeMashup("statusList", loadStatus, self.Status);


           }
                              Utils.invokeMashup("documentTypeAggregator",loadDocument, self.Status);



		}




    },

  computed: {
      totalPages: function() {
        return Math.ceil(this.gmeta['pagination']['resultCount'] / this.gmeta['pagination']['itemsPerPage'])
      }
    }
  ,
  filters: {
	   	paginate: function(list) {
            return GridUtils.paginate(this.gmeta, list, this.totalPages)
	   	}
    }
  ,
  methods: {
      getValue: function(row, binding) {
          return Utils.getValue(row,binding)
      },
      setPage: function(pageNumber) {
          GridUtils.setPage(this.gmeta, pageNumber, this.totalPages)
      },
//      sortBy: function (key) {
//          GridUtils.sortBy(this.gmeta, key)
//      },
      formatForDisplay:function(serverDate) {
          return Utils.formatForDisplay(serverDate)
      },
       sortBy: function (key, numeric) {
          GridUtils.sortBy(this.gmeta, key, numeric)
      },


   orderSearch: function(event) {
	        event.preventDefault()

	        var self = this

			var success = function(result) {
    			self.gridData = result.Order
				self.showSearch=false
			}
			Utils.invokeMashup("orderList", success, self.orderSearchModel);

	      }




  }
  ,

	beforeDestroy: function() {
	  	$(this.$el).remove();
	  	$(this.$el).removeData();
	  }
    }


</script>
