<template>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" v-on:click="cancel()">&times;</button>
    <h4 class="modal-title">Manage Commitment: {{getValue(orderline, 'Item.ItemID')}}</h4>
  </div>
  <div class="modal-body">
   <div class="row">
    <div class="col-md-12">
      <form class="form-inline CusCommitment" role="form">
        <br>
        <div class="form-group col-md-3">
          <label for="" class="col-md-12 control-label">Order Quantity</label>
          <div class="col-md-12">
            <span class="form-inline-left">{{getValue(orderline, 'OrderedQty')}}</span>
          </div>
        </div>
        <div class="form-group col-md-5">
          <label for="" class="col-md-12 control-label">Committed Quantity</label>
          <div class="col-md-12">
            <input type="text" class="form-control" value="{{committedQuantity}}" disabled>
          </div>
        </div>
      </form>
      <div class="clearfix"></div>
      <hr>
    </div>


    <div class="col-md-12">
      <div class=""> 
        <div class="block"><label style="font-weight:600;">Commitment Schedule</label></div>
        <div class="">

          <form class="form-inline Commitmentcls" role="form" v-on:submit.stop.prevent="addNewSchedule()">
            <div class="col-md-4"> <div class="form-group">
              <label for="text">Date</label>
              <input type="text" class="form-control" v-datepicker="newSchedule.CommitShipDate">
            </div></div>
            <div class="col-md-4"> <div class="form-group">
              <label for="text">Quantity</label>
              <input type="text" class="form-control" v-model="newSchedule.CommittedQuantity" number>
            </div></div>   
            <div class="col-md-2"> <div class="form-group">
                <label>&nbsp;</label>
              <button type="submit" class="btn btn-default btn-primary" v-bind:disabled="showAdd()">Add</button>
            </div></div>
          <div class="clearfix"></div>
          &nbsp;
          </form>  


          <form v-for="schedule in orderline.Extn.OrderLineCommitmentList.OrderLineCommitment" class="form-inline Commitmentcls" role="form">
            <div class="col-md-2"> <div class="form-group">
              <label for="text">Sl No</label>
              <span class="form-inline-left">{{$index + 1}}</span>
            </div></div>
            <div class="col-md-4"> <div class="form-group">
              <label for="text">Date</label>
              <input type="text" class="form-control" v-datepicker="schedule.CommitShipDate">
            </div></div>
            <div class="col-md-4"> <div class="form-group">
              <label for="text">Quantity</label>
              <input type="text" class="form-control" v-model="schedule.CommittedQuantity" number>
            </div></div>   
          <div class="clearfix"></div>
          &nbsp;
          </form>  
      </div>
    </div>

  </div>
</div>
</div>
<div class="modal-footer">
  <div>{{errorMessage}}</div>
  <button type="button" class="btn btn-primary" data-dismiss="modal" v-on:click="apply()" v-show="canSave()">Apply</button>
  <button type="button" class="btn btn-default SecondaryBtn" data-dismiss="modal" v-on:click="cancel()">Close</button>
</div>
</template>

<script>
  var Vue = require('vue')
  var Utils = require('./../utils/utils.js')
  var GridUtils = require('./../utils/gridutils.js')
  export default {
    props: {
      orderline: Object
    },
    data: function () {
      var errorMessage = ""
      var newSchedule = this.getNewSchedule()
      return {
        errorMessage: errorMessage,
        newSchedule: newSchedule
      }
    },
    methods: {
      addNewSchedule: function() {
        var extn= this.orderline.Extn
        if(!extn) {
          this.orderline.Extn = {}  
        }
        var schedules = this.getValue(this.orderline,'Extn.OrderLineCommitmentList.OrderLineCommitment')
        if(!schedules) {
          
          this.orderline.Extn.OrderLineCommitmentList = {}
          this.orderline.Extn.OrderLineCommitmentList.OrderLineCommitment= []
          schedules = this.getValue(this.orderline, 'Extn.OrderLineCommitmentList.OrderLineCommitment')
        }
        schedules.push(this.newSchedule)
        this.newSchedule = this.getNewSchedule()
      },
      getNewSchedule: function() {
        var schedule = {}
        schedule.CommitShipDate = ""
        schedule.CommittedQuantity = 0
        return schedule
      },
      getValue: function(data, binding) {
        return Utils.getValue(data,binding)
      },
      cancel: function() {
        this.$dispatch('cancel')
      },
      apply: function() {
        this.$dispatch('apply')
      },
      isValid: function() {
        var orderQuantity = Number(this.orderline.OrderedQty)
        var valid = (orderQuantity >= this.committedQuantity)
        if(valid) {
          this.errorMessage = ""
        } else {
          this.errorMessage = "Commited quantity is greater than ordered quantity."
        }
        return valid
      },
      canSave: function() {
        if(!this.isValid()) {
          return false
        }
        // var schedules = this.getValue(this.orderline, 'Schedules.Schedule')
        // if(!schedules) {
        //   return true
        // }
        // for (var i = schedules.length - 1; i >= 0; i--) {
        //   var schedule = schedules[i];
        //   console.log(schedule.ExpectedShipmentDate)
        //   console.log(schedule.Quantity)
        //   if(!schedule.ExpectedShipmentDate || !schedule.Quantity) {
        //     return false
        //   }
        // }
        return true
      },
      showAdd: function() {
               
       
        if( this.newSchedule.CommitShipDate && (this.newSchedule.CommittedQuantity>0)) {
          return false
        }
     
        return true
      }
    },
    computed: {
      committedQuantity: function() {
        var schedules = this.getValue(this.orderline, 'Extn.OrderLineCommitmentList.OrderLineCommitment')
        if(!schedules) {
          return 0
        }
        var committedQuantity = 0
        schedules.forEach(function (schedule) {
          committedQuantity += Number(schedule.CommittedQuantity)
        })
        return committedQuantity
      }
    }
  }
</script>
