.badge {
  background: #828080;
  margin-top: 4px;
    
}

.icon-pills {
  border: 1px solid #ddd;
  padding: 5px;
  border-radius: 2px;
  margin-bottom: 15px;
  background: #f5f5f5;
  cursor: pointer;
  display: table;
  width: 100%;
}

.icon-pills:hover {
  background: #fff;
}

.icon-pills .icon-pills-wrapper {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.icon-pills .glyphicon {
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 24px;
}

.icon-pills .glyphicon-class {
  display: block;
  text-align: center;
  word-wrap: break-word;
  margin-top: -8px;
  font-size: 12px;
}

.icon-pills-block [class*=" flaticon-"]:after,
.icon-pills-block [class*=" flaticon-"]:before,
.icon-pills-block [class^="flaticon-"]:after,
.icon-pills-block [class^="flaticon-"]:before {
  font-size: 44px;
}

.status-number p {
  color: #6a6c6f;
  font-weight: 300;
}

.glyphicon-menu-left.text-muted {
  cursor: none;
  text-decoration: none;
}

.badge {
  background: #828080;
  margin-top: 4px;
}

i.glyphicon.glyphicon-star {
  color: #4178BC;
  font-size: 16px;
}

i.glyphicon.glyphicon-star-empty {
  color: #9E9E9E;
  font-size: 16px;
}

i.glyphicon.glyphicon-star.black {
  color: #6E6C6F;
}

a.editable.editable-click.editable-empty {
  color: #fff;
}

a.btn.modalcls {
  padding: 0 0 1px;
}

label.btn.btn-primary.toggle-on {
  padding-top: 8px;
}

i.fa.fa-truck.btn-primary {
  margin-left: 13px;
  padding: 6px;
  border: #d0d0d0;
  border-radius: 49% !important;
}

i.fa.fa-list-alt {
  font-size: 14px;
  font-weight: 300;
}

i.glyphicon.glyphicon-ok-circle {
  font-size: 16px;
  color: #279253;
}

i.glyphicon.glyphicon-arrow-down,
i.glyphicon.glyphicon-arrow-up {
  font-size: 16px;
  color: #ea2424;
}

span.badge.label-info {
  background: #39a59a !important;
}

.col-md-2.pad-left-10.pull-right {
  margin-bottom: 10px;
  padding-right: 21px;
}

li.pagination__ellipsis .glyphicon {
  font-size: 16px;
  margin-top: 9px;
}

li.pagination__ellipsis {
  /* width: 18px; */
  margin-right: 2px;
}

span.fa.fa-sort.pull-right {
  line-height: 19px;
  color: gainsboro;
}
ul.list-unstyled.Order_summary{
.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 11px;
    font-weight: 100;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #777;
    border-radius: 10px;
}
}

.RoundBadge {
    width: 4px;
    height: 0;
    border: 4px solid #9a9a9a;
    overflow: hidden;
    display: inline-block;
    border-radius: 49%;
    margin-right: 6px;
}
span.badgeText {
    font-size: 11px;
    /* text-transform: capitalize; */
    font-weight: 100;
    /* padding-top: 8px; */
    margin-top: 6px;
    margin-right: 8px;
    display: inline-block;
    color: #8b8b8b;
}
span.RoundBadge.red {
    border: 4px solid rgb(57, 165, 154);
}
header i.glyphicon.glyphicon-user{
    margin-top: -1px !important;
}