button.btn.btn-primary.SecondaryBtn.dropdown-toggle {
  text-transform: uppercase;
}

.btn-default .glyphicon,
.button-primary .glyphicon {
  font-size: 20px;
}

.btn-default,
.button-primary {
  background-color: #4178BC;
  border-color: transparent;
  font-size: 11px !important;
  text-transform: uppercase !important;
  color: #fff;
  padding: 1px 10px !important;
  border-radius: 2px !important;
  margin-left: 3px;
  margin-top: 0;
  margin-right: 2px;
}

.btn-primary {
  font-size: 13px;
  padding: 4px 7px;
  border: none;
}

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  cursor: inherit;
  display: block;
}

.btn.btn-default.pull-right,
.btn.pull-right.button-primary {
  margin-top: 3px;
}

.btn.SecondaryBtn.button-primary,
.btn.btn-default.SecondaryBtn,
.btn.btn-primary {
  background: transparent;
  color: #4178be;
  border: 1px solid #4178be;
  border-radius: 0 !important;
  font-weight: 100;
  margin-top: 3px;
}

.btn.SecondaryBtn.button-primary:hover,
.btn.btn-default,
.btn.btn-default.SecondaryBtn:hover,
.btn.btn-primary:hover,
.btn.button-primary {
  background: #4178be;
  color: #fff;
  border: 1px solid #4178be;
  border-radius: 0 !important;
  font-weight: 100;
}

.btn.btn-default:hover,
.btn.button-primary:hover {
  background: #325c80;
  border: 1px solid #325c80;
}

button.btn.dropdown-toggle.btn-default,
button.btn.dropdown-toggle.button-primary {
  background: #fff;
  height: 23px;
  border-color: #bdbcbc;
  color: #777;
}

.btn-login {
  background-color: #008fe2;
  outline: none;
  color: #fff;
  font-size: 14px;
  height: auto;
  font-weight: normal;
  padding: 6px 0;
  text-transform: uppercase;
  width: 100%;
  border-color: #59B2E6;
}

.btn-login:focus,
.btn-login:hover {
  color: #fff;
  background-color: #53A3CD;
  border-color: #53A3CD;
}

.button-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}

.btn-default:hover,
.button-primary:hover {
  color: #E8E8E8;
  background-color: #325C80;
  border-color: transparent;
}

button#remove {
  padding: 1px 8px;
}

button.btn.btn-default.commitment,
button.btn.commitment.button-primary {
  padding: 7px 6px 5px !important;
  border-radius: 49% !important;
}

a.btn.modalcls.cusCommit {
  padding: 0;
}

button.btn.btn-info.addbtn {
  height: 31px;
  margin-left: 7px;
  padding-top: 5px;
}

button.btn.btn-default.dropdown-toggle,
button.btn.dropdown-toggle.button-primary {
  margin-top: 0;
}

.btn.btn-default.removebtn,
.btn.removebtn.button-primary {
  margin-top: 2px;
}