.watchlist-badge-panel .list-inline {
  display: inline-block;
  margin-left: 10px;
}

.watchlist-badge-panel .list-inline > li {
  padding: 0;
} 


.filter-panel-block {
  display: none;
  padding: 0px;
  border-radius: 3px;
  background: white;
  border-bottom: 1px solid #dddddd;
}

.panel-body .block {
  display: block;
  margin-bottom: 15px
}

.panel {
  margin-bottom: 20px; 
}


.panel-body .btn-default, .panel-body .button-primary {
  padding: 4px 7px;
  font-size: 13px;
  text-transform: capitalize; }
.panel-body .select-style.form-control {
  height: 24px;
  font-size: 13px; }
.panel-body input[type="text"] {
  height: 24px;
  font-size: 12px; }
  .panel-body input[type="text"].h-auto {
    height: auto; }
.panel-body .form-group {
  margin-bottom: 0; }
.panel-body address {
  margin-bottom: 0px; }
.panel-body.p-l-r-15 {
  padding: 5px 15px 5px 15px; }
.panel-body h6 {
  font-weight: bold;
  border-bottom: 1px solid #ddd;
  margin: 0 0 4px 0; }

.panel-heading {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 13px;
  color: #4178BC; }
  .panel-heading h5 {
      margin: 4px 8px;
    font-weight: 500;
    font-size: 13px;
    color: #2066ab; }



.group-name-body .form-control {
    display: inline-block;
    width: 50%;
    margin-left: 5px;
    margin-bottom: 10px;
}
.panel-default > .panel-heading {
    background-color: #EFEFEF;
    border-color: #C5CED6;
    color: #4178BC;
    font-weight: bold;
}

.add-report-block .box {
    height: 70px;
    margin-bottom: 30px;
}

.panel-body {
    padding: 5px;
    .table-wrapper {
      background: #fff;
      padding: 0;
  }
}
.panel-default > .panel-heading {
    padding: 5px;
    display: inline-block;
    width: 100%;
}

.progress-panel .progress {
    float: right;
    width: 110px;
    height: 10px;
    margin-top: 5px;
}

.progress-panel .progress.progress-last {
    margin-bottom: 0;
}

.panel,
.panel-heading,
.btn,
.alert {
    border-radius: 0;
}


.vendor-box .form-group {
    margin-bottom: 5px;
}
.vendor-box-row-2 .panel-body {
    min-height: 250px;
}
.vendor-box-row-1 .panel-body {
    min-height: 175px;
}

.panel-consignment h4 a {
    font-size: 12px;
    display: block;
    font-weight: 600;
}
.panel-consignment .panel-group .panel {
    border-radius: 0;
}
.panel-consignment .panel-body .panel-heading {
    background: #ddd;
}
.panel-consignment .accordion-toggle {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
.panel-consignment .accordion-toggle:after {
    content: "\2601";
}
.panel-consignment .panel-heading {
    position: relative;
}
.panel-consignment .glyphicon-chevron-down {
    position: absolute;
    right: 10px;
    top: 3px;
    z-index: -1;
}
.panel-alert-heading {
    background: #ddd !important;
    line-height: 25px;
}

#alert-modal .panel-body {
    height: 180px;
    overflow-y: scroll;
}
#alert-modal .panel-body a {
    font-size: 13px;
}

.panel-body {
    position: relative;
}

.panel-login {
    border-color: #ccc;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
}
.panel-login > .panel-heading {
    color: #00415d;
    background-color: #fff;
    border-color: #fff;
    text-align: center;
}
.panel-login > .panel-heading a {
    text-decoration: none;
    color: #666;
    font-weight: bold;
    font-size: 15px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}
.panel-login > .panel-heading a.active {
    color: #008fe2;
    font-size: 18px;
}
.panel-login > .panel-heading hr {
    margin-top: 10px;
    margin-bottom: 0px;
    clear: both;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, transparent, rgba(0, 0, 0, 0.15), transparent);
    background-image: -moz-linear-gradient(left, transparent, rgba(0, 0, 0, 0.15), transparent);
    background-image: -ms-linear-gradient(left, transparent, rgba(0, 0, 0, 0.15), transparent);
    background-image: -o-linear-gradient(left, transparent, rgba(0, 0, 0, 0.15), transparent);
}
.panel-login input[type="text"],
.panel-login input[type="email"],
.panel-login input[type="password"] {
    height: 32px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    font-size: 16px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}
.panel-login input:hover,
.panel-login input:focus {
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-color: #ccc;
}

.panel-heading span.pull-right {
    margin-top: -3px;
}

.panel-body.CuspanelBody {
    padding: 13px 15px 15px 15px;
}

.col-md-4.PrimaryContent, .col-md-4.AddContent {
    border-bottom: 1px solid #dddddd;
    padding-bottom: 10px;
    margin-bottom: 5px;
}