<div class="modal-header">
              
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="Notes">Notes &amp; Comments</h4>
              
          </div>
<div class="modal-body">
         
   <div class="col-md-12">
         <div class="panel panel-default m-t-10">
              <div class="panel-heading clearfix panel-alert-heading" >  <div class="i-block pull-left">Comments</div> <!--<div class="btn btn-default pull-right" id="AddNotesId">Add Note</div> --></div>
              <div class="panel-body">
                <a href="">dd/mm/yyyy hh:mm:ss - UserName</a>
                <span class="block">Comments appear in reverse chronogical order</span>
                
                <a href="" class="m-t-10 block">dd/mm/yyyy hh:mm:ss - UserName</a>
                <span class="block">Comments appear in reverse chronogical order</span>
                
                <a href="" class="m-t-10 block">dd/mm/yyyy hh:mm:ss - UserName</a>
                <span class="block">Comments appear in reverse chronogical order</span>
                
                <a href="" class="m-t-10 block">dd/mm/yyyy hh:mm:ss - UserName</a>
                <span class="block">Comments appear in reverse chronogical order</span>
              </div>
          <div class="AddnoteContianer">
              <div class="panel-heading clearfix panel-alert-heading"><div class="i-block pull-left">Add Notes</div></div>
              <div class="panel-body">
                <textarea class="form-control" rows="5" id="comment"></textarea>
              </div>
             </div>
            </div>
  
     <!--  <div class="row">      
       <div class="col-md-12">
             <div class="form-group">
  <label for="comment">Add Notes</label>
  <textarea class="form-control" rows="5" id="comment"></textarea>
</div>
 
             </div>
       </div>-->
          </div>
</div>
            <div class="modal-footer">
                 <button type="button" class="btn btn-default">Save</button>
            <button type="button" class="btn btn-default SecondaryBtn" data-dismiss="modal">Close</button>
          </div>

