    <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Manage Commitment: AD1241-002</h4>
        </div>
        <div class="modal-body">
           <div class="row">
                <div class="col-md-12">
                    <form class="form-inline CusCommitment" role="form">
                   <div class="row">
                  <div class="form-group col-md-3">
                      <label for="" class="col-md-12 control-label">Order Quantity</label>
                      <div class="col-md-12">
                        <span class="form-inline-left"> 25</span>
                      </div>
                    </div>
                    <div class="form-group col-md-5">
                      <label for="" class="col-md-12 control-label">Committed Quantity</label>
                      <div class="col-md-12">
                        <input type="text" class="form-control" value="0" disabled>
                      </div>
                    </div>
                        </div>
                    </form>
                    <div class="clearfix"></div>
                    <hr>
                </div>
                  
                <div class="col-md-12">
                  <div class=""> 
                    <div class="block"><label style="font-weight:600;">Commitment Schedule</label></div>
                    <div class="">
           
                  
                            <form class="form-inline Commitmentcls" role="form">
                                <div class="col-md-2"> <div class="form-group">
    <label for="text">Sl No</label>
     <span class="form-inline-left"> 1</span>
  </div></div>
                                <div class="col-md-4"> <div class="form-group">
    <label for="text">Date</label>
    <input type="Date" class="form-control" id="Date">
  </div></div>
                                <div class="col-md-4"> <div class="form-group">
    <label for="text">Quantity</label>
    <input type="text" class="form-control pull-left" id="text">
      <span class="pull-right"><button class="btn btn-info addbtn"><i class="glyphicon glyphicon-plus"></i></button></span>                       
  </div></div>   
</form>        
                    </div>
                
                </div>
                
              </div>
              </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default">Save</button>
          <button type="button" class="btn btn-default SecondaryBtn" data-dismiss="modal">Cancel</button>
        </div>