<div class="modal-header">
              
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Upload Inventory</h4>
              
          </div>
<div class="modal-body">
            <h5>Please upload inventory snapshot in prescribed excel format:</h5>
            <div class="block">Choose File </div> 
            <div class="row">
              <div class="col-md-8">             
                <div class="input-group">
                                <input type="text" class="form-control" readonly>
                                <span class="input-group-btn">
                                    <span class="btn btn-primary btn-file h-28">
                                        Browse <input type="file" single>
                                    </span>
                                    
                                </span>
                              </div>
                  </div>
              </div>
    <br>
              <div class="row">
                <div class="col-md-6">
                  <div class="m-t-10">
                <div class="block"> Email Address for Notification</div> <input type="text"  placeholder="example@example.com" class="block form-control ">
                  </div>
                </div>
              </div>
       <br>
              <div class="m-t-10"></div>
              To download excel template,  <a href="#">click here</a>
       <br>
</div>
            <div class="modal-footer">
            <button type="button" class="btn btn-primary">Upload</button>
            <button type="button" class="btn btn-default SecondaryBtn" data-dismiss="modal">Cancel</button>
          </div>

