body {
  font-size: 12px;
  webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #E6E6E6;
  font-family: 'Raleway', sans-serif !important; }
h5, .h5 {
    font-size: 16px;
}
body table,
.panel-body address,
.form-group,
span.form-inline-left,
a.accordian-toggle,
ul.nav.nav-tabs li a,
.badge {
  font-family: 'Open Sans', sans-serif !important; }

tr th {
  color: #6A6C6F !important;
  font-weight: 700; }

s#bar-chart dl {
  display: flex;
  background-color: white;
  flex-direction: column;
  width: 90%;
  max-width: 700px;
  position: relative; }
s#bar-chart dt {
  align-self: flex-start;
  width: 90%;
  font-weight: 700;
  display: block;
  text-align: center;
  font-size: 1.2em;
  font-weight: 700;
  margin-bottom: 20px;
  margin-left: 10px; }
s#bar-chart .text {
  font-weight: 600;
  display: flex;
  align-items: center;
  height: 27px;
  background-color: white;
  position: absolute;
  left: 0;
  justify-content: flex-end; }
s#bar-chart .percentage {
  font-size: .8em;
  line-height: 1;
  text-transform: uppercase;
  width: 100%;
  height: 20px;
  margin-left: 20px;
  background: repeating-linear-gradient(to right, #ddd, #ddd 1px, #fff 1px, #fff 5%); }
  s#bar-chart .percentage:after {
    content: "";
    display: block;
    background-color: #3d9970;
    width: 50px;
    margin-bottom: 10px;
    height: 90%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    transition: background-color .3s ease;
    cursor: pointer; }
  s#bar-chart .percentage:hover:after, s#bar-chart .percentage:focus:after {
    background-color: #aaa; }
s#bar-chart .percentage-1:after {
  width: 1%; }
s#bar-chart .percentage-2:after {
  width: 2%; }
s#bar-chart .percentage-3:after {
  width: 3%; }
s#bar-chart .percentage-4:after {
  width: 4%; }
s#bar-chart .percentage-5:after {
  width: 5%; }
s#bar-chart .percentage-6:after {
  width: 6%; }
s#bar-chart .percentage-7:after {
  width: 7%; }
s#bar-chart .percentage-8:after {
  width: 8%; }
s#bar-chart .percentage-9:after {
  width: 9%; }
s#bar-chart .percentage-10:after {
  width: 10%; }
s#bar-chart .percentage-11:after {
  width: 11%; }
s#bar-chart .percentage-12:after {
  width: 12%; }
s#bar-chart .percentage-13:after {
  width: 13%; }
s#bar-chart .percentage-14:after {
  width: 14%; }
s#bar-chart .percentage-15:after {
  width: 15%; }
s#bar-chart .percentage-16:after {
  width: 16%; }
s#bar-chart .percentage-17:after {
  width: 17%; }
s#bar-chart .percentage-18:after {
  width: 18%; }
s#bar-chart .percentage-19:after {
  width: 19%; }
s#bar-chart .percentage-20:after {
  width: 20%; }
s#bar-chart .percentage-21:after {
  width: 21%; }
s#bar-chart .percentage-22:after {
  width: 22%; }
s#bar-chart .percentage-23:after {
  width: 23%; }
s#bar-chart .percentage-24:after {
  width: 24%; }
s#bar-chart .percentage-25:after {
  width: 25%; }
s#bar-chart .percentage-26:after {
  width: 26%; }
s#bar-chart .percentage-27:after {
  width: 27%; }
s#bar-chart .percentage-28:after {
  width: 28%; }
s#bar-chart .percentage-29:after {
  width: 29%; }
s#bar-chart .percentage-30:after {
  width: 30%; }
s#bar-chart .percentage-31:after {
  width: 31%; }
s#bar-chart .percentage-32:after {
  width: 32%; }
s#bar-chart .percentage-33:after {
  width: 33%; }
s#bar-chart .percentage-34:after {
  width: 34%; }
s#bar-chart .percentage-35:after {
  width: 35%; }
s#bar-chart .percentage-36:after {
  width: 36%; }
s#bar-chart .percentage-37:after {
  width: 37%; }
s#bar-chart .percentage-38:after {
  width: 38%; }
s#bar-chart .percentage-39:after {
  width: 39%; }
s#bar-chart .percentage-40:after {
  width: 40%; }
s#bar-chart .percentage-41:after {
  width: 41%; }
s#bar-chart .percentage-42:after {
  width: 42%; }
s#bar-chart .percentage-43:after {
  width: 43%; }
s#bar-chart .percentage-44:after {
  width: 44%; }
s#bar-chart .percentage-45:after {
  width: 45%; }
s#bar-chart .percentage-46:after {
  width: 46%; }
s#bar-chart .percentage-47:after {
  width: 47%; }
s#bar-chart .percentage-48:after {
  width: 48%; }
s#bar-chart .percentage-49:after {
  width: 49%; }
s#bar-chart .percentage-50:after {
  width: 50%; }
s#bar-chart .percentage-51:after {
  width: 51%; }
s#bar-chart .percentage-52:after {
  width: 52%; }
s#bar-chart .percentage-53:after {
  width: 53%; }
s#bar-chart .percentage-54:after {
  width: 54%; }
s#bar-chart .percentage-55:after {
  width: 55%; }
s#bar-chart .percentage-56:after {
  width: 56%; }
s#bar-chart .percentage-57:after {
  width: 57%; }
s#bar-chart .percentage-58:after {
  width: 58%; }
s#bar-chart .percentage-59:after {
  width: 59%; }
s#bar-chart .percentage-60:after {
  width: 60%; }
s#bar-chart .percentage-61:after {
  width: 61%; }
s#bar-chart .percentage-62:after {
  width: 62%; }
s#bar-chart .percentage-63:after {
  width: 63%; }
s#bar-chart .percentage-64:after {
  width: 64%; }
s#bar-chart .percentage-65:after {
  width: 65%; }
s#bar-chart .percentage-66:after {
  width: 66%; }
s#bar-chart .percentage-67:after {
  width: 67%; }
s#bar-chart .percentage-68:after {
  width: 68%; }
s#bar-chart .percentage-69:after {
  width: 69%; }
s#bar-chart .percentage-70:after {
  width: 70%; }
s#bar-chart .percentage-71:after {
  width: 71%; }
s#bar-chart .percentage-72:after {
  width: 72%; }
s#bar-chart .percentage-73:after {
  width: 73%; }
s#bar-chart .percentage-74:after {
  width: 74%; }
s#bar-chart .percentage-75:after {
  width: 75%; }
s#bar-chart .percentage-76:after {
  width: 76%; }
s#bar-chart .percentage-77:after {
  width: 77%; }
s#bar-chart .percentage-78:after {
  width: 78%; }
s#bar-chart .percentage-79:after {
  width: 79%; }
s#bar-chart .percentage-80:after {
  width: 80%; }
s#bar-chart .percentage-81:after {
  width: 81%; }
s#bar-chart .percentage-82:after {
  width: 82%; }
s#bar-chart .percentage-83:after {
  width: 83%; }
s#bar-chart .percentage-84:after {
  width: 84%; }
s#bar-chart .percentage-85:after {
  width: 85%; }
s#bar-chart .percentage-86:after {
  width: 86%; }
s#bar-chart .percentage-87:after {
  width: 87%; }
s#bar-chart .percentage-88:after {
  width: 88%; }
s#bar-chart .percentage-89:after {
  width: 89%; }
s#bar-chart .percentage-90:after {
  width: 90%; }
s#bar-chart .percentage-91:after {
  width: 91%; }
s#bar-chart .percentage-92:after {
  width: 92%; }
s#bar-chart .percentage-93:after {
  width: 93%; }
s#bar-chart .percentage-94:after {
  width: 94%; }
s#bar-chart .percentage-95:after {
  width: 95%; }
s#bar-chart .percentage-96:after {
  width: 96%; }
s#bar-chart .percentage-97:after {
  width: 97%; }
s#bar-chart .percentage-98:after {
  width: 98%; }
s#bar-chart .percentage-99:after {
  width: 99%; }
s#bar-chart .percentage-100:after {
  width: 100%; }

footer {
  bottom: 0;
  width: 100%;
  height: 25px; }

@media (min-width: 992px) {
  .modal-lg {
    width: 83%; } }
.watchlist-badge-panel .list-inline {
  display: inline-block;
  margin-left: 10px; }
  .watchlist-badge-panel .list-inline > li {
    padding: 0; }

.badge {
  background: #828080;
        margin-top: 4px;
}

.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6; }

.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1; }

.footer {
  position: relative;
  height: 50px;
  line-height: 50px; }

.filter-panel-block {
  display: none;
  padding: 0px;
  border-radius: 3px;
  background: white;
        border-bottom: 1px solid #dddddd;
}

a.m-t-10.block {
  padding-bottom: 0px; }

.block {
  display: block; }

.panel-body .block {
  display: block;
     margin-bottom: 15px}

.navbar-header a {
  color: #000; }
  .navbar-header a:hover {
    color: #000; }

.nav-justified {
  font-weight: bold;
  font-size: 14px; }

.link {
  color: #337ab7;
  text-decoration: underline;
  cursor: pointer; }

.user-image-header {
  border: solid 3px #FFF;
  display: inline-block;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 2px 2px 0;
  border-radius: 50%;
  width: 40px;
  float: left;
  margin-right: 10px; }

.row-border-bottom {
  border-bottom: 1px solid #ddd; }
  .row-border-bottom .nav-justified li {
    border: none; }
  .row-border-bottom a.active {
    border-bottom: 1px solid #3b6caa; }

h5.pull-left {
  font-weight: bold;
  color: #6A7077; }

header .navbar-right {
  padding: 5px 10px 0px 10px; }
header h4 {
  line-height: 40px;
  margin: 0;
  color: #fff;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold; }
header .navbar-nav-dropdown li > a {
  padding: 0; }
header .nav-justified > li {
  border: 1px solid #ddd; }
  header .nav-justified > li a {
    color: #FFF;
    border: 1px solid #5A5A5A;
    border-top: 0px;
    border-bottom: 0;
    margin-right: -1px;
    background: #444444;
    font-weight: 100; }
  header .nav-justified > li a:hover {
    background: #ddd;
    color: #337ab7; }
  header .nav-justified > li.active {
    background: #ddd;
    color: #fff; }
header .caret {
  border-top: 4px dashed;
  border-top: 4px solid\9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  color: #000; }
header .nav > li > a:focus,
header .nav > li > a:hover,
header .nav .open > a,
header .nav .open > a:focus,
header .nav .open > a:hover {
  background: transparent; }
header .text-muted {
  font-size: 12px; }
header .extend {
  width: 198px;
  left: -125px !important;
  top: 50px; }
  header .extend .glyphicon {
    font-size: 22px;
    top: 5px;
    margin-right: 11px; }
  header .extend a {
    padding: 15px 10px !important;
    width: 100%;
    display: inline-block; }

.p-10 {
  padding: 10px; }

.top-bar-border .navbar-nav-dropdown {
  font-size: 20px;
  margin: 5px 0 0 0; }
.top-bar-border .glyphicon-user {
  margin-right: 10px; }
.top-bar-border .glyphicon {
  color: #848484; }

.vendor-box .status-pills {
  margin-right: 5px; }
.vendor-box label {
  font-size: 12px; }

.w-250 {
  width: 250px; }

.circle-graph-250 img {
  width: 290px;
  height: 100px; }

.m-l-30 {
  margin-left: -30px; }

.w-500 {
  width: 500px; }

.m-t-15 {
  margin-top: 15px; }

.m-t-20 {
  margin-top: 20px; }

.top-bar .alert-danger {
  padding: 5px;
  margin: 0;
  border-radius: 2px; }
.top-bar .alert-dismissable .close,
.top-bar .alert-dismissible .close {
  right: 0; }

.top-bar-border {
  border: 1px solid #ddd;
  border-top: none;
  margin: 0; }
  .top-bar-border .p-l-0 {
    padding: 5px;
    height: auto; }

.Absolute-Center {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }

.checkbox-block {
  margin-bottom: 0; }
  .checkbox-block li {
    position: relative;
    top: 1px;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    width: 100%;
    padding: 1%; }
  .checkbox-block [type="checkbox"]:not(:checked),
  .checkbox-block [type="checkbox"]:checked {
    position: absolute;
    left: -9999px; }
  .checkbox-block [type="checkbox"]:not(:checked) + label,
  .checkbox-block [type="checkbox"]:checked + label {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    font-weight: 500; }
  .checkbox-block [type="checkbox"]:not(:checked) + label:before,
  .checkbox-block [type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 14px;
    height: 14px;
    border: 1px solid #aaa;
    background: #f8f8f8; }
  .checkbox-block .glyphicon-wrench {
    cursor: pointer; }
  .checkbox-block [type="checkbox"]:not(:checked) + label:after,
  .checkbox-block [type="checkbox"]:checked + label:after {
    content: "\e013";
    position: absolute;
    top: 5px;
    left: 0px;
    font-size: 18px;
    line-height: 0.8;
    color: #09ad7e;
    transition: all .2s;
    font-size: 12px; }
  .checkbox-block [type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0); }
  .checkbox-block [type="checkbox"]:checked + label:after {
    opacity: 1;
    transform: scale(1); }
  .checkbox-block [type="checkbox"]:disabled:not(:checked) + label:before,
  .checkbox-block [type="checkbox"]:disabled:checked + label:before {
    box-shadow: none;
    border-color: #bbb;
    background-color: #ddd; }
  .checkbox-block [type="checkbox"]:disabled:checked + label:after {
    color: #999; }
  .checkbox-block [type="checkbox"]:disabled + label {
    color: #aaa; }
  .checkbox-block [type="checkbox"]:checked:focus + label:before,
  .checkbox-block [type="checkbox"]:not(:checked):focus + label:before {
    border: 1px dotted blue; }
  .checkbox-block label:hover:before {
    border: 1px solid #4778d9 !important; }
  .checkbox-block .txtcenter {
    margin-top: 4em;
    font-size: .9em;
    text-align: center;
    color: #aaa; }
  .checkbox-block .copy {
    margin-top: 2em; }
  .checkbox-block .copy a {
    text-decoration: none;
    color: #4778d9; }

.box {
  border: 1px solid #ddd;
  position: relative; }
  .box .box-label {
    display: inline-block;
    position: absolute;
    top: -14px;
    background: #fff;
    padding: 2px 5px; }
  .box .glyphicon-plus {
    font-size: 28px;
    margin-top: 9px; }
  .box .panel-default > .panel-heading {
    background-color: #7cc7ff;
    border-color: #b6dfef; }
  .box .plus-wrapper {
    margin: 15px 15px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    display: inline-block;
    background: #f5f5f5;
    cursor: pointer; }
    .box .plus-wrapper p {
      margin-top: 3px;
      font-size: 12px; }
    .box .plus-wrapper:hover {
      background: #fff; }

.panel {
  margin-bottom: 20px; }

.modal-lg {
  background: #4178be; }

.h-120 {
  height: 120px; }

.h-30 {
  height: 30px; }

.group-name-body .form-control {
  display: inline-block;
  width: 50%;
  margin-left: 5px;
  margin-bottom: 10px; }

.panel-default > .panel-heading {
  background-color: #EFEFEF;
  border-color: #C5CED6;
  color: #4178BC;
  font-weight: bold; }

.quick-action-link {
  text-decoration: underline;
  font-size: 12px;
  display: block;
  margin-bottom: 2px; }

.icon-pills {
  border: 1px solid #ddd;
  padding: 5px;
  border-radius: 2px;
  margin-bottom: 15px;
  background: #f5f5f5;
  cursor: pointer;
  display: table;
  width: 100%; }
  .icon-pills:hover {
    background: #fff; }
  .icon-pills .icon-pills-wrapper {
    display: table-cell;
    text-align: center;
    vertical-align: middle; }
  .icon-pills .glyphicon {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px; }
  .icon-pills .glyphicon-class {
    display: block;
    text-align: center;
    word-wrap: break-word;
    margin-top: -8px;
    font-size: 12px; }

.panel-body .btn-default, .panel-body .button-primary {
  padding: 4px 7px;
  font-size: 13px;
  text-transform: capitalize; }
.panel-body .select-style.form-control {
  height: 24px;
  font-size: 13px; }
.panel-body input[type="text"] {
  height: 24px;
  font-size: 12px; }
  .panel-body input[type="text"].h-auto {
    height: auto; }
.panel-body .form-group {
  margin-bottom: 0; }
.panel-body address {
  margin-bottom: 0px; }
.panel-body.p-l-r-15 {
  padding: 5px 15px 5px 15px; }
.panel-body h6 {
  font-weight: bold;
  border-bottom: 1px solid #ddd;
  margin: 0 0 4px 0; }

.panel-heading {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 13px;
  color: #4178BC; }
  .panel-heading h5 {
    margin: 2px 0;
    font-weight: bold;
    font-size: 13px;
    color: #4178be; }

.col-md-6 .panel-heading h5 {
  float: left;
  padding-top: 2px; }

.m-t-5 {
  margin-top: 5px; }

.m-l-10 {
  margin-left: 10px; }

.status-pills {
  margin-right: 10px; }

.btn-default .glyphicon, .button-primary .glyphicon {
  font-size: 20px; }

.icon-pills-block [class^="flaticon-"]:before,
.icon-pills-block [class*=" flaticon-"]:before,
.icon-pills-block [class^="flaticon-"]:after,
.icon-pills-block [class*=" flaticon-"]:after {
  font-size: 44px; }
  @media (max-width: 420px) {
    .icon-pills-block [class^="flaticon-"]:before,
    .icon-pills-block [class*=" flaticon-"]:before,
    .icon-pills-block [class^="flaticon-"]:after,
    .icon-pills-block [class*=" flaticon-"]:after {
      font-size: 20px !important; } }
@media (max-width: 420px) {
  .icon-pills-block .col-xs-3 {
    padding: 0;
    margin: 5px; } }
@media (max-width: 420px) {
  .icon-pills-block .row {
    margin: 0 10px; } }

.status-pills p {
  font-size: 12px; }

.m-t-15 {
  margin-top: 15px; }

.m-t-25 {
  margin-top: 25px; }

.status-number {
  border-right: 1px solid #eee;
  padding: 4px 3px;
  border-radius: 0;
  font-size: 20px;
  font-weight: bold;
  /* background: #f5f5f5; */
  text-align: left; }
  .status-number p {
    color: #6a6c6f;
    font-weight: 300; }

.add-report-block .box {
  height: 70px;
  margin-bottom: 30px; }
.add-report-block .plus-wrapper {
  text-align: center; }

.paging_bootstrap {
  margin: 0;
  text-align: right; }
  .paging_bootstrap li {
    float: left;
    border-radius: 3px;
    -webkit-border-radius: 3px; }
  .paging_bootstrap a {
    padding: 5px 10px;
    display: inline-block; }
  .paging_bootstrap a,
  .paging_bootstrap a:hover,
  .paging_bootstrap a:focus {
    text-decoration: none;
    outline: none; }

.table-wrapper {
  padding: 2px 15px 15px 15px;
  background: #ddd;
        margin-top: -5px;
  border-radius: 2px; }
  .table-wrapper table {
    background: #fff;
    font-size: 13px;
    border-top: 0px solid #DDDDDD;
    margin-top: 0px; }
  .table-wrapper h4 {
    margin-top: -11px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 13px;
    margin-bottom: 0; }
  .table-wrapper .table-top {
    margin: 2px 0; }
  .table-wrapper .cal-box .btn-default, .table-wrapper .cal-box .button-primary {
    margin-top: -2px; }
  .table-wrapper .btn-default .glyphicon, .table-wrapper .button-primary .glyphicon {
    font-size: 12px;
    padding: 4px 5px; }
  .table-wrapper .form-control {
    height: 28px; }
  .table-wrapper tbody .form-control {
    padding: 2px; }
  .table-wrapper .center-filter {
    vertical-align: middle;
    text-align: center; }
  .table-wrapper .sorting {
    background: url("images/updownarrow.png") no-repeat 0 0;
    background-position: right;
    color: #6A6C6F;
    font-weight: 700; }

.cal-box .icon-wrapper {
  width: 110px;
  position: relative;
  display: inline-block; }
.cal-box .icon-wrapper:before {
  font-family: 'Glyphicons Halflings';
  position: absolute;
  right: 5px;
  top: 8px;
  content: "\e109"; }
.cal-box .form-control.w-200 {
  width: 200px; }

.vendor-box .form-group {
  margin-bottom: 5px; }

.vendor-box-row-2 .panel-body {
  min-height: 250px; }

.vendor-box-row-1 .panel-body {
  min-height: 175px; }

.p-l-0 {
  padding-left: 0px; }

.progress-panel .progress {
  float: right;
  width: 110px;
  height: 10px;
  margin-top: 5px; }
  .progress-panel .progress.progress-last {
    margin-bottom: 0; }

.glyphicon-menu-left.text-muted {
  cursor: none;
  text-decoration: none; }

.select-style.form-control {
  width: 115px;
  display: inline-block;
  padding: 0px;
  height: 21px;
  font-size: 12px;
  font-weight: 500; }

ul.list-inline.list-unstyled {
  margin-bottom: 0; }

ul.list-inline.list-unstyled li {
  padding-left: 0px;
  padding-right: 0px; }

.pos-bottom {
  position: absolute;
  bottom: 10px;
  right: 10px; }

.i-block {
  display: inline-block; }

.search-form .btn-primary {
  width: 89%;
  margin-left: 5px; }

.panel-body {
  padding: 5px; }
  .panel-body .table-wrapper {
    background: #fff;
    padding: 0; }

.panel-default > .panel-heading {
  padding: 5px;
  display: inline-block;
  width: 100%; }

.f-12 {
  font-size: 12px; }

@media (max-width: 1020px) {
  .panel-boxes.row {
    margin-right: -5px;
    margin-left: -5px; } }
.panel-boxes .panel-body {
  min-height: 120px; }
  @media (max-width: 1020px) {
    .panel-boxes .panel-body {
      min-height: 150px; } }
@media (max-width: 1020px) {
  .panel-boxes .col-sm-3 {
    padding-left: 5px;
    padding-left: 5px; } }

.default-anchor {
  text-decoration: inherit;
  color: initial; }

.breadcrumb {
  background: transparent;
  margin: 0;
  padding: 0;
  font-size: 20px;
  padding: 7px 0px 0px 0px;
  text-decoration: none;
  font-weight: 500; }
  .breadcrumb > li + li:before {
    padding: 0 5px;
    color: #ccc;
    content: ">"; }

.alert-panel .alert {
  padding: 0px 5px;
  margin-bottom: 0px;
  font-size: 12px;
  background: transparent;
  border: transparent; }
.alert-panel .link {
  color: #337ab7;
  text-decoration: underline;
  cursor: pointer;
  margin-top: 5px; }
  .alert-panel .link:hover {
    text-decoration: none; }
.alert-panel.alert-large-box .alert {
  font-size: 12px;
  margin-bottom: 5px; }
  .alert-panel.alert-large-box .alert:nth-child(5) {
    margin-bottom: 40px; }

.h-243 {
  min-height: 243px; }

.p-0-15 {
  padding: 0 15px 0 15px; }
  .p-0-15 p {
    margin: 0; }

.form-control {
  /*  height: 28px;*/ }
  .form-control.width-100 {
    margin-left: 2px; }

.watchlist-body .watchlist-item:nth-child(6) {
  margin-bottom: 9px; }

.address-modal-wrapper {
  padding: 5px;
  border: 1px solid #ddd;
  margin: 5px 15px; }

.address-modal-body {
  font-size: 13px; }
  .address-modal-body input[type="text"] {
    margin-bottom: 5px; }

.btn-default, .button-primary {
  background-color: #4178BC;
  border-color: transparent;
  font-size: 11px !important;
  text-transform: uppercase !important;
  color: #fff;
  padding: 1px 10px !important;
  border-radius: 2px !important;
  margin-left: 3px;
  margin-top: 0px;
  margin-right: 2px; }

.btn-primary {
  font-size: 13px;
  padding: 4px 7px;
  border: none; }

.pull-right .btn-default, .pull-right .button-primary,
.button-primary {
  margin-top: 0px; }

.inner-padding-labels-5 {
  padding: 5px;
  border: 1px solid #ddd; }
  .inner-padding-labels-5 input[type="text"] {
    margin-left: 5px; }

.panel,
.panel-heading,
.btn,
.alert {
  border-radius: 0; }

.w-300 {
  width: 300px; }

.modal .modal-title {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  color: #757575; }

.taskbox li {
  margin-bottom: 2px;
  font-size: 13px; }

.f-12 {
  font-size: 12px; }

.panel-body {
  position: relative; }
  @media (max-width: 1020px) {
    .panel-body {
      padding: 5px; } }

.notification-block h5 {
  margin: 0 0 5px 0;
  font-weight: bold; }

.ui-autocomplete {
  position: absolute;
  cursor: default; }

.ui-menu {
  list-style: none;
  padding: 0px;
  margin: 20px 0 0 0;
  display: block;
  float: left;
  background-color: #f9f9f9;
  border: 1px solid #efefef;
  border-radius: 3px 3px 3px 3px; }

.ui-menu .ui-menu {
  margin-top: 0px; }

.ui-menu .ui-menu-item {
  margin: 0;
  padding: 5px 10px;
  zoom: 1;
  float: left;
  clear: left;
  width: 100%;
  font-family: arial;
  background: #fff;
  border-bottom: 1px solid #ddd;
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px; }
  .ui-menu .ui-menu-item:hover {
    cursor: pointer;
    color: #fff;
    background-color: #0097cf; }

.ui-menu .ui-menu-item a {
  text-decoration: none;
  display: block;
  padding: .1em .3em;
  line-height: 1.5;
  zoom: 1; }

.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active {
  font-weight: bold; }

.row.no-gutters {
  margin-right: 0;
  margin-left: 0; }

.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0; }

.paging_bootstrap .disabled a {
  color: #000;
  cursor: default; }

.m-0 {
  margin: 0 !important; }

.f-12 {
  font-size: 12px; }

.dashboard-row-one p {
  margin: 0; }

.chart-double .chart {
  margin: 0 auto; }
.chart-double .message {
  display: none;
  font-size: 20px; }
.chart-double .control {
  margin: 0 auto; }
.chart-double svg {
  font-size: 12px;
  font-family: Ariel;
  shape-rendering: crispEdge; }
  .chart-double svg text {
    fill: #ccc;
    stoke: none; }
  .chart-double svg rect {
    fill: #fff; }
  .chart-double svg .zoom-panel.scrollable {
    fill: lightblue;
    cursor: ew-resize; }
  .chart-double svg .x-axis {
    fill: none;
    stroke: none;
    stroke-width: 1px; }
    .chart-double svg .x-axis .tick > line,
    .chart-double svg .x-axis .tick > text {
      display: none; }
  .chart-double svg .y-axis {
    fill: none;
    stroke: #ccc;
    stroke-width: 1px; }
    .chart-double svg .y-axis .tick > line {
      display: none; }

.table-wrapper-big {
  position: relative; }

.table-scroll {
  height: 170px;
  overflow: auto; }

.table-wrapper-big table {
  width: 100%; }

.table {
  margin-bottom: 0px; }

.f-11 {
  font-size: 13px; }

.form-control {
  border-radius: 0; }

.table-wrapper-big .table-bordered > thead > tr > td,
.table-wrapper-big .table-bordered > thead > tr > th,
.table-wrapper-big .table-bordered > tbody > tr > td {
  padding: 2px 5px; }

.table-wrapper-big table thead th .text {
  z-index: 2;
  font-size: 13px;
  color: #6A6C6F;
  font-weight: 700; }

.btn-file {
  position: relative;
  overflow: hidden; }

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  cursor: inherit;
  display: block; }

input[readonly] {
  background-color: white !important;
  cursor: text !important; }

.h-28 {
  height: 28px;
  line-height: 15px; }

.upload-block {
  margin-bottom: 5px;
  background: #ddd;
  border-radius: 2px;
  padding: 5px; }
  .upload-block h5 {
    margin: 0 0 5px 0; }

.list-linked-modal {
  margin: 0;
  line-height: 2.1em; 
padding: 14px 0px;}
  .list-linked-modal a {
    padding: 7px 0;
    display: inline-block;
    font-size: 11px;
    text-transform: uppercase;
    padding: 3px 0 2px 1px;
    color: #337ab7;
    font-weight: 500; }
  .list-linked-modal li {
    width: 100%; }
    .list-linked-modal li:last-child {
      width: 100%; }
  .list-linked-modal.ul {
    margin: 0; }

.button-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4; }

.h-20 {
  height: 20px; }

.p-0 {
  padding: 0; }

.border-p-1 {
  padding: 5px;
  border: 1px solid #ddd; }

.pagination > li > a {
  border: none;
  text-decoration: underline; }

.pagination > .active > a {
  border-radius: 50%; }

.pagination > li:first-child > a,
.pagination > li:last-child > a {
  text-decoration: none; }

.navbar-brand a {
  display: block; }

.navbar-brand,
.navbar-nav-dropdown {
  display: block;
  text-align: center;
  cursor: pointer; }

.navbar-brand:hover,
.navbar-nav-dropdown:hover {
  cursor: pointer; }

.alert-modal-label label {
  margin-right: 10px; }

.panel-consignment h4 a {
  font-size: 12px;
  display: block;
  font-weight: 600; }

.panel-consignment .panel-group .panel {
  border-radius: 0; }

.panel-consignment .panel-body .panel-heading {
  background: #ddd; }

.panel-consignment .accordion-toggle {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }
.panel-consignment .accordion-toggle:after {
  content: "\2601"; }
.panel-consignment .panel-heading {
  position: relative; }
.panel-consignment .glyphicon-chevron-down {
  position: absolute;
  right: 10px;
  top: 3px;
  z-index: -1; }

.panel-alert-heading {
  background: #ddd !important;
  line-height: 25px; }

#alert-modal .panel-body {
  height: 180px;
  overflow-y: scroll; }
  #alert-modal .panel-body a {
    font-size: 13px; }

.selected-row {
  background: #F8F9D0; }

.row.top-bar-border.no-gutters {
  background-color: #E6E6E6;
  padding: 4px 0px; }

.navbar-brand,
.navbar-nav-dropdown {
  border-bottom: 0px; }

.navbar-brand:hover,
.navbar-nav-dropdown:hover {
  border-bottom: 0px; }

.row-border-bottom.no-gutters {
  background: #008fe2; }

header .nav-justified > li a:hover {
  background-color: #4178BC;
  color: #fff; }

.breadcrumb li a,
.breadcrumb li a:hover {
  color: #6a6c6f; }

.status-pills.text-center a {
  color: #152935; }

.status-pills.text-center a:hover {
  text-decoration: none;
  color: #152935; }

.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px; }

.row {
  margin-right: -10px;
  margin-left: -10px; }

.status-number.last {
  border-right: 0px; }

.btn-default:hover, .button-primary:hover {
  color: #E8E8E8;
  background-color: #325C80;
  border-color: transparent; }

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  vertical-align: middle; }

ul li .f-11 {
  color: #6A6C6F;
  font-weight: 500;
  text-transform: none; }

ol.breadcrumb.cusbreadcrumb li a,
ol.breadcrumb.cusbreadcrumb li {
  font-size: 12px; }

.panel-heading span.pull-right {
  margin-top: -3px; }

.filter-panel-btn .glyphicon.glyphicon-filter {
  padding: 4px 0px; }

.form-group.clearfix.m-t-10 {
  padding: 2px 0px 3px 0px; }

form.form-inline.CusCommitment .control-label,
.CusCommitment .col-xs-1 {
  padding-top: 0px; }

span.form-inline-left {
  padding-top: 0px;
  display: block; }

form.form-inline.Commitmentcls {
  margin: 0px; }
  form.form-inline.Commitmentcls .col-md-4 {
    padding-left: 0;
    padding-right: 0; }
  form.form-inline.Commitmentcls .form-control.pull-left {
    max-width: 140px; }
  form.form-inline.Commitmentcls button.btn.btn-info.addbtn {
    margin-left: 7px;
    height: 24px;
    padding-top: 2px; }
  form.form-inline.Commitmentcls .glyphicon.glyphicon-plus {
    padding: 0px 0px 0px; }

.form-inline.Commitmentcls .form-control {
  height: 24px;
  max-width: 173px; }

form.form-inline.Commitmentcls .form-group {
  margin: 0px; }

form.form-inline.Commitmentcls .btn.btn-default, form.form-inline.Commitmentcls .btn.button-primary {
  margin-top: -2px; }

form.form-inline.Commitmentcls .glyphicon.glyphicon-plus {
  padding: 0px 0px 0px; }

select.form-control.m-t-5.p-0 {
  height: 24px; }

address.addressCls {
  line-height: 19px; }

td {
  font-size: 13px; }

div#custom-search-input {
  max-width: 200px;
  margin-right: 15px; }
  div#custom-search-input input.form-control {
    height: 27px;
    font-size: 11px;
    font-family: 'Open Sans', sans-serif !important; }
  div#custom-search-input button.btn.btn-default, div#custom-search-input button.btn.button-primary {
    margin-top: 0px;
    border: 1px solid #2664B1; }
    div#custom-search-input button.btn.btn-default span.glyphicon.glyphicon-search, div#custom-search-input button.btn.button-primary span.glyphicon.glyphicon-search {
      color: #fff;
      font-size: 15px;
      padding: 4px 0px; }

header .navbar-right {
  padding: 0px 10px 0px 10px; }

nav.navbar.navbar-default.cusBottom {
  margin-bottom: 0;
  border: 0; }

nav.navbar.navbar-default.cusBottom .navbar-brand {
  padding: 6px 15px; }

@media only screen and (max-width: 763px) {
  nav.navbar.navbar-default.cusBottom .container-fluid {
    padding-left: 15px !important; } }
nav.navbar.navbar-default.cusBottom .container-fluid {
  padding-left: 0; }

.navbar-default .navbar-nav > li > a {
  font-size: 14px;
  /* background: #2F2E2E; */
  padding: 15px 30px;
  color: #fff;
  font-weight: 500; }

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
  color: #fff;
  background: #2790A2; }

.table-top.row.no-gutters {
  /* border-bottom: 1px solid #DDDDDD;*/
  padding-bottom: 6px; 
    padding-top: 6px;}

form.filter-panel-block {
  margin-bottom: 6px; }

.panel-body.CuspanelBody {
  padding: 13px 15px 15px 15px; }

button#remove {
  padding: 1px 8px; }

a.ok.CusIcon,
a.remove.CusIcon {
  margin-right: 10px;
  color: #9E9E9E;
  border-radius: 49%;
  border: 2px solid #9E9E9E;
  padding: 3px 5px; }

a.remove.CusIcon:hover {
  color: #fff;
  border: 2px solid #A53E3E;
  background-color: #A53E3E; }

a.ok.CusIcon:hover {
  color: #fff;
  border: 2px solid #187D37;
  background-color: #187D37; }

i.glyphicon.glyphicon-star {
  color: #4178BC;
  font-size: 16px; }

i.glyphicon.glyphicon-star-empty {
  color: #9E9E9E;
  font-size: 16px; }

i.glyphicon.glyphicon-star.black {
  color: #6E6C6F; }

a.editable.editable-click.editable-empty {
  color: #fff; }

a.btn.modalcls {
  padding: 0px 0px 1px 0px; }

label.btn.btn-primary.toggle-on {
  padding-top: 8px; }

/*raj*/
.tgl {
  display: none; }
  .tgl, .tgl:after, .tgl:before, .tgl *, .tgl *:after, .tgl *:before, .tgl + .tgl-btn {
    box-sizing: border-box; }
    .tgl::selection, .tgl:after::selection, .tgl:before::selection, .tgl *::selection, .tgl *:after::selection, .tgl *:before::selection, .tgl + .tgl-btn::selection {
      background: none; }
  .tgl + .tgl-btn {
    outline: 0;
    display: block;
    width: 4em;
    height: 2em;
    position: relative;
    cursor: pointer;
    user-select: none; }
    .tgl + .tgl-btn:after, .tgl + .tgl-btn:before {
      position: relative;
      display: block;
      content: "";
      width: 50%;
      height: 100%; }
    .tgl + .tgl-btn:after {
      left: 0; }
    .tgl + .tgl-btn:before {
      display: none; }
  .tgl:checked + .tgl-btn:after {
    left: 50%; }

.tgl-flat + .tgl-btn {
  padding: 2px;
  transition: all .2s ease;
  background: #fff;
  border: 4px solid #f2f2f2;
  border-radius: 2em; }
  .tgl-flat + .tgl-btn:after {
    transition: all .2s ease;
    background: #f2f2f2;
    content: "";
    border-radius: 1em; }
.tgl-flat:checked + .tgl-btn {
  border: 4px solid #7FC6A6; }
  .tgl-flat:checked + .tgl-btn:after {
    left: 50%;
    background: #7FC6A6; }

.cusToggletext {
  max-width: 240px;
  padding-top: 4px;
  padding-right: 0px;
  margin-right: 0px; }

.row.Cusspace.m-t-10 {
  padding-bottom: 5px;
  padding-left: 6px;
  padding-top: 3px; }

i.fa.fa-truck.btn-primary {
  border-radius: 49% !important;
  border: #d0d0d0;
  padding: 6px 6px;
  margin-left: 13px; }

i.fa.fa-list-alt {
  font-size: 14px;
  font-weight: 300; }

button.btn.btn-default.commitment, button.btn.commitment.button-primary {
  padding: 7px 6px 5px 6px !important;
  border-radius: 49% !important; }

a.btn.modalcls.cusCommit {
  padding: 0; }

.modal-body .input-group .form-control,
.modal-body .input-group-addon,
.modal-body .input-group-btn,
.modal-body input.block.form-control {
  height: 28px; }
.modal-body span.btn.btn-primary.btn-file.h-28 {
  padding-top: 6px; }

.modal-footer .btn-primary {
  font-size: 11px;
  padding: 2px 12px 2px 12px;
  border: none;
  border-radius: 2px !important;
  margin-top: 0px;
  text-transform: uppercase; }

.status-number {
  font-family: 'Open Sans', sans-serif !important;
  padding: 16px 0px; }

.status-number p {
  font-family: 'Raleway', sans-serif !important; }

.container-fluid.CustomHgt {
  margin-top: 95px; }

ul.dropdown-menu {
  min-width: 175px;
  position: absolute;
  left: -67px;
  top: 35px;
  padding: 10px 5px;
  background: #fff; }

.m-t-10.Cusbookad select.form-control {
  height: 31px;
  font-size: 12px;
  margin: 0px 0px; }

button.btn.btn-info.addbtn {
  margin-left: 7px;
  height: 31px;
  padding-top: 5px; }

.ChartCls {
  width: 108px;
  text-align: center;
  display: inline-block;
  margin: 0 auto; }

a.list-group-item,
a.list-group-item:hover {
  display: inline-block;
  background: transparent;
  border: 0px;
  font-family: 'Open Sans', sans-serif !important; }

a.bookadCls {
  padding: 0;
  text-decoration: none; }

a.bookadCls:hover {
  color: #333; }

h4.adavanceSearch {
 padding: 0px 0px 2px 11px;
    font-size: 14px;
    color: #4678BC;
    /* border-bottom: 1px solid #DDD; */
    /* margin-bottom: 22px; */
    font-weight: 700;
    text-transform: uppercase; }

a.btn.modalcls.cusModal {
  font-size: 11px;
  background: #4178C5;
  color: #fff;
  border-radius: 3px;
  padding: 1px 10px 0px 10px;
  text-transform: uppercase; }

.modal-header .close {
  margin-top: -12px;
  font-size: 40px; }

button.btn.btn-default.dropdown-toggle, button.btn.dropdown-toggle.button-primary {
  margin-top: 0px; }

.Cusbookad .form-group.clearfix.m-t-10 {
  padding: 7px 0px; }
.Cusbookad h6 {
  font-size: 14px;
  padding: 13px 0px;
  margin: 0px 0px 10px 0px; }
.Cusbookad address {
  margin: 7px 0px;
  line-height: 22px; }

.form-group.col-md-5 input.form-control {
  margin-top: 5px;
  height: 24px; }

ul.list-unstyled.Order_summary {
  margin-bottom: 0px;
  border-right: 1px solid #eee;
  margin-right: 15px; }
  ul.list-unstyled.Order_summary li {
    line-height: 26px;
    vertical-align: text-bottom; }

ul.list-unstyled.Order_summary.last {
  border-right: 0px; }

i.fa.fa-truck.btn-primary.disabledCls {
  background: #B7B7B7;
  color: #828282; }

i.fa.fa-search-plus {
  font-size: 14px;
  font-weight: normal;
  padding: 1px 0px; }

.fixed-table-header table {
  border-top: 0px; }

.bootstrap-table .fixed-table-container {
  max-height: 469px !important; }

.fixed-table-toolbar {
  position: absolute;
  right: 9px;
  top: -8px; }

.btn.btn-default.pull-right, .btn.pull-right.button-primary {
  margin-top: 3px; }

.btn.btn-default.removebtn, .btn.removebtn.button-primary {
  margin-top: 2px; }

.table-wrapper.CusbookTable .bootstrap-table .fixed-table-container {
  max-height: 200px !important; }

.modal-footer {
  border-top: 0px; }

.Order_summary li a {
  color: #6a6c6f;
  vertical-align: top;
  text-decoration: none; }
  .Order_summary li a span.badge {
    margin-top: -3px; }

.btn.btn-default.SecondaryBtn, .btn.SecondaryBtn.button-primary, .btn.btn-primary {
  background: transparent;
  color: #4178be;
  border: 1px solid #4178be;
  border-radius: 0px !important;
  font-weight: 700;
    margin-top: 3px;}

.btn.btn-default.SecondaryBtn:hover, .btn.SecondaryBtn.button-primary:hover, .btn.btn-primary:hover, .btn.btn-default, .btn.button-primary {
  background: #4178be;
  color: #fff;
  border: 1px solid #4178be;
  border-radius: 0px !important;
  font-weight: 700; }

.btn.btn-default:hover, .btn.button-primary:hover {
  background: #325c80;
  border: 1px solid #325c80; }

/*New changes Raj*/
.checkbox {
  margin-top: 0;
  margin-bottom: 0; }

button.btn.dropdown-toggle.btn-default, button.btn.dropdown-toggle.button-primary {
  background: #fff;
  height: 23px;
  border-color: #bdbcbc;
  color: #777; }

.block .pull-right .btn.btn-default.SecondaryBtn, .block .pull-right .btn.SecondaryBtn.button-primary {
  font-size: 12px !important;
  padding: 4px 8px !important;
  clear: both;
  font-family: 'Raleway', sans-serif !important; }

.block .btn.btn-default.Primarytop, .block .btn.Primarytop.button-primary {
  font-size: 12px !important;
  background: #4178be;
  color: #fff;
  border: 1px solid #4178be;
  border-radius: 0px !important;
  font-weight: 700;
  padding: 4px 8px !important; }

.block .btn.btn-default.Primarytop:hover, .block .btn.Primarytop.button-primary:hover {
  background: #325c80 !important;
  border: 1px solid #325c80 !important; }

.noteBody {
  max-height: 200px;
  overflow: auto; }

.form-control.Comments {
  margin-bottom: 5px; }

footer.footer.LoginFooter {
  width: 100%;
   }

.panel-login {
  border-color: #ccc;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2); }

.panel-login > .panel-heading {
  color: #00415d;
  background-color: #fff;
  border-color: #fff;
  text-align: center; }

.panel-login > .panel-heading a {
  text-decoration: none;
  color: #666;
  font-weight: bold;
  font-size: 15px;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear; }

.panel-login > .panel-heading a.active {
  color: #008fe2;
  font-size: 18px; }

.panel-login > .panel-heading hr {
  margin-top: 10px;
  margin-bottom: 0px;
  clear: both;
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, transparent, rgba(0, 0, 0, 0.15), transparent);
  background-image: -moz-linear-gradient(left, transparent, rgba(0, 0, 0, 0.15), transparent);
  background-image: -ms-linear-gradient(left, transparent, rgba(0, 0, 0, 0.15), transparent);
  background-image: -o-linear-gradient(left, transparent, rgba(0, 0, 0, 0.15), transparent); }

.panel-login input[type="text"], .panel-login input[type="email"], .panel-login input[type="password"] {
  height: 32px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  font-size: 16px;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear; }

.panel-login input:hover,
.panel-login input:focus {
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-color: #ccc; }

.btn-login {
  background-color: #008fe2;
  outline: none;
  color: #fff;
  font-size: 14px;
  height: auto;
  font-weight: normal;
  padding: 6px 0;
  text-transform: uppercase;
  width: 100%;
  border-color: #59B2E6; }

.btn-login:hover,
.btn-login:focus {
  color: #fff;
  background-color: #53A3CD;
  border-color: #53A3CD; }

.forgot-password {
  text-decoration: underline;
  color: #888; }

.forgot-password:hover,
.forgot-password:focus {
  text-decoration: underline;
  color: #666; }

form#login-form {
  padding: 2px 15px 14px 15px; }

.bodybg {
/*  background: url("./images/bg.jpg") no-repeat 0 0;
  background-size: cover;*/ }

.logo img {
  display: block;
  margin: 0 auto;
  max-width: 170px;
  padding: 20px 0px; }

/*# sourceMappingURL=app.css.map */
.badge {
  background: #828080;
        margin-top: 4px;
}

i.glyphicon.glyphicon-ok-circle {
    font-size: 16px;
    color: #279253;
}
i.glyphicon.glyphicon-arrow-up, i.glyphicon.glyphicon-arrow-down{
    font-size: 16px;
    color: #ea2424;
}
.label {
    text-transform: capitalize;
}
span.badge.label-info {
    background: #5bc0de;
}
button.btn.btn-primary.SecondaryBtn.dropdown-toggle {
    text-transform: uppercase;
}
.col-md-2.pad-left-10.pull-right {
    padding-right: 21px;
    margin-bottom: 10px;
}
.table-top.row.no-gutters.nopadd {
    padding-top: 0;
}
li.pagination__ellipsis .glyphicon {
    
    font-size: 16px;
    margin-top: 9px;
}

li.pagination__ellipsis {
    /* width: 18px; */
    margin-right: 2px;
}
span.fa.fa-sort.pull-right {
    color: gainsboro;
    line-height: 19px;
}
th.active span.fa.fa-sort.pull-right.sort-down::before{
content: "\f0dd";    
    color:royalblue;
}
th.active span.fa.fa-sort.pull-right.sort-up::before{
content: "\f0de";   
    color:royalblue;
}