 <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"> Location Details</h4>
          </div>
          <div class="modal-body alert-modal-label">
            <div class="row">
              <div class="col-md-6">
                <div class="row no-gutters">
                  <div class="col-md-6 text-left"><label for="">Location Code</label></div>
                  <div class="col-md-6 text-left">Store 1</div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="row no-gutters">
                  <div class="col-md-6 text-left"> <label for="">Location Name</label> </div>
                  <div class="col-md-6 text-left">Adelaide</div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="row no-gutters">
                  <div class="col-md-6 text-left"> <label for="">Phone</label> </div>
                  <div class="col-md-6 text-left">+61 02 8202 5134</div>
                </div>
              </div>
              
              <div class="col-md-6">
                <div class="row no-gutters">
                  <div class="col-md-6 text-left"><label for=""> Email Address </label></div>
                  <div class="col-md-6 text-left">user@domain.com</div>
                </div>
              </div>    
            </div>
            <div class="m-t-10"></div>
            <div class="address-modal-wrapper clearfix m-0" >
            <div class="m-t-10"></div>
              <div class="row ">
                <div class="col-md-4">  <strong> Address Details</strong></div>
                <div class="col-md-6"></div>
              </div>
              <div class="row m-t-10">
                <div class="col-md-3"> <label for="">Address Line 1</label> </div>
                <div class="col-md-6">363 oxford St,Paddington</div>
              </div>
              <div class="row ">
                <div class="col-md-3"> <label for=""> Address Line 2</label></div>
                <div class="col-md-6">Sydney NSW 2021</div>
              </div>
              <div class="row ">
                <div class="col-md-3"><label for="">Address Line 3</label> </div>
                <div class="col-md-6">  </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-6"> <label for="">Country</label> </div>
                    <div class="col-md-6"> Australia</div>
                 </div>
                </div>
                <div class="col-md-6">
                  <div class="row">
                     <div class="col-md-6"> <label for="">State</label> </div>
                     <div class="col-md-6">NSW</div>
                 </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="row">
                      <div class="col-md-6"> <label for="">City</label> </div>
                      <div class="col-md-6"> Sydney</div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="row">
                      <div class="col-md-6"> <label for="">Zip Code</label></div>
                      <div class="col-md-6"> 2021 </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Edit</button>
            <button type="button" class="btn btn-default SecondaryBtn" data-dismiss="modal">Close</button>
          </div>