    <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">COMMITMENT DETAILS: AD1241-002</h4>
        </div>
        <div class="modal-body">
           <div class="row">
                <div class="col-md-12">
                    <form class="form-inline CusCommitment" role="form">
                        <br>
                  <div class="form-group col-md-4">
                      <label for="" class="col-md-8 control-label">Order Quantity</label>
                      <div class="col-md-4">
                        <span class="form-inline-left"> 25</span>
                      </div>
                    </div>
                    <div class="form-group col-md-8">
                      <label for="" class="col-md-5 control-label">Committed Quantity</label>
                       <div class="col-md-4">
                        <span class="form-inline-left"> 25</span>
                      </div>
                    </div>
                    </form>
                    <div class="clearfix"></div>
                    <hr>
                </div>
                  
                <div class="col-md-12">
                  <div class=""> 
                    <div class="block"><label style="font-weight:600;">Commitment Schedule</label></div>
                    <div class="">
           
                  
                            <form class="form-inline Commitmentcls" role="form">
                                <div class="col-md-4"> <div class="form-group">
    <label for="text">Sl No</label>
    <span class="form-inline-left"> 1</span>
                                     <span class="form-inline-left"> 2</span>
  </div></div>
                                <div class="col-md-4"> <div class="form-group">
    <label for="text">Date</label>
    <span class="form-inline-left"> 12/03/2016</span>
                                    <span class="form-inline-left"> 14/03/2016</span>
  </div></div>
                                <div class="col-md-4"> <div class="form-group">
    <label for="text">Quantity</label>
     <span class="form-inline-left"> 10</span>
                                      <span class="form-inline-left"> 15</span>
  </div></div>   
                                
</form>        
                    </div>
                
                </div>
                
              </div>
              </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default SecondaryBtn" data-dismiss="modal">Close</button>
        </div>