.ui-menu {
    list-style: none;
    padding: 0px;
    margin: 20px 0 0 0;
    display: block;
    float: left;
    background-color: #f9f9f9;
    border: 1px solid #efefef;
    border-radius: 3px 3px 3px 3px;
}
.ui-menu .ui-menu {
    margin-top: 0px;
}
.ui-menu .ui-menu-item {
    margin: 0;
    padding: 5px 10px;
    zoom: 1;
    float: left;
    clear: left;
    width: 100%;
    font-family: arial;
    background: #fff;
    border-bottom: 1px solid #ddd;
    padding: 3px 20px;
    font-size: 18px;
    line-height: 24px;
}
.ui-menu .ui-menu-item:hover {
    cursor: pointer;
    color: #fff;
    background-color: #0097cf;
}
.ui-menu .ui-menu-item a {
    text-decoration: none;
    display: block;
    padding: .1em .3em;
    line-height: 1.5;
    zoom: 1;
}
.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active {
    font-weight: bold;
}


.status-pills.text-center a {
    color: #152935;
}
.status-pills.text-center a:hover {
    text-decoration: none;
    color: #152935;
}

.status-number.last {
    border-right: 0px;
    padding-left: 0px;
}
.Order_summary li:first-child {
    min-width: 85px;
}
