<template>
<div>

    <div class="container-fluid CustomHgt">
        <div class="row">
            <div class="col-md-4">
                <ol class="breadcrumb cusbreadcrumb">
                    <li><a href="index.html">Dashboard</a></li>
                    <li><a href="vendors.html" v-on:click.stop=goBack()>Alerts</a></li>
                    <li class="active">Alert Details</li>
                </ol>
            </div>
            <div class="col-md-8">
                <div class="alert alert-danger alert-dismissible hidden" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong> Message Title:</strong> A line of color-coded error/message/info text appears with <a href="" class="link">relevant link</a> </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" cz-shortcut-listen="true">
        <div class="block  clearfix">
            <h5 class="pull-left">Alert Details</h5>
            <div class="pull-right">
                <ul class="list-inline list-unstyled">
                        <li>                            
                            <span v-if="!(getValue(Inbox, 'Status') === 'CLOSED')">
                                <div >
                                    <button class="btn btn-default SecondaryBtn" v-on:click.stop="markAsOrRemoveFromWIP(this.activeMarkAsWip)">{{ this.activeMarkAsWip = this.activeMarkAsWip ? 'Mark WIP' : 'Remove From WIP' }}</button>
                                </div>
                            </span>
                        </li>
                        <li>
                            <span v-if="getValue(Inbox, 'AssignedToUserId') === getUserId() ">
                                <div class="btn btn-default SecondaryBtn" v-on:click.stop="assignToSelf" disabled>Assign to Self</div>
                            </span>
                            <span v-else>
                                <div class="btn btn-default SecondaryBtn" v-on:click.stop="assignToSelf">Assign to Self</div>
                            </span>
                        </li>
                        <li>
                            <div class="btn btn-default SecondaryBtn"  data-toggle="modal" data-target="#assignalerttouser" v-on:click="startAssignAlertToUser">Assign Alert to User</div>
                        </li>
                        <li>
                            <div class="btn btn-default SecondaryBtn" v-on:click.stop="resolveAlert">Resolve Alert</div>
                        </li>
                    </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="panel panel-default m-t-10">
                    <div class="panel-heading">Header Details</div>
                    <div class="panel-body">
                        <div class="m-t-10"></div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group clearfix m-t-10">
                                    <label for="" class="col-sm-5 control-label">Alert ID</label>
                                    <div class="col-sm-7">
                                        {{getValue(Inbox,"InboxKey")}}
                                    </div>
                                </div>
                                <div class="form-group clearfix m-t-10">
                                    <label for="" class="col-sm-5 control-label">Queue</label>
                                    <div class="col-sm-6">
                                        {{getValue(Inbox,"Queue.QueueName")}}
                                    </div>
                                </div>
                                <div class="form-group clearfix m-t-10">
                                    <label for="" class="col-sm-5 control-label">First Raised On</label>
                                    <div class="col-sm-6">
                                        {{formatDate(Inbox,"GeneratedOn")}}
                                    </div>
                                </div>
                               
                            </div>
                            <div class="col-md-4">
                                <div class="form-group clearfix m-t-10">
                                    <label for="" class="col-sm-5 control-label">Description</label>
                                    <div class="col-sm-6">
                                        {{getValue(Inbox,"Description")}}
                                    </div>
                                </div>
                                <div class="form-group clearfix m-t-10">
                                    <label for="" class="col-sm-5 control-label">Status</label>
                                    <div class="col-sm-6">
                                        {{getValue(Inbox,"Status")}}
                                    </div>
                                </div>
                                <div class="form-group clearfix m-t-10">
                                    <label for="" class="col-sm-5 control-label">Last Raised On</label>
                                    <div class="col-sm-6">
                                        {{formatDate(Inbox,"LastOccurredOn")}}
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-md-4">
                                
                                <div class="form-group clearfix m-t-10">
                                    <label for="" class="col-sm-5 control-label">Alert Type</label>
                                    <div class="col-sm-6">
                                        {{getValue(Inbox,"ExceptionType")}}
                                    </div>
                                </div>
                                 <div class="form-group clearfix m-t-10">
                                    <label for="" class="col-sm-5 control-label">Order No</label>
                                    <div class="col-sm-6">
                                        <a href="#">{{getValue(Inbox,"OrderNo")}}</a>
                                    </div>
                                </div>
                                 <div class="form-group clearfix m-t-10">
                                    <label for="" class="col-sm-5 control-label">No. of Times Raised</label>
                                    <div class="col-sm-6">
                                        {{getValue(Inbox,"ConsolidationCount")}}
                                    </div>
                                </div>
                                <div class="form-group clearfix m-t-10">
                                    <label for="" class="col-sm-5 control-label"></label>
                                    <div class="col-sm-6">
                                        
                                    </div>
                                </div>

                            </div>

                        </div>
                        <div class="m-t-10"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default m-t-10">
                    <div class="panel-heading">Resolution details</div>
                    <div class="panel-body">
                        <div class="m-t-10"></div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group clearfix m-t-10">
                                    <label for="" class="col-sm-4 control-label">Assigned To</label>
                                    <div class="col-sm-6">
                                        {{getValue(Inbox,"AssignedToUserId")}}
                                    </div>
                                </div>
                                <div class="form-group clearfix m-t-10">
                                    <label for="" class="col-sm-4 control-label">Resolved By</label>
                                    <div class="col-sm-6">
                                        {{getValue(Inbox,"ResolvedByUserId")}}
                                    </div>
                                </div>

                                <div class="form-group clearfix m-t-10">
                                    <label for="" class="col-sm-4 control-label">Resolved On</label>
                                    <div class="col-sm-6">
                                        {{formatDate(Inbox,"ResolutionDate")}}
                                    </div>
                                </div>
                                <br>
                            </div>

                        </div>
                        <div class="m-t-10"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-8">
                <div class="panel panel-default m-t-10">
                    <div class="panel-heading clearfix panel-alert-heading">
                        <div class="i-block pull-left">Comments</div>
                        
                    </div>
                    <div class="clearfix"></div>
                    <div class="panel-body">
                        <div class="noteBody" >
                            <div v-for="note in notesList | filterBy 'COMMENT' in 'ReferenceType' | orderBy 'Createts' -1" >
                                    <td>{{formatDate(note, "Createts")}} -  {{getValue(note, "Createuserid")}}</td>
                                    <span class="block"> {{getValue(note, "Value")}} </span>
                            </div>                                              
                        </div>
                    </div>
                </div>
            </div>
                <div class="col-md-4">

                  <div class="panel panel-default m-t-10">
                  <div class="panel-heading clearfix panel-alert-heading"><div class="i-block pull-left">Add Notes</div></div>
                      <div class="clearfix"></div>
                  <div class="panel-body">
                    <textarea class="form-control Comments" rows="8" id="comment" v-model="updateInbox.UpdateReferencesList.InboxReferences[0].Value"></textarea>

                       <div class="btn btn-default SecondaryBtn AddNotes pull-right" @click.stop="AddNotes">Add Note</div>
                      <br/>
                  </div>
                 </div>
                </div>

            </div>
        <div class="clearfix"></div>
        <div v-show="showAssignAlerts">
            <div class="modal fade" id="assignalerttouser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog modal-sm" role="document">
                    <div class="modal-content">
                        <div class="modal-content">
                            <assignalerttouser
                              :assignalert="assignAlerts"
                              :userlist="userList"
                              v-on:cancel="cancelAlert()"
                              v-on:assign="assignAlert()"
                              >
                            </assignalerttouser>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
    </div>


    <input class="hidden" value= {{$route.query.key}}  v-model="Inbox.InboxKey " />
    </div>
</template>

<script>
    var Vue = require('vue')
    var Utils = require('./../utils/utils.js')
    
    export default{

	  data: function () {
          
        var Inbox= {};
        var activeMarkAsWip = false;  
        var userList = [];
        var User = {};
        var assignAlerts={};
        var input={'InboxKey':'', 'Status':''};
        var assignException = {'Inbox':{'InboxKey':''}};        
        var notesList=[];
        var resolveAlertInput = {'Inbox':{'InboxKey':''}};
        var showAssignAlerts=false;  
        var updateInbox={'Inbox': { 'InboxKey': ''} ,
                         'UpdateReferencesList':{
                             'InboxReferences':[{'Name': '', 'Value': '', 'ReferenceType': 'COMMENT'}]
                         } 
                        };  
        return{
            Inbox:Inbox,
            input:input,
            User:User,
            userList:userList,
            assignAlerts:assignAlerts,
            resolveAlertInput:resolveAlertInput,
            assignException:assignException,
            showAssignAlerts:showAssignAlerts,
            notesList: notesList,
            updateInbox: updateInbox,
            activeMarkAsWip:activeMarkAsWip
            
        }
      },
	  
      methods: {	  
        getValue: function(row, binding) {
          return Utils.getValue(row,binding)
        },

        goBack: function () {
          window.history.go(-1)
        },
          
        AddNotes: function(){            
            
            var self = this
            var addNotesOnScreen = function(result) {
                var newNote = self.getNewNoteObject();
                var iReference = self.getValue(self.updateInbox,"UpdateReferencesList.InboxReferences")[0];
                newNote['Value'] = iReference.Value;
                newNote['Createts'] = Utils.formatDateForServer(new Date());
                self.notesList.push(newNote);
                iReference.Value="";
            }
            self.updateInbox.Inbox.InboxKey= self.Inbox.InboxKey; 
            var iReference = self.getValue(self.updateInbox,"UpdateReferencesList.InboxReferences")[0];
            iReference.Name = this.getNewTime();
            Utils.invokeMashup("updateExceptionReferences", addNotesOnScreen, self.updateInbox);
                        
        },
          
        formatDate: function(row, binding){
            var date = Utils.getValue(row,binding)
            return Utils.formatForDisplay(date)
        },
        
        getNewNoteObject: function(){
          var inboxReferences = { 'Name': '', 'Value': '', 'ReferenceType': 'COMMENT' , 'Createts':'', 'Createuserid':'admin'}
          return inboxReferences
        },
          
        getNewTime: function(){
            var d = new Date();
            var n = d.getMilliseconds();
            return n;
        },
          
        markAsOrRemoveFromWIP: function(action){            
            var self = this;
            self.input.InboxKey=self.Inbox.InboxKey;
            if(action){
                self.input.Status='WIP';
                var success = function(result) {
                    self.Inbox.Status='WIP';
                }
                Utils.invokeMashup("markaswip", success, self.input);
            }else{
                self.input.Status='OPEN';
                var success = function(result) {
                    self.Inbox.Status='OPEN';
                }
                Utils.invokeMashup("removefromwip", success, self.input);
            }            
        },
               
        assignToSelf: function(){
            var self = this;            
            self.assignException.Inbox.InboxKey=self.Inbox.InboxKey;
            self.assignException.AssignToUserId=window.AppInfo.loginid;
            var success = function(result) {
                self.Inbox.AssignedToUserId=window.AppInfo.loginid;                
            }
		    Utils.invokeMashup("assigntoself", success, self.assignException);
        },
          
        resolveAlert: function(){
            var self=this;
            self.resolveAlertInput.AutoResolvedFlag='N';
            self.resolveAlertInput.ResolvedBy=window.AppInfo.loginid;
            self.resolveAlertInput.Inbox.InboxKey=self.Inbox.InboxKey;
            var success = function(result) {
                self.Inbox.Status='CLOSED';
                self.Inbox.ResolvedByUserId=window.AppInfo.loginid;
            }
		    Utils.invokeMashup("resolvealert", success, self.resolveAlertInput);
        },
          
        startAssignAlertToUser: function(){
            this.assignAlerts = JSON.parse(JSON.stringify(this.Inbox));
            this.showAssignAlerts=true;
        },
          
        assignAlert: function(){
            this.Inbox = this.assignAlerts;
            this.assignAlerts=null;
        },
          
        cancelAlert: function(){
            this.assignAlerts=null;
        },
        
        getUserId: function(){
            return window.AppInfo.loginid;
        }
      }, 
    
    route: {
	   data: function (transition) {		
            var self = this
            var loadUserList = function(userListResult){
                var success = function(result) {
                    transition.next({
                        Inbox: result,
                        notesList: result.InboxReferencesList.InboxReferences,
                        userList: userListResult.User
                    })
                }
                Utils.invokeMashup("alertdetails", success, self.Inbox);
            }
            Utils.invokeMashup("userList", loadUserList, self.User); 
   	    }
    },
        
	  beforeDestroy: function() {
	  	$(this.$el).remove();
	  	$(this.$el).removeData();
	  },
        
      computed: {
        activeMarkAsWip: function () {
            var self=this;
            if(this.Inbox.Status==='OPEN'){
                return true;
            }else if(this.Inbox.Status==='WIP'){
                return false;
            }
        }
      }
}

</script>


