<template>
    <div>
            <div class="container-fluid CustomHgt">
              <div class="row ">
                <div class="col-md-4">
                  <ol class="breadcrumb cusbreadcrumb">
                    <li><a href="index.html">Dashboard</a></li>
                     <li class="active">Alerts</li>
                  </ol>
                </div>
                <div class="col-md-8">
                  <div class="alert alert-danger alert-dismissible hidden" role="alert">
                     <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <strong> Message Title:</strong>  A line of color-coded error/message/info text appears with <a href="" class="link">relevant link</a> </div>
                </div>
              </div>
             </div>
      
    <div class="container-fluid" >
        <div class="block  clearfix">
            <h5 class="pull-left">Alerts</h5>     
        </div>
        
        <div class="clearfix"></div>
        
        <div class="panel panel-default">
            <div class="panel-heading">  
                <div class="col-md-5  cal-box">Show
                    <select class="select-style form-control" v-model="alertSearchType" >
                        <option value="" >My Alerts</option>
                        <option value="all" >All</option>                        
                    </select>
                    
                    <div class="btn btn-default" @click="showSearch=!showSearch">
                        <div class=""><i class="fa fa-search-plus" aria-hidden="true"></i></div>
                    </div>   

                </div> 
                
                <div class="pull-right">
                    <ul class="list-inline list-unstyled">
                        <li>
                            <div class="btn btn-default SecondaryBtn" disabled v-on:click="assignToSelf">Assign to Self</div>
                        </li>
                        <li>
                            <div class="btn btn-default SecondaryBtn" disabled data-toggle="modal" data-target="#assignalerttouser" v-on:click="startAssignAlertToUser">Assign Alert to User</div>
                        </li>
                    </ul>
                </div>
            </div>
            
            <div class="clearfix"></div>
            
            <form v-if="showSearch">
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="adavanceSearch">Advanced Search</h4>
                          <div class="col-md-4">
                                <div class="form-group">
                                    <label for="alertId">Alert ID</label>
                                    <input type="test" class="form-control" placeholder="AlertId" v-model="alertSearchModel.InboxKey">
                                </div>
                         </div>
                         
                        <div class="col-md-4">           
                            <div class="form-group">
                                <label for="exceptionType">Alert Type</label>
                                 <select class="form-control" v-model="alertSearchModel.ExceptionType">
                                    <option value="" >All</option>
                                    <option value={{exceptionType.ExceptionType}} v-for="exceptionType in exceptionTypeList">{{exceptionType.ExceptionTypeDescription}}</option>                        
                                </select>
                            </div>
                        </div>
                        
                        
                        <div class="col-md-4">           
                            <div class="form-group">
                                <label for="alertStatus">Alert Status</label>
                                 <select class="form-control" v-model="alertSearchModel.ActiveFlag">
                                    <option value="Y" >Active</option>
                                    <option value="N" >Inactive</option>
                                    <option value="" >All</option>
                                </select>
                            </div>
                        </div>
                        
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="orderNo">Order No</label>
                                <input type="email" class="form-control" placeholder="OrderNo" v-model="alertSearchModel.OrderNo">
                            </div>
                        </div>
                   
                        <div class="col-md-4">        
                            <div class="form-group">
                                <label for="assignedToUser">Assigned To User</label>
                                <select class="form-control" v-model="alertSearchModel.User.Loginid">
                                    <option value="" ></option>
                                    <option value={{user.Loginid}} v-for="user in userList">{{user.Username}}</option>                        
                                </select>
                            </div>
                        </div>
                        
                        <div class="form-group col-md-3 ">
                            <label for="exampleInputEmail1">Last Raised On</label>
                              <div class="row">
                              <div class="col-md-6">
                             <input type="text" class="form-control " placeholder="From date" v-datepicker="alertSearchModel.FromLastOccurredOn">
                                  <span class="glyphicon glyphicon-calendar form-control-feedback" aria-hidden="true"></span>
                                </div>
                              <div class="col-md-6">
                               <input type="text" class="form-control" placeholder="To date" v-datepicker="alertSearchModel.ToLastOccurredOn">
                                  <span class="glyphicon glyphicon-calendar form-control-feedback" aria-hidden="true"></span>
                                    </div>
                                </div>
                        </div>
                        
                        <div class="col-md-4">        
                            <div class="form-group">
                                <label for="assignedToUser">Queue</label>
                                <select class="form-control" v-model="alertSearchModel.Queue.QueueId">
                                    <option value="" >All</option>
                                    <option value={{queue.QueueId}} v-for="queue in queueList">{{queue.QueueName}}</option>                        
                                </select>
                            </div>
                        </div>
                        
                         <div class="col-md-4">
                           <div class="form-group">
                                <label for="company">Priority</label>
                                <input type="number" class="form-control" placeholder="Priority"  v-model="alertSearchModel.Priority">
                            </div>
                        </div>
                                           
                         <div class="col-md-4">
                           <div class="form-group">
                                <label for="company">Maximum Records</label>
                                <input type="number" class="form-control" placeholder="50"  v-model="alertSearchModel.MaximumRecords">
                            </div>
                        </div>
                      
                        </div> 
                      
                        <div class="col-md-2 pad-left-10 pull-right">
                            <div class="btn btn-primary btn-block" v-on:click.stop="alertSearch">
                                Search
                            </div>
                        </div>
                    <div class="clearfix"></div>
                </div>
            </form>  
            
            <div class="panel-body">
   
            
            <div class="table-wrapper">
                <table id="" class="table table-striped table-hover" cellspacing="0" width="100%" role="grid" aria-describedby="example_info">
  
                     <thead>
                        <tr role="row">
                            <th class="" style="width: 20px;">  </th>
                                                        
                             <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"       @click="sortBy('InboxKey')" :class="{active: gmeta.sort.key == 'InboxKey'}" >Alert ID   
                                <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['InboxKey'] > 0 ? 'sort-up' : 'sort-down'">
                                 </span>
                            </th>
                            
                                            
                             <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"       @click="sortBy('Description')" :class="{active: gmeta.sort.key == 'Description'}" >Description   
                                <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['Description'] > 0 ? 'sort-up' : 'sort-down'">
                                 </span>
                            </th>
                            
                            
                            
                             <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"       @click="sortBy('Status')" :class="{active: gmeta.sort.key == 'Status'}" >Status  
                                <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['Status'] > 0 ? 'sort-up' : 'sort-down'">
                                 </span>
                            </th>
                            
                                                        
                             <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"       @click="sortBy('Queue.QueueName')" :class="{active: gmeta.sort.key == 'Queue.QueueName'}" >Queue
                                <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['Queue.QueueName'] > 0 ? 'sort-up' : 'sort-down'">
                                 </span>
                            </th>
                            
                            
                                                        
                             <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"       @click="sortBy('OrderNo')" :class="{active: gmeta.sort.key == 'OrderNo'}" >Order No   
                                <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['OrderNo'] > 0 ? 'sort-up' : 'sort-down'">
                                 </span>
                            </th>
                            
                                                        
                             <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"       @click="sortBy('AssignedToUserId')" :class="{active: gmeta.sort.key == 'AssignedToUserId'}" >Assigned To  
                                <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['AssignedToUserId'] > 0 ? 'sort-up' : 'sort-down'">
                                 </span>
                            </th>
                            
                                                        
                             <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"       @click="sortBy('LastOccurredOn')" :class="{active: gmeta.sort.key == 'LastOccurredOn'}" >Last Raised On  
                                <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['LastOccurredOn'] > 0 ? 'sort-up' : 'sort-down'">
                                 </span>
                            </th>
                            
                                                         
                             <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"       @click="sortBy('Priority')" :class="{active: gmeta.sort.key == 'Priority'}" >Priority  
                                <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['Priority'] > 0 ? 'sort-up' : 'sort-down'">
                                 </span>
                            </th>
                            
                        </tr>
                    </thead>
                    
                    <tbody>
                        <tr class="filterIndex">
                            <th class="center-filter">
                                <div class="glyphicon glyphicon-filter"></div>
                            </th>
                                                         
                            <td> <input type=text v-model="gmeta.filter.InboxKey"> </td>
                            <td> <input type=text v-model="gmeta.filter.Description"> </td>                            
                            <td> <input type=text v-model="gmeta.filter.Status"> </td>
                        <td> <input type=text v-model="gmeta.filter.Queue.QueueName"> </td>
                            <td> <input type=text v-model="gmeta.filter.OrderNo"> </td>                            
                            <td> <input type=text v-model="gmeta.filter.AssignedToUserId"> </td>
                            <td> <input type=text v-model="gmeta.filter.LastOccurredOn"> </td>
                            <td> <input type=text v-model="gmeta.filter.Priority"> </td>
                            <td></td>
                        </tr>
                            
                            <tr  role="row" :class="[($index % 2) > 0 ? 'even' : 'odd']" 
                                v-for=" row in gridData 
                                | gridsorter gmeta.sort.key gmeta.sort.order gmeta.sort.numeric
                               | gridfilter gmeta.filter columns
                               | paginate " >
						      
                            <td> <input type="checkbox" id="{{row.InboxKey}}" value="{{row.InboxKey}}" v-model="checkedInboxKeys">     </td>
                            <td><a v-link="{ path: '/alertdetails',query:{key:row['InboxKey']}}"> {{getValue(row, "InboxKey")}}  </a>   </td>
                            <td> {{getValue(row, "Description")}}     </td>
                            <td> {{getValue(row, "Status")}}     </td>
                            <td> {{getValue(row, "Queue.QueueName")}}     </td>
                            <td><a v-link="{ path: '/orderdetails',query:{key:row['OrderHeaderKey']}}"> {{getValue(row, "OrderNo")}}  </a>   </td>                            
                            <td> {{getValue(row, "AssignedToUserId")}}     </td>
                            <td> {{formatDate(row, "LastOccurredOn")}}     </td>
                            <td> {{getValue(row, "Priority")}}     </td>
				        </tr>
                    </tbody>
                </table>
                
                    
                 <div class="row m-t-10">
                    <gridpagination 
                        :gmeta="gmeta"
                        :total-pages="totalPages"
                        v-on:setpage="setPage">
                    </gridpagination >
                </div>
            </div>
          </div>
        </div>
       </div>
        
        <div v-show="assignAlerts">
            <div class="modal fade" id="assignalerttouser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog modal-sm" role="document">
                    <div class="modal-content">
                        <div class="modal-content">
                            <assignalerttouser
                              :assignalert="assignAlerts"   
                              :userlist="userList"
                              v-on:cancel="cancelVendorContactEdit()"
                              v-on:apply="saveVendorContactEdit()"
                              >
                            </assignalerttouser>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   
        <div class="modal fade" id="shipping-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
         
                </div>
            </div>
        </div>
     

    </div>
</template>
<script>
	var Vue = require('vue')
	var Utils = require('./../utils/utils.js')
    var GridUtils = require('./../utils/gridutils.js')
    
	export default {
	
	   props: {
            data: Array,
            height: Number,	
	        },
            
                      
	   data: function () {
            var filterKey="Y";
            var alertSearchModel = {
                'InboxKey': '',
                'MaximumRecords': '50',
                'ExceptionType': '',
                'OrderNo': '',
                'Priority': '',
                'ActiveFlag':'Y',
                'ActiveFlagQryType': 'EQ',
                'Queue': {'QueueId':''},
                'User': {'Loginid':''}
                                
            };
           
        var alertSearchType='';
        var assignAlerts={}; 
        var checkedInboxKeys=[];
        var columns =  ['InboxKey','Description','ExceptionType','Queue.QueueName','Status','OrderNo','AssignedToUserId','LastOccurredOn','Priority']
        var gmeta = {};
        var showSearch =false;
        GridUtils.populateGridMeta(gmeta, columns, false)

	  	var gridData = [];
        var queueList = [];
        var exceptionTypeList = [];
        var userList = [];
        var Inbox= {'User' : {'Loginid' :''}};
        var assignException = {'AssignToUserId  ':'', 'Inbox' : {'InboxKey':''}};        
        
	    return {
            alertSearchModel:alertSearchModel,
            columns: columns,
            userList:userList,
            assignException:assignException,
            exceptionTypeList:exceptionTypeList,
            gridData: gridData,
            queueList: queueList,
            showSearch: showSearch,    
            gmeta: gmeta,
            alertSearchType:alertSearchType,
            Inbox:Inbox,
            assignAlerts:assignAlerts,
            checkedInboxKeys:checkedInboxKeys
	       }
        },

	    route: {
		  data: function (transition) {
		       
		        var loadQueue = function(result) {
                    var loadUserList = function(userListResult){
                        var loadExceptionTypeList = function(exceptionTypeResult) {
                            var success = function(alertresult) {
                                transition.next({
                                    gridData : alertresult.Inbox,
                                    queueList : result.Queue,
                                    exceptionTypeList : exceptionTypeResult.ExceptionType,
                                    userList: userListResult.User
                                })
                            }
                            //self.alertSearchModel.User.Loginid=window.AppInfo.loginid;
                            Utils.invokeMashup("alertList", success, self.alertSearchModel);
				        }  
                        Utils.invokeMashup("exceptionTypeList", loadExceptionTypeList, self.exceptionTypeList);
                    }
                    Utils.invokeMashup("userList", loadUserList, self.User); 
                }                 
		        Utils.invokeMashup("queueList", loadQueue, self.Queue); 
/*                
                var apiCount = 2
                var queueData
                var alertData
                var loadQueue = function(result) {
                    apiCount--
                    queueData=result.Queue
                }
                var loadAlert = function(result) {
                    apiCount--
                    alertData=result.Inbox
                      if(apiCount==0) {
                        transition.next({
						  gridData : alertData,
                          queueList : queueData      
					   })
                    }
  
                }                                   
                
                Utils.invokeMashup("queueList", loadQueue, self.Queue);
                Utils.invokeMashup("alertList", loadAlert, self.Inbox); 
            */    


		  }
          
        },	

        computed: {
          totalPages: function() {
            return Math.ceil(this.gmeta['pagination']['resultCount'] / this.gmeta['pagination']['itemsPerPage'])
          }
        },
        
        filters: {
	   	   paginate: function(list) {
            return GridUtils.paginate(this.gmeta, list, this.totalPages)
	   	   }
        },   
        
        methods: {
            getValue: function(row, binding) {
                return Utils.getValue(row,binding)
            },
            setPage: function(pageNumber) {
                GridUtils.setPage(this.gmeta, pageNumber, this.totalPages)
            },
            sortBy: function (key, numeric) {
              GridUtils.sortBy(this.gmeta, key, numeric)
            },
            
            formatDate: function(row, binding){
                var date = Utils.getValue(row,binding)
                return Utils.formatForDisplay(date)
            },
      
            alertSearch: function(event) {
             event.preventDefault()	      
	           var self = this	
   			        var success = function(result) {       
                        self.gridData = result.Inbox 
	                    self.showSearch=false
			         } 
                if(self.alertSearchType===''){
                    //self.alertSearchModel.User.Loginid=window.AppInfo.loginid;
                }                
			 Utils.invokeMashup("alertList", success, self.alertSearchModel);  
	       },
            
           assignToSelf: function(){
               var self = this;
               for(var i=0; i< self.checkedInboxKeys.length; i++){
                    self.assignException.Inbox.InboxKey=self.checkedInboxKeys[i].InboxKey;
                    self.assignException.AssignToUserId=window.AppInfo.loginid;
                    var success = function(result) {
                        for(var i=0; i< self.gridData.length; i++){
                            if(self.gridData[i].InboxKey === self.checkedInboxKeys[i].InboxKey){
                                self.gridData[i].AssignedToUserId=window.AppInfo.loginid;                
                            }
                        }                        
                    }
                    //Utils.invokeMashup("assigntoself", success, self.assignException);
               }
           },
            
            startAssignAlertToUser: function(){
                this.assignAlerts = JSON.parse(JSON.stringify(this.Inbox));
                this.showAssignAlerts=true;
            }
            
        },
        
        watch:{
            alertSearchType: function(alertSearchType){                
                var self = this	
                var success = function(result) {       
                    self.gridData = result.Inbox 
                    self.showSearch=false
                 }
                if(alertSearchType==='all'){
                    self.Inbox.User.Loginid='';
                    self.Inbox.ActiveFlag='';
                    self.Inbox.ActiveFlagQryType='';
                }else{
                    self.Inbox.User.Loginid=window.AppInfo.loginid;
                    //self.Inbox.ActiveFlag='Y';
                    //self.Inbox.ActiveFlagQryType='EQ';
                }                
                Utils.invokeMashup("alertList", success, self.Inbox);              
            }
        },
        
	   beforeDestroy: function() {
	  	$(this.$el).remove();
	  	$(this.$el).removeData();
	  }
    }
</script>
