
<template>
<div>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="">UserList</h4>
    </div>
    
    <div class="modal-body address-modal-body">
          <div class="row">
            <div class="form-group">
                <label for="assignedToUser">Assigned To User</label>
                <select class="selectpicker" v-model="assignException.AssignToUserId" data-live-search="true">
                    <option value="" ></option>
                    <option value={{user.Loginid}} v-for="user in userlist">{{user.Username}}</option>                        
                </select>
            </div>
                        
            
          </div>        
    </div>
    
    <div class="modal-footer">
       <button type="button" class="btn btn-default" data-dismiss="modal" v-on:click="assign()">Assign User</button>
    <button type="button" class="btn btn-default SecondaryBtn" data-dismiss="modal" v-on:click="cancel()">Cancel</button>
    </div>
  	
</div>
</template>
<script>
    var Vue = require('vue')
    var Utils = require('./../utils/utils.js')
    
    export default{
        
        props: {
            assignalert: Object,
            userlist: Array
            
        },

        data: function () { 
            
            var assignException = {'Inbox':{'InboxKey':''}};
            
            return {
                assignException:assignException
            }
        },
	  
        methods: {	  
         getValue: function(row, binding) {
            return Utils.getValue(row,binding)
         },

         goBack: function () {
           window.history.go(-1)
         },
            
         cancel: function() {
            this.$dispatch('cancel')
         },
        
        getNewAssignAlertObject: function(){
          var assign = {'Inbox':{'InboxKey':''}};
          return assign;
        },
            
         assign: function() {
            var self = this;            
            self.assignException.Inbox.InboxKey=self.assignalert.InboxKey;
            self.assignalert.AssignedToUserId=self.assignException.AssignToUserId;
            var success = function(result) {
                self.$dispatch('assign');
                self.assignException= self.getNewAssignAlertObject();
            }
		    Utils.invokeMashup("assigntoself", success, self.assignException);
         }
        }, 	  
		  
        beforeDestroy: function() {
            $(this.$el).remove();
            $(this.$el).removeData();
        }
}

</script>