
<template>
<div>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id=""> <i class="glyphicon glyphicon-exclamation-sign"></i> Confirmation</h4>
    </div>
    
    <div class="modal-body address-modal-body">
          <p class="text-center"> Are you sure want to Delete ?</p>    
    </div>
    <div class="modal-footer">
       <button type="button" class="btn btn-default" data-dismiss="modal" v-on:click="deleteContact()">Yes</button>
       <button type="button" class="btn btn-default SecondaryBtn" data-dismiss="modal" v-on:click="cancelDelete()">No</button>
    </div>
  	
</div>
</template>
<script>
    var Vue = require('vue')
    var Utils = require('./../utils/utils.js')
    
    export default{
        
        props: {
          vendorcontactdelete: Object
        },

        data: function () { 
            
            return {
                
            }
        },
	  
        methods: {	  

         goBack: function () {
           window.history.go(-1)
         },
            
         cancelDelete: function() {
            this.$dispatch('cancel')
         },
            
         deleteContact: function() {
            this.$dispatch('delete')
         }
            
        },  
	  
		  
        beforeDestroy: function() {
            $(this.$el).remove();
            $(this.$el).removeData();
        }
}

</script>