<template>
  <div>
    <div id="header"></div>
    <div class="container-fluid CustomHgt">
        <div class="row ">

            <div class="col-md-8">
                <div class="alert alert-danger alert-dismissible hidden" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong> Message Title:</strong> A line of color-coded error/message/info text appears with <a href="" class="link">relevant link</a> </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" cz-shortcut-listen="true">
        <div class="block  clearfix">
      <h5 class="pull-left">DashBoard</h5>

    </div>
        <div class="row">
            <div class="col-md-6">
                <div class="row m-t-10 dashboard-row-one">
                      <div class="col-md-5 alert-panel alert-large-box">
                        <div class="box panel panel-default clearfix">
                            <div class=" panel-heading">
                                <h5>YTD Order Summary</h5> </div>
                            <div class="clearfix"></div>
                            <div class="panel-body">
                                <div class="row no-gutters">
                                    <div class="col-xs-4">
                                        <div class="status-pills text-center">
                                            <a href="orders.html">
                                                <div class="status-number ">
                                                    50
                                                    <p>Total</p>
                                                </div>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="col-xs-8">
                                        <div class="status-pills text-center">
                                            <a href="orders.html">
                                                <div class="status-number last">
                                                    3,540
                                                    <p>Total Value (AUD)</p>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7 alert-panel alert-large-box">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h5> Common Tasks</h5></div>
                            <div class="clearfix"></div>
                            <div class="panel-body panel-common-body">
                                <ul class="list-unstyled list-linked-modal clearfix">
                                    <div class="col-md-12">
                                    <li>
                                        <a data-target="#uploadFilePage" data-backdrop="static" role="button" class="btn modalcls" data-toggle="modal" v-on:click="uploadFile()" >Upload Inventory</a>
                                    </li>

                                    <li>
                                    <a data-target="#uploadOtherFiles" data-backdrop="static" role="button" class="btn modalcls" data-toggle="modal" v-on:click="uploadOthers()" > Other uploads</a></li>

                                           <li><a href="book_ad_hoc.html" class="bookadCls"> Book Ad-Hoc Logistics</a></li>
                                       <li>  <a href="modals/inventory_exceptions.html" data-backdrop="static" data-target="#inventory_exceptions" role="button" class="btn modalcls" data-toggle="modal">Show Inventory Exceptions</a></li>
                                    </div>
                                    <!--  <li><a href="" data-toggle="modal" data-target="#inv-browse-modal-big"> Create Location</a></li>-->
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 alert-panel col-sm-12 alert-large-box">
                        <div class="box panel panel-default">
                            <div class=" panel-heading">

                                <h5> Alert Summary
                                    </h5> <div class="pull-right"><span class="RoundBadge"></span><span class="badgeText">All Alerts</span>
                                  <span class="RoundBadge red"></span><span class="badgeText">My Alerts</span> </div>
                                </div>

                          <div class="clearfix"></div>
                            <div class="panel-body">

                                <div class="row no-gutters">
                                    <div class="col-md-4">
                                        <ul class="list-unstyled Order_summary">
                                            <li class="col-xs-12">
                                                <ul  class="list-unstyled list-inline">
                                                <li > PO Delayed</li>
                                            <li ><a href="alerts.html"><span class="badge">22</span></a></li>
                                                    <li ><a href="alerts.html"><span class="badge label-info">10</span></a></li>
                                                </ul>

                                               </li>
                                               <li class="col-xs-12">
                                                <ul  class="list-unstyled list-inline">
                                                <li >Not Committed</li>
                                                    <li > <a href="alerts.html"><span class="badge">22</span></a></li>
                                                    <li > <a href="alerts.html"><span class="badge label-info">10</span></a></li>
                                                </ul>

                                               </li>
                                               <li class="col-xs-12">
                                                <ul  class="list-unstyled list-inline">
                                                <li >Queue Name</li>
                                                    <li > <a href="alerts.html"><span class="badge">22</span>
                                                        </a></li>
                                                    <li > <a href="alerts.html"><span class="badge label-info">10</span></a></li>
                                                </ul>

                                               </li>


                                        </ul>
                                    </div>
                                    <div class="col-md-4">
                                        <ul class="list-unstyled Order_summary">
                                            <li class="col-xs-12">
                                                <ul  class="list-unstyled list-inline">
                                                <li > Queue Name</li>
                                            <li ><a href="alerts.html"><span class="badge">22</span></a></li>
                                            <li ><a href="alerts.html"><span class="badge label-info">10</span></a></li>
                                                </ul>

                                               </li>
                                               <li class="col-xs-12">
                                                <ul  class="list-unstyled list-inline">
                                                <li >Queue Name</li>
                                                    <li ><a href="alerts.html"><span class="badge">22</span></a></li>
                                                    <li ><a href="alerts.html"><span class="badge label-info">10</span></a></li>
                                                </ul>

                                               </li>
                                                 <li class="col-xs-12">
                                                <ul  class="list-unstyled list-inline">
                                                <li >Queue Name</li>
                                                    <li ><a href="alerts.html"><span class="badge">22</span></a></li>
                                                    <li ><a href="alerts.html"><span class="badge label-info">10</span></a></li>
                                                </ul>

                                               </li>


                                        </ul>
                                    </div>
                                     <div class="col-md-4">
                                        <ul class="list-unstyled Order_summary">
                                             <li class="col-xs-12">
                                                <ul  class="list-unstyled list-inline">
                                                <li>Queue Name</li>
                                                    <li><a href="alerts.html"><span class="badge">22</span></a></li>
                                                    <li><a href="alerts.html"><span class="badge label-info">10</span></a></li>
                                                </ul>

                                               </li>
                                                <li class="col-xs-12">
                                                <ul  class="list-unstyled list-inline">
                                                <li >Queue Name</li>
                                                    <li ><a href="alerts.html"><span class="badge">22</span></a></li>
                                                    <li ><a href="alerts.html"><span class="badge label-info">10</span></a></li>
                                                </ul>

                                               </li>
                                                <li class="col-xs-12">
                                                <ul  class="list-unstyled list-inline">
                                                <li >Queue Name</li>
                                                    <li ><a href="alerts.html"><span class="badge">22</span></a></li>
                                                    <li ><a href="alerts.html"><span class="badge label-info">10</span></a></li>
                                                </ul>

                                               </li>


                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12  col-sm-12">
                        <div class="box panel panel-default clearfix ">
                            <div class=" panel-heading">
                                <h5>Order Status Summary</h5>
                             <div class="pull-right">
                                    <select class="select-style form-control">
                                        <option selected="50" value="10">Meridian PO</option>
                                        <option value="">Integral Plus PO</option>
                                        <option value="">Purchase Orders</option>
                                        <option value="">Transfer Orders</option>
                                        <option value="">Sales Orders</option>
                                        <option value="">Material Reservations</option>
                                    </select>
    </div>
                                </div>
                                <div class="clearfix"></div>

                            <div class="panel-body">
                                <div class="row no-gutters">
                                    <div class="col-md-3">
                                         <ul class="list-unstyled Order_summary">
                                          <li class="col-xs-12">
                                                <ul  class="list-unstyled  list-inline">
                                                <li >New</li>
                                                    <li ><a href="orders.html"><span class="badge">52</span></a></li>
                                                </ul>

                                               </li>
                                         <li class="col-xs-12">
                                                <ul  class="list-unstyled  list-inline">
                                                <li >Committed</li>
                                                    <li ><a href="orders.html"><span class="badge">22</span></a></li>
                                                </ul>

                                               </li>
                                         <li class="col-xs-12">
                                                <ul  class="list-unstyled  list-inline">
                                                <li >Shipped</li>
                                                    <li ><a href="orders.html"><span class="badge">42</span></a></li>
                                                </ul>

                                               </li>
                                        </ul>
                                    </div>
                                      <div class="col-md-3">
                                       <ul class="list-unstyled Order_summary">
                                          <li class="col-xs-12">
                                                <ul  class="list-unstyled  list-inline">
                                                <li >New</li>
                                                    <li ><a href="orders.html"><span class="badge">52</span></a></li>
                                                </ul>

                                               </li>
                                         <li class="col-xs-12">
                                                <ul  class="list-unstyled  list-inline">
                                                <li >Committed</li>
                                                    <li ><a href="orders.html"><span class="badge">22</span></a></li>
                                                </ul>

                                               </li>
                                         <li class="col-xs-12">
                                                <ul  class="list-unstyled  list-inline">
                                                <li >Shipped</li>
                                                    <li ><a href="orders.html"><span class="badge">42</span></a></li>
                                                </ul>

                                               </li>
                                        </ul>
                                    </div>
                                      <div class="col-md-3">
                                             <ul class="list-unstyled Order_summary">
                                          <li class="col-xs-12">
                                                <ul  class="list-unstyled  list-inline">
                                                <li >New</li>
                                                    <li ><a href="orders.html"><span class="badge">52</span></a></li>
                                                </ul>

                                               </li>
                                         <li class="col-xs-12">
                                                <ul  class="list-unstyled  list-inline">
                                                <li >Committed</li>
                                                    <li ><a href="orders.html"><span class="badge">22</span></a></li>
                                                </ul>

                                               </li>
                                         <li class="col-xs-12">
                                                <ul  class="list-unstyled  list-inline">
                                                <li >Shipped</li>
                                                    <li ><a href="orders.html"><span class="badge">42</span></a></li>
                                                </ul>

                                               </li>
                                        </ul>
                                    </div>
                                      <div class="col-md-3">
                                             <ul class="list-unstyled Order_summary">
                                          <li class="col-xs-12">
                                                <ul  class="list-unstyled  list-inline">
                                                <li >New</li>
                                                    <li ><a href="orders.html"><span class="badge">52</span></a></li>
                                                </ul>

                                               </li>
                                         <li class="col-xs-12">
                                                <ul  class="list-unstyled  list-inline">
                                                <li >Committed</li>
                                                    <li ><a href="orders.html"><span class="badge">22</span></a></li>
                                                </ul>

                                               </li>
                                         <li class="col-xs-12">
                                                <ul  class="list-unstyled  list-inline">
                                                <li >Shipped</li>
                                                    <li ><a href="orders.html"><span class="badge">42</span></a></li>
                                                </ul>

                                               </li>
                                        </ul>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>


            <div v-show="showupload">
            <div class="modal fade" id="uploadFilePage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                          <!-- Modal content-->
                        <div class="modal-content">
                        <fileuploads
                            v-on:cancel="cancelFileUpload()">
                        </fileuploads>
                    </div>

                    </div>
                </div>
            </div>
            <div class="modal fade" id="inv-browse-modal-big1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">

                    </div>
                </div>
            </div>
           </div>

         <div v-show="showotherupload">
            <div class="modal fade" id="uploadOtherFiles" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                          <!-- Modal content-->
                        <div class="modal-content">
                        <otherupload
                            v-on:cancel="cancelFileUpload()">
                        </otherupload>
                    </div>

                    </div>
                </div>
            </div>
            <div class="modal fade" id="inv-browse-modal-big1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">

                    </div>
                </div>
            </div>
        </div>






                </div>
            </div>


            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h5>My Watchlist</h5>
                        <div class="text-right">
                            <div class="btn btn-default SecondaryBtn removebtn">Remove</div>
                        </div>
                    </div>
                    <div class="panel-body">


                        <div class="table-wrapper-big table-wrapper table-responsive">
                            <div class=" ">
                                <table id="Mytable" class="table table-hover table-striped table-fixed-header dataTable f-12">

                                <!--    <div class="clearfix"></div>-->
                                    <thead>

                                        <tr role="row">
                                            <th class="">
                                                <input type="checkbox"> </th>
                                            <th> <i class="glyphicon glyphicon-star black"></i> </th>
                                            <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="">Order No</th>
                                            <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label=""> Status</th>
                                            <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label=""> Date</th>
                                            <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label=""> Value</th>
                                            <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="">Expected By</th>
                                        </tr>
                                    </thead>
                                    <tbody>


                                        <tr role="row" class="odd">
                                            <td rowspan="1" colspan="1">
                                                <input type="checkbox" id="test1">
                                            </td>
                                            <td><a href="javascript:void(0);" class="icon-toggle" title="Remove From Watchlist"><i class="glyphicon glyphicon-star"></i></a></td>
                                            <td><a href="orderdetails.html">PO_1234</a></td>
                                            <td class=""> Created </td>
                                            <td class=""> 21/03/2016 </td>
                                            <td class="">2500 AUD </td>
                                            <td class="">26/03/2016</td>
                                        </tr>
                                        <tr role="row" class="odd">
                                            <td rowspan="1" colspan="1">
                                                <input type="checkbox" id="test1">
                                            </td>
                                            <td><a href="javascript:void(0);" class="icon-toggle" title="Remove From Watchlist"><i class="glyphicon glyphicon-star"></i></a></td>
                                            <td><a href="orderdetails.html">PO_1234</a></td>
                                            <td class=""> Created </td>
                                            <td class=""> 21/03/2016 </td>
                                            <td class="">2500 AUD </td>
                                            <td class="">26/03/2016</td>
                                        </tr>
                                          <tr role="row" class="odd">
                                            <td rowspan="1" colspan="1">
                                                <input type="checkbox" id="test1">
                                            </td>
                                            <td><a href="javascript:void(0);" class="icon-toggle" title="Remove From Watchlist"><i class="glyphicon glyphicon-star"></i></a></td>
                                            <td><a href="orderdetails.html">PO_1234</a></td>
                                            <td class=""> Created </td>
                                            <td class=""> 21/03/2016 </td>
                                            <td class="">2500 AUD </td>
                                            <td class="">26/03/2016</td>
                                        </tr>

                                        <tr role="row" class="odd">
                                            <td rowspan="1" colspan="1">
                                                <input type="checkbox" id="test1">
                                            </td>
                                            <td><a href="javascript:void(0);" class="icon-toggle" title="Remove From Watchlist"><i class="glyphicon glyphicon-star"></i></a></td>
                                            <td><a href="orderdetails.html">PO_1234</a></td>
                                            <td class=""> Created </td>
                                            <td class=""> 21/03/2016 </td>
                                            <td class="">2500 AUD </td>
                                            <td class="">26/03/2016</td>
                                        </tr>
                                        <tr role="row" class="odd">
                                            <td rowspan="1" colspan="1">
                                                <input type="checkbox" id="test1">
                                            </td>
                                            <td><a href="javascript:void(0);" class="icon-toggle" title="Remove From Watchlist"><i class="glyphicon glyphicon-star"></i></a></td>
                                            <td><a href="orderdetails.html">PO_1234</a></td>
                                            <td class=""> Created </td>
                                            <td class=""> 21/03/2016 </td>
                                            <td class="">2500 AUD </td>
                                            <td class="">26/03/2016</td>
                                        </tr>
                                        <tr role="row" class="odd">
                                            <td rowspan="1" colspan="1">
                                                <input type="checkbox" id="test1">
                                            </td>
                                            <td><a href="javascript:void(0);" class="icon-toggle" title="Remove From Watchlist"><i class="glyphicon glyphicon-star"></i></a></td>
                                            <td><a href="orderdetails.html">PO_1234</a></td>
                                            <td class=""> Created </td>
                                            <td class=""> 21/03/2016 </td>
                                            <td class="">2500 AUD </td>
                                            <td class="">26/03/2016</td>
                                        </tr>
                                          <tr role="row" class="odd">
                                            <td rowspan="1" colspan="1">
                                                <input type="checkbox" id="test1">
                                            </td>
                                            <td><a href="javascript:void(0);" class="icon-toggle" title="Remove From Watchlist"><i class="glyphicon glyphicon-star"></i></a></td>
                                            <td><a href="orderdetails.html">PO_1234</a></td>
                                            <td class=""> Created </td>
                                            <td class=""> 21/03/2016 </td>
                                            <td class="">2500 AUD </td>
                                            <td class="">26/03/2016</td>
                                        </tr>
                                          <tr role="row" class="odd">
                                            <td rowspan="1" colspan="1">
                                                <input type="checkbox" id="test1">
                                            </td>
                                            <td><a href="javascript:void(0);" class="icon-toggle" title="Remove From Watchlist"><i class="glyphicon glyphicon-star"></i></a></td>
                                            <td><a href="orderdetails.html">PO_1234</a></td>
                                            <td class=""> Created </td>
                                            <td class=""> 21/03/2016 </td>
                                            <td class="">2500 AUD </td>
                                            <td class="">26/03/2016</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!--
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h5>Orders</h5>
                        <div class="text-right">
                            <div class="btn btn-default SecondaryBtn">Accept</div>
                            <div class="btn btn-default SecondaryBtn">Reject</div>
                        </div>
                    </div>
                    <div class="panel-body">


                        <div class="table-wrapper-big table-wrapper">
                            <div class=" ">
                                <table id="" class="table table-striped table-hover dataTable f-12" cellspacing="0" width="100%" role="grid" aria-describedby="example_info" style="width: 100%;">
                                    <thead>

                                        <tr role="row">
                                            <th class="">
                                                <input type="checkbox"> </th>
                                            <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="">Order No</th>
                                            <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label=""> Status</th>
                                            <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label=""> Date</th>
                                            <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label=""> Value</th>
                                            <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="">Expected By</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th class="center-filter">
                                                <div class="glyphicon glyphicon-filter"></div>
                                            </th>
                                            <td>
                                                <input type="text" class="form-control">
                                            </td>
                                            <td>
                                                <input type="text" class="form-control">
                                            </td>
                                            <td>
                                                <input type="text" class="form-control">
                                            </td>
                                            <td>
                                                <input type="text" class="form-control">
                                            </td>
                                            <td>
                                                <input type="text" class="form-control">
                                            </td>
                                        </tr>
                                        <tr role="row" class="odd">
                                            <td rowspan="1" colspan="1">
                                                <input type="checkbox" id="test1">
                                            </td>
                                            <td><a href="orderdetails.html">PO_1234</a></td>
                                            <td class=""> Created </td>
                                            <td class=""> 21/03/2016 </td>
                                            <td class="">2500 AUD </td>
                                            <td class="">26/03/2016</td>
                                        </tr>
                                        <tr role="row" class="odd">
                                            <td rowspan="1" colspan="1">
                                                <input type="checkbox" id="test1">
                                            </td>
                                            <td><a href="orderdetails.html">PO_1234</a></td>
                                            <td class=""> Created </td>
                                            <td class=""> 21/03/2016 </td>
                                            <td class="">2500 AUD </td>
                                            <td class="">26/03/2016</td>
                                        </tr>
                                        <tr role="row" class="odd">
                                            <td rowspan="1" colspan="1">
                                                <input type="checkbox" id="test1">
                                            </td>
                                            <td><a href="orderdetails.html">PO_1234</a></td>
                                            <td class=""> Created </td>
                                            <td class=""> 21/03/2016 </td>
                                            <td class="">2500 AUD </td>
                                            <td class="">26/03/2016</td>
                                        </tr>
                                        <tr role="row" class="odd">
                                            <td rowspan="1" colspan="1">
                                                <input type="checkbox" id="test1">
                                            </td>
                                            <td><a href="orderdetails.html">PO_1234</a></td>
                                            <td class=""> Created </td>
                                            <td class=""> 21/03/2016 </td>
                                            <td class="">2500 AUD </td>
                                            <td class="">26/03/2016</td>
                                        </tr>
                                        <tr role="row" class="odd">
                                            <td rowspan="1" colspan="1">
                                                <input type="checkbox" id="test1">
                                            </td>
                                            <td><a href="orderdetails.html">PO_1234</a></td>
                                            <td class=""> Created </td>
                                            <td class=""> 21/03/2016 </td>
                                            <td class="">2500 AUD </td>
                                            <td class="">26/03/2016</td>
                                        </tr>


                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h5> Shipments</h5>
                        <div class="block text-right">
                            <a href="bookfreight.html">
                                <div class="btn btn-default SecondaryBtn">Book Freight</div>
                            </a>
                        </div>
                    </div>
                    <div class="panel-body">

                        <div class="table-wrapper-big table-wrapper">
                            <div class=" ">
                                <table id="" class="table table-striped table-hover dataTable f-12 " cellspacing="0" width="100%" role="grid" aria-describedby="example_info" style="width: 100%;">
                                    <thead>
                                        <tr role="row">
                                            <th></th>
                                            <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="">Shipment No</th>
                                            <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="">Order No</th>
                                            <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="">Status</th>
                                            <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="">Containers</th>
                                            <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="">Carrier</th>
                                            <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="">Consignment</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th class="center-filter">
                                                <div class="glyphicon glyphicon-filter"></div>
                                            </th>
                                            <td>
                                                <input type="text" class="form-control">
                                            </td>
                                            <td>
                                                <input type="text" class="form-control">
                                            </td>
                                            <td>
                                                <input type="text" class="form-control">
                                            </td>
                                            <td>
                                                <input type="text" class="form-control">
                                            </td>
                                            <td>
                                                <input type="text" class="form-control">
                                            </td>
                                            <td>
                                                <input type="text" class="form-control">
                                            </td>
                                        </tr>
                                        <tr role="row" class="odd">
                                            <td rowspan="1" colspan="1">
                                                <input type="radio" id="test1" name="shipment">
                                            </td>
                                            <td class=""> <a href="shipmentDetails.html"> SO_121 </a></td>
                                            <td class=""> <a href="orderdetails.html">PO_1234</a> </td>
                                            <td class="">In Transit</td>
                                            <td class="">2 cases</td>
                                            <td class="">AMZ</td>
                                            <td class=""> <a href="consignment.html">9483948</a></td>
                                        </tr>
                                        <tr role="row" class="odd">
                                            <td rowspan="1" colspan="1">
                                                <input type="radio" id="test1" name="shipment">
                                            </td>
                                            <td class=""> <a href="shipmentDetails.html"> SO_121 </a></td>
                                            <td class=""> <a href="orderdetails.html">PO_1234</a> </td>
                                            <td class="">In Transit</td>
                                            <td class="">2 cases</td>
                                            <td class="">AMZ</td>
                                            <td class=""><a href="consignment.html">9483948</a></td>
                                        </tr>
                                        <tr role="row" class="odd">
                                            <td rowspan="1" colspan="1">
                                                <input type="radio" id="test1" name="shipment">
                                            </td>
                                            <td class=""> <a href="shipmentDetails.html"> SO_121 </a></td>
                                            <td class=""> <a href="orderdetails.html">PO_1234</a> </td>
                                            <td class="">In Transit</td>
                                            <td class="">2 cases</td>
                                            <td class="">Ceva</td>
                                            <td class=""><a href="consignment.html">9483948</a></td>
                                        </tr>
                                        <tr role="row" class="odd">
                                            <td rowspan="1" colspan="1">
                                                <input type="radio" id="test1" name="shipment">
                                            </td>
                                            <td class=""> <a href="shipmentDetails.html"> SO_121 </a></td>
                                            <td class=""> <a href="orderdetails.html">PO_1234</a> </td>
                                            <td class="">In Transit</td>
                                            <td class="">2 cases</td>
                                            <td class="">AMZ</td>
                                            <td class=""><a href="consignment.html">9483948</a></td>
                                        </tr>
                                        <tr role="row" class="odd">
                                            <td rowspan="1" colspan="1">
                                                <input type="radio" id="test1" name="shipment">
                                            </td>
                                            <td class=""> <a href="">SO_121</a></td>
                                            <td class=""> <a href="orderdetails.html">PO_1234</a> </td>
                                            <td class="">In Transit</td>
                                            <td class="">2 cases</td>
                                            <td class="">AMZ</td>
                                            <td class=""><a href="consignment.html">9483948</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="row">
            <div class="col-sm-3 cusToggletext"><b>Show Tables for Orders and Shipments:</b></div>
            <div class="col-sm-3">
                <input class='tgl tgl-flat' checked id='cb4' id="togglebtnCtr" type='checkbox'>
                <label class='tgl-btn' for='cb4'></label>
            </div>

        </div>
-->

        <div class="modal fade" id="inv-browse-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                </div>
            </div>
        </div>

        <div class="modal fade" id="inv-browse-asn" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">

                </div>
            </div>
        </div>
        <div class="modal fade" id="inventory_exceptions" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">

                </div>
            </div>
        </div>

          <div class="modal fade" id="inv-browse-other" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">

                </div>
            </div>
        </div>
    </div>
  </div>
	</template>
	<script>
	var Vue = require('vue')
	var Utils = require('./../utils/utils.js')
	export default {
     data: function () {
          var showSearch =false
          var showupload=false
          var showotherupload=false


          return {
            showSearch: showSearch,
			showupload:showupload,
            showotherupload:showotherupload,

          }
      },


       methods: {

          uploadFile: function() {
          this.showupload=true
       },
         uploadOthers:function(){
          this.showotherupload=true

       },
         cancelFileUpload: function(){

        }
      },
        beforeDestroy: function() {
	  	(this.$el).remove();
	  	$(this.$el).removeData();
	  }


	}
    </script>
