<template>
   <div>
    <div class="container-fluid CustomHgt">
        <div class="row ">
            <div class="col-md-4">
                <ol class="breadcrumb cusbreadcrumb">
                    <li><a >Dashboard</a></li>
                    <li class="active">Inventory</li>
                </ol>
            </div>
            <div class="col-md-8">
                <div class="alert alert-danger alert-dismissible hidden" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong> Message Title:</strong> A line of color-coded error/message/info text appears with <a href="" class="link">relevant link</a> </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
          <div class="block  clearfix">
      <h5 class="pull-left">Inventory</h5>
  
          <div class="pull-right"> 
                    <a data-target="#uploadFilePage" role="button" class="btn btn-default SecondaryBtn" data-toggle="modal"  v-on:click="uploadFile()" title="Upload Inventory" >Upload Inventory</a>
						
					</div>
		     
		</div>
        <div class="panel panel-default">
            <div class="panel-heading"> 
                <div class="col-md-5  cal-box">
                                    Show
                                    <select class="select-style form-control">
                                        <option selected="All">All</option>
                                    </select>
                                   <div class="btn btn-default" @click="showSearch=!showSearch">
                         <div class=""><i class="fa fa-search-plus" aria-hidden="true" ></i></div>
                        </div>
                                </div>
            
            </div>
           
                  <form  v-if="showSearch" >
                                <div class="row">
                                    <div class="col-md-12">
                                        <h4 class="adavanceSearch">Advanced Search</h4>
                                    </div>
                                 
                                    <div class="col-md-12">
                                                    <div class="col-md-3 col-sm-3 ">
                                                        <div class="form-group">
                                                            <label for="company">Item ID</label>
                                                            <input type="text" class="form-control" placeholder="Item ID"  v-model="inventorySearchModel.ItemID">
                                                        </div>
                                                         <div class="form-group">
                                                            <label for="company">Max Records</label>
                                                            <input type="number" class="form-control" placeholder="50"  v-model="inventorySearchModel.MaximumRecords">
                                                        </div>
                                                     <div class="btn btn-primary" v-on:click.stop="inventorySearch">
                                        Search
                                    </div> 
                                                    
                                                    </div>
                                                  
                                     <br>
                                                </div>
                                    
                                    <div class="clearfix"></div>
                                </div>
                                   <br> 
                                
                            </form> 
							<div class="clearfix"></div>
               <div class="panel-body">

      <div class="row">
          <div class="col-sm-12">
            <div class="table-wrapper">
                <table id="example" class="table table-striped table-hover dataTable" cellspacing="0" width="100%" role="grid" aria-describedby="example_info" style="width: 100%;">
     <!-- Defining Tableheader columns,and passing the bindings for sorting   -->
                    
           <thead>
                <tr role="row">
         <!--         <th class="" style="width: 20px;"> <input type="checkbox" id="test1"> </th>-->
                  <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('ItemID')" :class="{active: gmeta.sort.key == 'ItemID'}" >Item ID     
                   <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['ItemID'] > 0 ? 'sort-up' : 'sort-down'">
							</span>
                     </th>                   
                             
                    
                    
                  <th  tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label=""aria-sort="ascending"  @click="sortBy('UnitOfMeasure')" :class="{active: gmeta.sort.key == 'UnitOfMeasure'}">UOM
                       <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['UnitOfMeasure'] > 0 ? 'sort-up' : 'sort-down'">
							</span>
    </th>
                    <th  tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label=""aria-sort="ascending"  @click="sortBy('ProductClass')" :class="{active: gmeta.sort.key == 'ProductClass'}">Product Class
                  <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['ProductClass'] > 0 ? 'sort-up' : 'sort-down'">
							</span>
    </th>
                    <th  tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label=""aria-sort="ascending"  @click="sortBy('Item.PrimaryInformation.ShortDescription')" :class="{active: gmeta.sort.key == 'Item.PrimaryInformation.ShortDescription'}">Description
                  <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['Item.PrimaryInformation.ShortDescription'] > 0 ? 'sort-up' : 'sort-down'">
							</span>
    </th>
                    
      
                </tr>
              </thead>

				<tbody>
                      <!-- defining v-model for filter inputs across columns   -->
                    <tr>
                                                                                  
                        <td> <input type=text v-model="gmeta.filter.ItemID"> </td>
                        <td> <input type=text v-model="gmeta.filter.UnitOfMeasure"> </td>
                        <td> <input type=text v-model="gmeta.filter.ProductClass"> </td>
                        <td> <input type=text v-model="gmeta.filter.Item.PrimaryInformation.ShortDescription"> </td>
                        
                    </tr>
                    <!--  v-for loop which loops through the result json and maps it to grid coulmns   -->
				    <tr  role="row" :class="[($index % 2) > 0 ? 'even' : 'odd']" 
                                v-for=" row in gridData 
                                | gridsorter gmeta.sort.key gmeta.sort.order gmeta.sort.numeric
                                | gridfilter gmeta.filter columns
                                | paginate " >

						
                                   
                        <td> {{getValue(row, "ItemID")}}     </td>
                        <td> {{getValue(row, "UnitOfMeasure")}}     </td>
                        <td> {{getValue(row, "ProductClass")}}     </td>
                        <td> {{getValue(row, "Item.PrimaryInformation.ShortDescription")}}     </td>
					</tr>
				</tbody>
                    
                    
                    
 
             </table>
                <div class="row m-t-10">
                    <gridpagination 
                        :gmeta="gmeta"
                        :total-pages="totalPages"
                        v-on:setpage="setPage">
                    </gridpagination >
                </div>
                
          </div>

        </div>
      </div>
    </div>
	
	    <div v-show="showupload">
            <div class="modal fade" id="uploadFilePage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                          <!-- Modal content-->
                        <div class="modal-content">
                        <fileuploads
                            v-on:cancel="cancelFileUpload()">
                        </fileuploads>
                    </div>

                    </div>
                </div>
            </div> 
            <div class="modal fade" id="inv-browse-modal-big1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">

                    </div>
                </div>
            </div>
        </div>
	
	
	
	
    </div>
    <div class="modal fade" id="inv-browse-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            </div>
        </div>
    </div>
	
	</div>

   
</template>
<script>
	var Vue = require('vue')
	var Utils = require('./../utils/utils.js')
    var GridUtils = require('./../utils/gridutils.js')
    
	export default {
	
	props: {
    data: Array,
    height: Number,
	
	        },
	  data: function () {
           var filterKey="Y"
        var inventorySearchModel = {
            'ItemID': '',
            'MaximumRecords': '50' 
         }  
       var columns =['ItemID','UnitOfMeasure','ProductClass','Item.PrimaryInformation.ShortDescription']
       var gmeta = {}
       var showSearch =false
	   var showupload=false
       GridUtils.populateGridMeta(gmeta, columns, false)

	  	var gridData = []
	
	    return {
            inventorySearchModel:inventorySearchModel,
	    	columns: columns,
	        gridData: gridData,
            showSearch: showSearch, 
			showupload:showupload,	
            gmeta: gmeta
	       }
      },

	route: {
		data: function (transition) {
		
		       var success = function(result) {
					transition.next({
						gridData : result.InventoryItem
					})
				}
				Utils.invokeMashup("inventoryList", success, null);
		}
    },	

  computed: {
      totalPages: function() {
        return Math.ceil(this.gmeta['pagination']['resultCount'] / this.gmeta['pagination']['itemsPerPage'])
      }
    }
  ,
  filters: {
	   	paginate: function(list) {
            return GridUtils.paginate(this.gmeta, list, this.totalPages)
	   	}
    }
  ,   
  methods: {
      getValue: function(row, binding) {
          return Utils.getValue(row,binding)
      },
      setPage: function(pageNumber) {
          GridUtils.setPage(this.gmeta, pageNumber, this.totalPages)
      },
      sortBy: function (key, numeric) {
          GridUtils.sortBy(this.gmeta, key, numeric)
      },
	  uploadFile: function() {
          this.showupload=true
      },
      cancelFileUpload: function(){
          
      },
      inventorySearch: function(event) {
	        event.preventDefault()
	      
	        var self = this
			
			var success = function(result) {
                
                var list = result.InventoryItem
                if(!list) {
                    list = []
                }
                if(!(list.constructor === Array)) {
                    list = []
                    list.push(result.InventoryItem)
                }
    			self.gridData = list
				self.showSearch= false
			}
			Utils.invokeMashup("inventoryList", success, self.inventorySearchModel);
			
	      }
  }
  ,
	beforeDestroy: function() {
	  	$(this.$el).remove();
	  	$(this.$el).removeData();
	  }
}
</script>
