<template>
<div>
    
      <div id="header"></div>

    <div class="container-fluid CustomHgt">
        <div class="row ">
           <!-- <div class="col-md-4">
                <ol class="breadcrumb cusbreadcrumb">
                    <li><a href="index.html">Dashboard</a></li>
                    <li class="active">Orders</li>
                </ol>
            </div>-->
            <div class="col-md-8">
                <div class="alert alert-danger alert-dismissible hidden" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong> Message Title:</strong> A line of color-coded error/message/info text appears with <a href="" class="link">relevant link</a> </div>
            </div>
        </div>
    </div>


    <div class="container-fluid" cz-shortcut-listen="true">
    
       
      <div class="block  clearfix">
      <h5 class="pull-left">Orders</h5>
      <div class="pull-right">
       <div class="btn-group">
  <button type="button" class="btn btn-primary SecondaryBtn  dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Create <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li><a href="new_sales_order.html">Sales Order</a></li>
    <li><a href="new_transfer_order.html">Transfer Order</a></li>
    <li><a href="#">Return Order</a></li>
    
    
  </ul>
</div>
       </div>
    </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                 <div class="col-md-5  cal-box">
                                    Show
                                    <select class="select-style form-control" v-model="orderSearchModel.DocumentType">
                                        <option v-for="doc in documentData" v-bind:value="doc.DocumentType">{{doc.Description}}</option>
                                    </select>
                                    <div class="btn btn-default "  @click="showSearch = !showSearch">
                                        <div class=""><i class="fa fa-search-plus" aria-hidden="true"></i></div>
                                    </div>
                                </div>
      
            </div>
                <form  v-if="showSearch" >
                                <div class="row">
                                    <div class="col-md-12">
                                        <h4 class="adavanceSearch">Advanced Search</h4>
               
                                                 

                                                        <div class="form-group col-md-3">
                                                            <label for="exampleInputEmail1">Order Number</label>
                                                            <input type="text" class="form-control " placeholder="OrderNumber" v-model="orderSearchModel.OrderNo"  >
                                                        </div>
    
                                                           <div class="form-group col-md-3">
                                                            <label for="exampleInputEmail1" >Order Name</label>
                                                            <input type="text" class="form-control " placeholder="OrderName" v-model="orderSearchModel.OrderName"  >
                                                        </div>
    
                                                        <div class="form-group col-md-3">
                                                            <label for="exampleInputEmail1" >Seller</label>
                                                            <input type="text" class="form-control" placeholder="Seller" v-model="orderSearchModel.SellerOrganizationCode">
                                                        </div>
                                                      
                                                        <div class="form-group col-md-3">
                                                            <label for="exampleInputEmail1" >Delivery Address Code</label>
                                                            <input type="email" class="form-control" placeholder="Delivery Address Code">
                                                        </div>    
                                                 
                                         <div class="form-group col-md-3">
                                             <label for="exampleSelect1">Status</label>
                                             <div class="row CusDateContainer">
                                             <div class="col-md-6">
     <select class="form-control" id="exampleSelect1" v-model="orderSearchModel.FromStatus" placeholder="From">
                                                      	<option v-for="status in statusList" v-bind:value="status.Status">{{status.StatusName}}</option>
      
                                                    </select>
                                                        
    </div>

                                                 <div class="col-md-6">
                                                     <select class="form-control" id="exampleSelect1"  
                                                                               v-model="orderSearchModel.ToStatus" placeholder="To">

                                                                	<option v-for="status in statusList" v-bind:value="status.Status">{{status.StatusName}}</option>
    </select>
    </div>
                                                            </div>
                                         </div>
                                                      <div class="form-group col-md-3">
                                                            <label for="exampleInputEmail1">Project Number</label>
                                                            <input type="text" class="form-control" placeholder="Project Number" v-model="orderSearchModel.SearchCriteria1">
                                                        </div>
                                                        
                                                          <div class="form-group col-md-3">
                                                            <label for="exampleInputEmail1"> Phone Number</label>
                                                            <input type="text" class="form-control" placeholder="Phone Number" v-model="orderSearchModel.SearchCriteria2">
                                                        </div>
    
                                                     <div class="form-group col-md-3">
                                                             
                                                              <label for="exampleSelect1">From Location</label>
                                                             <input type="text" class="form-control" placeholder="From Location" >
    
                                                      
                                                        </div>
    
                                                          <div class="form-group col-md-3">
                                                            <label for="exampleInputEmail1">Item Id</label>
                                                            <input type="text" class="form-control" placeholder="Item Id" v-model="orderSearchModel.OrderLine.Item.ItemID">
                                                        </div>
                                                           <div class="form-group col-md-3">
                                                            <label for="exampleInputEmail1">Item Description</label>
                                                            <input type="text" class="form-control" placeholder="Item Description" v-model="orderSearchModel.OrderLine.Item.ItemShortDesc">
                                                        </div>
                                                          <div class="form-group col-md-3 ">
                                                            <label for="exampleInputEmail1">Order Date</label>
                                                              <div class="row CusDateContainer">
                                                              <div class="col-md-6">
                                                             <input type="text" class="form-control " placeholder="From date" v-datepicker="orderSearchModel.FromOrderDate">
                                                                  <span class="glyphicon glyphicon-calendar form-control-feedback" aria-hidden="true"></span>
                                                                </div>
                                                              <div class="col-md-6">
                                                               <input type="text" class="form-control" placeholder="To date" v-datepicker="orderSearchModel.ToOrderDate">
                                                                  <span class="glyphicon glyphicon-calendar form-control-feedback" aria-hidden="true"></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                   <div class="form-group col-md-3">
                                                            <label for="exampleInputEmail1">Req Delivery Date</label>
                                                         
                                                               <div class="row CusDateContainer">
                                                              <div class="col-md-6">
                                                            <input type="text" class="form-control " placeholder="From Date" v-datepicker="orderSearchModel.FromReqDeliveryDate">
                                                                  <span class="glyphicon glyphicon-calendar form-control-feedback" aria-hidden="true"></span>
    </div>
                                                        
                                                              <div class="col-md-6">
                                                              <input type="text" class="form-control" placeholder="To Date" v-datepicker="orderSearchModel.ToReqDeliveryDate">
                                                                  <span class="glyphicon glyphicon-calendar form-control-feedback" aria-hidden="true"></span>
    </div>
    </div>
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <label for="exampleInputEmail1">Req Ship Date</label>
                                                
                                                             <div class="row CusDateContainer">
                                                              <div class="col-md-6">
                                                            <input type="text" class="form-control " placeholder="From Date" v-datepicker="orderSearchModel.FromReqShipDate">
                                                                  <span class="glyphicon glyphicon-calendar form-control-feedback" aria-hidden="true"></span>
    </div>
                                                                
                                                              <div class="col-md-6">
                                                            <input type="text" class="form-control" placeholder="To Date" v-datepicker="orderSearchModel.ToReqShipDate">
                                                                  <span class="glyphicon glyphicon-calendar form-control-feedback" aria-hidden="true"></span>
    </div>
    </div>
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <label for="exampleInputEmail1">Include History Orders</label>
                                              <select class="form-control" id="exampleSelect1" v-model="orderSearchModel.ReadFromHistory">
                                                      	<option value='Y'>Only History</option>
                                                         <option value='N'>Only Active</option>
                                                         <option value='B'>All</option>
                                                    </select>
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <label for="exampleInputEmail1">Maximum Records</label>
                                                            <input type="number" class="form-control" placeholder="Maximum records" v-model="orderSearchModel.MaximumRecords">
                                                        </div>
       <div class="clearfix"></div>
                                     <div class="col-md-2 pad-left-10 pull-right">
                                    <button type="submit" class="btn btn-primary btn-block" v-on:click.stop="orderSearch">
                                        Search
                                    </button>
                                </div>
    </div>
                                </div>  
                            </form>  
            <div class="clearfix"></div>
            <div class="panel-body">
             
                <div class="row">
                    <div class="col-sm-12">
                        <div class="table-wrapper">
                            <table id="example" class="table table-striped table-hover dataTable" cellspacing="0" width="100%" role="grid" aria-describedby="example_info">
                                <thead>
                                    <tr role="row">
                             <!--           <th class="" style="width: 20px;">
                                            <input type="checkbox" id="test1"> </th>-->
                                        <th style="text-align: center; width: 30px;"> <i class="glyphicon glyphicon-star black text-center"></i> </th>
                                        <th style="text-align: center; width: 30px;"> <i class="glyphicon glyphicon-lock black text-center"></i> </th>
                                        
                                        
                                         <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('OrderNo')" :class="{active: gmeta.sort.key == 'OrderNo'}" >Order Number   
                                        <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['OrderNo'] > 0 ? 'sort-up' : 'sort-down'">
							             </span>
                                         </th>
                                        
                                        <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('OrderName')" :class="{active: gmeta.sort.key == 'OrderName'}" >Order Name     
                                        <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['OrderName'] > 0 ? 'sort-up' : 'sort-down'">
							             </span>
                                         </th>
                                         <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('Status')" :class="{active: gmeta.sort.key == 'Status'}" >Status    
                                        <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['Status'] > 0 ? 'sort-up' : 'sort-down'">
							             </span>
                                         </th>
                                        
                                         <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('DepartmentCode')" :class="{active: gmeta.sort.key == 'DepartmentCode'}" >Order Stream    
                                        <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['DepartmentCode'] > 0 ? 'sort-up' : 'sort-down'">
							             </span>
                                         </th>
                                          <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('PriorityCode')" :class="{active: gmeta.sort.key == 'PriorityCode'}" >Priority Code    
                                        <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['PriorityCode'] > 0 ? 'sort-up' : 'sort-down'">
							             </span>
                                         </th>
                                        <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('ReqDeliveryDate')" :class="{active: gmeta.sort.key == 'ReqDeliveryDate'}" >Req Delivery Date    
                                        <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['ReqDeliveryDate'] > 0 ? 'sort-up' : 'sort-down'">
							             </span>
                                         </th>
                                        <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('PriceInfo.TotalAmount',true)" :class="{active: gmeta.sort.key == 'PriceInfo.TotalAmount'}" >Total Amount   
                                        <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['PriceInfo.TotalAmount'] > 0 ? 'sort-up' : 'sort-down'">
							             </span>
                                         </th>
                                    </tr>
                                </thead>
                                <tbody>
 <tr>
                                            <th class="center-filter">
                                                <div class="glyphicon glyphicon-filter"></div>
                                            </th>
                                           
                                            <td>
                                               
                                            </td>
                                             <td>
                                                <input type="text" v-model="gmeta.filter.OrderNo">
                                            </td>
                                            <td>
                                                <input type="text" v-model="gmeta.filter.OrderName">
                                            </td>
                                            <td>
                                                <input type="text" v-model="gmeta.filter.Status">
                                            </td>
                                           
                                            <td>
                                                <input type="text" v-model="gmeta.filter.DepartmentCode">
                                            </td>
                                            <td>
                                                <input type="text" v-model="gmeta.filter.PriorityCode">
                                            </td>
                                            <td>
                                                <input type="text" v-model="gmeta.filter.ReqDeliveryDate">
                                            </td>
                                            <td>
                                                <input type="text" v-model="gmeta.filter.PriceInfo.TotalAmount">
                                            </td>
                                        </tr>
                                       <tr  role="row" :class="[($index % 2) > 0 ? 'even' : 'odd']" 
                                v-for=" row in gridData 
                                | gridsorter gmeta.sort.key gmeta.sort.order gmeta.sort.numeric
                                | gridfilter gmeta.filter columns
                                | paginate " >
                                    
                              <!--   <tr  role="row" class="odd" 
                        v-for=" row in gridData 
                               | orderBy gmeta.sort.key gmeta.sort.order 
                               | gridfilter gmeta.filter columns
                               | paginate " >-->
                                     
							<td v-if="row.IsWatchedByUser==='Y'"><a href="javascript:void(0);" class="icon-toggle" title="Added"><i class="glyphicon glyphicon-star"></i></a></td>
                          <td v-if="row.IsWatchedByUser==='N'"><a href="javascript:void(0);" class="icon-toggle" title="Removed"><i class="glyphicon glyphicon-star-empty"></i></a></td>      
                                      
                        <td v-if="HoldFlag === 'Y'"><i class="glyphicon glyphicon-lock red"></i></td>
                         <td v-else></td>                  
                        
                                     
                        <td><a v-link="{ path: '/orderdetails',query:{key:row['OrderHeaderKey']}}"> {{getValue(row, "OrderNo")}}  </a>   </td>
                        
                        <td> {{getValue(row, "OrderName")}}     </td>
                        <td>{{getValue(row, "Status") }} </td>
                        <td> {{getValue(row, "DepartmentCode")}}     </td>
                        <td> {{getValue(row, "PriorityCode")}}     </td>
                        <td> {{formatForDisplay(getValue(row, "ReqDeliveryDate") )}}     </td>
                        <td style="text-align:right; padding-right:40px"> {{getValue(row, "PriceInfo.TotalAmount")}}     </td>
                      
					</tr>
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                </tbody>
                            </table>
                            <div class="row m-t-7">
                              <div class="row m-t-7">
                    <gridpagination 
                        :gmeta="gmeta"
                        :total-pages="totalPages"
                        v-on:setpage="setPage">
                    </gridpagination >
                </div>
                  
                                
                                
                                
                  
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>



  
  
    
    </div>

    </template>
<script>
    var Vue = require('vue')
	var Utils = require('./../utils/utils.js')
    var GridUtils = require('./../utils/gridutils.js')
    export default{
        
        	 props: {
             data: Array,
             height: Number,
	
	        },
	  data: function () {
           var filterKey="Y"
          var orderSearchModel = {
            'OrderNo': '',
            'OrderName':'',  
            'DocumentType':'',
            'OrderDate':'',
            'ReadFromHistory':'B',
            'OrderLine': {
                  'Item': {
                     ItemID:'',
                     ItemShortDesc:'',
                   }
            },
            'SellerOrganizationCode':'',            
            'SearchCriteria1' :'',
            'SearchCriteria2':'',
            'ReqDeliveryDate':'',
            'ReqShipDate':'' , 
            'MaximumRecords': '50' 
         }  
     
            var StatusInputModel={
            'ComplexQuery':{
                'Or':{
                   'Exp':[{
                       'Name':'ProcessTypeKey',
                       'Value':'ORDER_FULFILLMENT',
                       'QryType': 'EQ'
                   },
                     {
                       'Name':'ProcessTypeKey',
                         'Value':'PO_FULFILLMENT',
                         'QryType': 'EQ'
                   }
                    ]
                }
            }
        }
          
          
        var columns =[ 'OrderNo','OrderName','Status','DepartmentCode','PriorityCode','ReqDeliveryDate','PriceInfo.TotalAmount']
       var gmeta = {}
       var showSearch =false
       GridUtils.populateGridMeta(gmeta, columns, false)

	  	var gridData = []
        var documentData = []
        var statusList =[]
	    var statusList1 =[] 
        var documentData1=[]
        var documentData2=[]
        var documentData3=[]
//        var shipNodeList=[]
	    return {
           orderSearchModel:orderSearchModel,
	    	columns: columns,
	        gridData: gridData,
            showSearch: showSearch, 
            statusList:statusList,
   //         statusList1:statusList1,
            documentData:documentData,
            gmeta: gmeta,
            documentData1:documentData1,
            documentData2:documentData2,
            documentData3:documentData3,
            StatusInputModel:StatusInputModel
	       }
      },
        

	route: {
		data: function (transition) {
            
            
                                 
		   var loadDocument=function(documentresult){
                    var alldocuments=[];
                alldocuments=alldocuments.concat(documentresult.documentTypeList.DocumentParams)
               alldocuments=alldocuments.concat(documentresult.documentTypeList1.DocumentParams)
               alldocuments=alldocuments.concat(documentresult.documentTypeList2.DocumentParams)
               
            var loadStatus = function(result) {
                                       var success = function(orderresult) {
                                            transition.next({
                                                            gridData : orderresult.Order,
                                                            statusList : result.Status,
                                                            documentData1:documentresult.documentTypeList.DocumentParams,
                                                            documentData2:documentresult.documentTypeList1.DocumentParams,
                                                            documentData3:documentresult.documentTypeList2.DocumentParams,
                                                            documentData: alldocuments
                                                          
                                                            })
                                                                            }
                                        Utils.invokeMashup("orderList", success, self.Order); 

                                            }                
                 
                                        Utils.invokeMashup("statusList", loadStatus, self.StatusInputModel); 

            
           }
                              Utils.invokeMashup("documentTypeAggregator",loadDocument, self.Status);
      
            
		   
		}
        
        
        
        
    },	

  computed: {
      totalPages: function() {
        return Math.ceil(this.gmeta['pagination']['resultCount'] / this.gmeta['pagination']['itemsPerPage'])
      }
    }
  ,
  filters: {
	   	paginate: function(list) {
            return GridUtils.paginate(this.gmeta, list, this.totalPages)
	   	}
    }
  ,   
  methods: {
      getValue: function(row, binding) {
          return Utils.getValue(row,binding)
      },
      setPage: function(pageNumber) {
          GridUtils.setPage(this.gmeta, pageNumber, this.totalPages)
      },
//      sortBy: function (key) {
//          GridUtils.sortBy(this.gmeta, key)
//      },
      formatForDisplay:function(serverDate) {
          return Utils.formatForDisplay(serverDate)
      },
       sortBy: function (key, numeric) {
          GridUtils.sortBy(this.gmeta, key, numeric)
      },

      
   orderSearch: function(event) {
	        event.preventDefault()
	      
	        var self = this
			
			var success = function(result) {
    			self.gridData = result.Order 
				self.showSearch=false
			}
			Utils.invokeMashup("orderList", success, self.orderSearchModel);
			
	      }
      
      
      
      
  }
  ,
  
	beforeDestroy: function() {
	  	$(this.$el).remove();
	  	$(this.$el).removeData();
	  }
    }
    

</script>