            <template>
            
            <div>
            <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">UPLOAD FILES</h4>

                </div>
   <form id="uploadothersform" method="post" 
                    enctype="multipart/form-data" v-on:submit.stop.prevent="uploadFilesOthers()">
                                      <div class="modal-body">
                         <div class="alert alert-info"  v-show="showsuccess">
            <!--<a href="#" class="close"  v-on:click="showsuccess=!showsuccess" aria-label="close">&times;</a>-->
                 <button type="button" class="close"  aria-label="Close" @click="showsuccess=!showsuccess">&times;</button>
            <strong> Message Title:</strong> File was uploaded successfully!!
          </div>
      
                    <div class="alert alert-danger"  v-show="showerror">
                 <!--       <a href="#" class="close"  @click="showerror=!showerror" aria-label="close">&times;</a> -->
                         <button type="button" class="close"  aria-label="Close" @click="showerror=!showerror">&times;</button>
                        <strong> Message Title:</strong> File upload failed!!
                    </div>
                        
                        
                        
                        <div class="clearfix"></div>
                      
                        <h5>Please upload Files in prescribed excel format:</h5>
                        
                        <div class="row">
			<div class="col-md-5">
			<div class="form-group">
  <label for="sel1">Select Upload Type</label>
  <select class="form-control" id="sel1" name="uploadType" v-model="processType" required>
    <option></option>  
    <option v-for="code in gridData" v-bind:value="code.CodeName" transition="code">{{code.CodeValue}}</option>  
    <option value="ORG_LOAD">ORGANIZATION LOAD</option> 
	<option value="STOCK_MOVEMENT_REPORT">STOCK MOVEMENT REPORT</option>
    <option value="MATERIAL_TO_TRANSPORT_MAP">MATERIAL TO TRANSPORT MAP</option>
    <option value="MILK_RUN_SCHEDULE">MILK RUN CHEDULE</option> 
    <option value="TRANSPORT_MATRIX">TRANSPORT MATRIX</option> 
    <option value="WEEK_NUMBER">WEEK NUMBER</option>   
    <option value="DAC_SCHEDULE">DAC SCHEDULE</option>
      
      
  </select>
                </div>
</div>
			</div>
			<div class="clearfix"></div>                  
                                          
                                          
                                          
                        <div class="block">Choose File</div>

                        <br>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="m-t-10">
                                    <div class="block">Email Address for Notification</div>
                                    <input type="email" placeholder="example@example.com"
                                        name="emailnotify" required>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="m-t-10" v-show="processType">
                        To download excel template, <a href="{{url1}}?process={{processType}}">click here</a>
                        </div><br>
                        <br/>                  




                    <!-- 	<button type="button" class="btn btn-default">Upload</button>
                      -->
              <!--      <input type="hidden" name="process" value="VENDOR_UPLOAD" /> --> <input type="file"
                        name="Browse.." id="file" accept=".xls,.xlsx, application/vnd.ms-excel" required />
                                          <!--<input type="submit" value="upload" class="btn btn-default" />-->
                
                </div>


                <div class="modal-footer">
                    <button type="submit" value="upload" class="btn btn-default">Upload</button>

                    <button type="button" class="btn btn-default SecondaryBtn"
                        data-dismiss="modal" v-on:click="cancel()" >Cancel</button>
                </div>
                </form>
            </div>
            </template>
            <script>
              var Vue = require('vue')
              var Utils = require('./../utils/utils.js')
              var GridUtils = require('./../utils/gridutils.js')
              
              var url1= window.AppInfo.contextroot + "/filedownloadservlet"

                   export default{

                   data: function () { 
                      var showsuccess=false
                      var showerror=false
                      var processType=''
                      var commonCodeSearchModel = {
                          'CodeName': '',
                          'CodeValue':''
             
                      }  
                      var gridData = [];
                 //      var userList = [];
                      
                      
                        return {
                            url1:url1,
                            showsuccess:showsuccess,
                            showerror:showerror,
                            processType:processType,
                            commonCodeSearchModel:commonCodeSearchModel,
                            gridData: gridData,
                     //       userList.userList
                            }
                    },
                   route: {
                                           
		              data: function (transition) {
		
		              var success = function(result) {
					 transition.next({
						gridData : result.CommonCode
					       })
				            }
				            Utils.invokeMashup("commonCodeList", success, self.CommonCode);
		                  }
                    },	
                
                    methods: {	  
                     getValue: function(row, binding) {
                        return Utils.getValue(row,binding)
                     },

                     goBack: function () {
                       window.history.go(-1)
                     },

                     cancel: function() {
						$("#uploadothersform")[0].reset();
                        this.$dispatch('cancel')
                     },
                     uploadTypeList:function(event) {
	                       event.preventDefault()
                           var self = this			
			               var success = funtion(result)
                           {
                                self.gridData = result.CommonCode 
				           }
			             Utils.invokeMashup("commonCodeList",success, self.commonCodeSearchModel);
                           
                           
                     },                        

                     apply: function() {
                        this.$dispatch('apply')
                     },
                    
                    uploadFilesOthers: function(){
                // Create a formdata object and add the files
        //        var data = new FormData();
                var data = new FormData($('#uploadothersform')[0]);
                $.each($('#file')[0].files, function(i, file) {
                    data.append('file-'+i, file);
                });
                var self=this;            
                $.ajax({
                    url: window.AppInfo.contextroot+'/api/exceluploadservlet',
                    type: 'POST',
                    data: data,
                    cache: false,
                    dataType: 'json',
                    processData: false, // Don't process the files
                    contentType: false, // Set content type to false as jQuery will tell the server its a query string request
                    success: function(data, textStatus, jqXHR)
                    {
                        console.log('Success')
                        self.showsuccess=true
                        setTimeout(function(){self.showsuccess=false},3000)
                        $("#uploadothersform")[0].reset();
                    },
                    error: function(jqXHR, textStatus, errorThrown)
                    {
                        console.log('ERRORS: ' + textStatus)
                        self.showerror=true
                        setTimeout(function(){self.showerror=false},3000)
                        $("#uploadothersform")[0].reset();
                    }
                });


            }
                    },  

                    beforeDestroy: function() {
                        $(this.$el).remove();
                        $(this.$el).removeData();
                    },
            }
            </script>