
<template>
<div>
     
      <div class="container-fluid CustomHgt">
      <div class="row ">
        <div class="col-md-4">
          <ol class="breadcrumb cusbreadcrumb">
           <li><a href="index.html">Dashboard</a></li>
            <li><a href="vendors.html" v-on:click.stop=goBack()>Vendors</a></li>
            <li class="active">Vendor Details</li>
            </ol>
        </div>
        <div class="col-md-8" v-if="true" >
          <div class="alert alert-danger alert-dismissible hidden" role="alert">
             <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <strong> Message Title:</strong>  A line of color-coded error/message/info text appears with <a href="" class="link">relevant link</a> </div>
        </div>
      </div>
             
    
    </div>
         
       <div class="container-fluid">
        
        <div class="block"  v-if="contactDeleted" >
          <div class="alert alert-info" role="alert">
                 <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong> </strong> The selected contact has been deleted successfully. 
          </div>
       </div>
           
        <div class="block"  v-if="contactSaved" >
          <div class="alert alert-info" role="alert">
                 <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong> </strong> The contact has been saved successfully. 
          </div>
       </div>
           
    <div class="block  clearfix">
      <h5 class="pull-left">Vendor Details </h5>
   
     <div class="pull-right">
      
        <div class="btn btn-default SecondaryBtn" v-on:click="saveVendorDetails">Save</div>
        <div class="btn btn-default SecondaryBtn">Cancel</div>

    </div>
    </div>
    <div class="panel panel-default m-t-10 Cusbookad">
       <div class="panel-heading">Company Details</div>
       <div class="panel-body">
         <div class="m-t-10"></div>
         <div class="row">
              
           <div class="col-md-8">
               <h6>{{Vendor.VendorID}} </h6>
               <div class="row">
              <div class="col-md-6">
            <div class="form-group clearfix m-t-10">
               <label for="" class="col-sm-6 control-label">Organization Name</label>
               <div class="col-sm-6">
                {{getValue(Vendor,"SellerOrganization.CorporatePersonInfo.FirstName")}}
               </div>
            </div>
   </div>
                 <div class="col-md-6">
                   <div class="form-group clearfix m-t-10">
                  <label for="" class="col-sm-6 control-label">Website</label>
                  <div class="col-sm-6">
                      {{getValue(Vendor,"SellerOrganization.CorporatePersonInfo.HttpUrl")}}
                  </div>
                </div>
   
    </div>
                    <div class="col-md-6">
                   <div class="form-group clearfix m-t-10">
                  <label for="" class="col-sm-6 control-label">Commitment</label>
                  <div class="col-sm-6">
                      <div class="checkbox">
                          <label>             
                            <span v-if="getValue(Vendor,'SendsCommitment') === 'Y'">
                                <input type="checkbox"  v-model="Vendor.SendsCommitment" v-bind:true-value="PrimaryYes" v-bind:false-value="PrimaryNo">
                            </span>
                            <span v-else>  
                               <input type="checkbox"  v-model="Vendor.SendsCommitment" v-bind:true-value="PrimaryYes" v-bind:false-value="PrimaryNo">
                            </span>
                        </label>
                      </div>
                  </div>
                </div>
    </div>
                    <div class="col-md-6">
               <div class="form-group clearfix m-t-10">
                  <label for="" class="col-sm-6 control-label">Sends ASN</label>                  
                    <div class="col-sm-6">
                          <div class="checkbox">
                            <label>
                                  <span v-if="getValue(Vendor,'SendsAsn') === 'Y'">
                                    <input type="checkbox"  v-model="Vendor.SendsAsn" v-bind:true-value="PrimaryYes" v-bind:false-value="PrimaryNo">
                                </span>
                                <span v-else>  
                                   <input type="checkbox"  v-model="Vendor.SendsAsn" v-bind:true-value="PrimaryYes" v-bind:false-value="PrimaryNo">
                                </span>
                                </label>
                            </div>
                    </div>
                </div>
            </div>
                    <div class="col-md-6">
               <div class="form-group clearfix m-t-10">
                  <label for="" class="col-sm-6 control-label">Inventory published</label>                  
                    <div class="col-sm-6">
                          <div class="checkbox">
                            <label>
                                <span v-if="getValue(Vendor,'SellerOrganization.InventoryPublished') === 'Y'">
                                    <input type="checkbox"  v-model="Vendor.SellerOrganization.InventoryPublished" v-bind:true-value="PrimaryYes" v-bind:false-value="PrimaryNo">
                                </span>
                                <span v-else>  
                                   <input type="checkbox"  v-model="Vendor.SellerOrganization.InventoryPublished" v-bind:true-value="PrimaryYes" v-bind:false-value="PrimaryNo">
                                </span>
                            </label>
                            </div>
                    </div>
                </div>
    </div>
               
                        
               
             </div>
    </div>
             
               <div class="col-md-4">
                 <h6>Corporate Address <div class="pull-right">
                     <a class="btn btn-default SecondaryBtn" data-toggle="modal" data-target="#vendoraddressdetails" 
                                   title="Contact Details" v-on:click="startAddressEdit(Vendor.SellerOrganization.CorporatePersonInfo, 'CorporatePersonInfo')">Edit</a> 
                     <!--<a class="btn btn-warning SecondaryBtn" data-toggle="modal" data-target="#deletecontactmessage">DELETE</a> -->
                </div></h6>
                 
                    <!--{{getValue(Vendor,"SellerOrganization.OrganizationCode")}}<br>-->
                    {{getValue(Vendor,"SellerOrganization.CorporatePersonInfo.AddressLine1")}}<br>{{getValue(Vendor,"SellerOrganization.CorporatePersonInfo.AddressLine2")}}<br>
                     {{getValue(Vendor,"SellerOrganization.CorporatePersonInfo.City")}}, {{getValue(Vendor,"SellerOrganization.CorporatePersonInfo.State")}},
                     {{getValue(Vendor,"SellerOrganization.CorporatePersonInfo.ZipCode")}}<br>
                      {{getValue(Vendor,"SellerOrganization.CorporatePersonInfo.Country")}}<br>
                 
               </div>
                     
    </div>
         <div class="m-t-10"></div>
       </div>
     </div>
    
           <div class="panel panel-default m-t-10 Cusbookad">
                <div class="panel-heading">Contact Information
                    <a class="btn btn-default SecondaryBtn pull-right" data-toggle="modal" data-target="#vendorContact" title="Add Contact Details" v-on:click="addNewContact()">Add Contact</a>
                </div>
               <div class="clearfix"></div>
                    <div class="panel-body">
                    <div class="m-t-10"></div>
                        <div class="row">
                            
                            <td>
                            <div class="col-md-4 PrimaryContent">
                                <h6> Primary Contact 
                                    <div class="pull-right">
                                        <a class="btn btn-default SecondaryBtn" data-toggle="modal" data-target="#vendorContact" 
                                           title="Contact Details" v-on:click="startVendorContactEdit(primaryContact, $index, 'Y')">Edit</a>
                                        <a class="btn btn-warning SecondaryBtn" disabled >DELETE</a> 
                                    </div>
                                </h6>
                                               
                                <div class="form-group clearfix m-t-10">
                                   <label for="" class="col-sm-4 control-label">Name</label>
                                   <div class="col-sm-8">
                                     {{getValue(primaryContact,'FirstName')}}  {{getValue(primaryContact,'LastName')}}
                                   </div>
                                </div>

                                <div class="form-group clearfix m-t-10">
                                    <label for="" class="col-sm-4 control-label">Email</label>
                                    <div class="col-sm-8">
                                        {{getValue(primaryContact,'EmailID')}}
                                    </div>
                                </div>

                                <div class="form-group clearfix m-t-10">
                                    <label for="" class="col-sm-4 control-label">Phone</label>
                                    <div class="col-sm-8">
                                        {{getValue(primaryContact,'DayPhone')}}
                                    </div>
                                </div>
                                
                                <div class="form-group clearfix m-t-10">
                                    <label for="" class="col-sm-4 control-label">Mobile Phone</label>
                                    <div class="col-sm-8">
                                        {{getValue(primaryContact,'MobilePhone')}}
                                    </div>
                                </div>
                            </div>
                        </td>
                            
                    <!--<div v-for="vendorContact in vendorContactList | filterBy 'N' in 'IsPrimary' " >-->
                        <div v-for="vendorContact in additionalContactList " >
                        <td>
                            <div class="col-md-4 AddContent">
                                <h6> Additional Contact 
                                        <div class="pull-right">
                                            <a class="btn btn-default SecondaryBtn" data-toggle="modal" data-target="#vendorContact" 
                                               title="Contact Details" v-on:click="startVendorContactEdit(vendorContact, $index, 'N')">Edit</a>
                                               <a class="btn btn-warning SecondaryBtn" data-toggle="modal" data-target="#vendordeleteadrcontact" v-on:click="startVendorContactDelete(vendorContact, $index)">DELETE</a> 
                                        </div>
                                    </h6>
                                
                                <div class="form-group clearfix m-t-10">
                                   <label for="" class="col-sm-4 control-label">Name</label>
                                   <div class="col-sm-8">
                                     {{getValue(vendorContact,'FirstName')}}  {{getValue(vendorContact,'LastName')}}
                                   </div>
                                </div>

                                <div class="form-group clearfix m-t-10">
                                    <label for="" class="col-sm-4 control-label">Email</label>
                                    <div class="col-sm-8">
                                        {{getValue(vendorContact,'EmailID')}}
                                    </div>
                                </div>

                                <div class="form-group clearfix m-t-10">
                                    <label for="" class="col-sm-4 control-label">Phone</label>
                                    <div class="col-sm-8">
                                        {{getValue(vendorContact,'DayPhone')}}
                                    </div>
                                </div>
                                
                                <div class="form-group clearfix m-t-10">
                                    <label for="" class="col-sm-4 control-label">Mobile Phone</label>
                                    <div class="col-sm-8">
                                        {{getValue(vendorContact,'MobilePhone')}}
                                    </div>
                                </div>
                            </div>
                        </td>
                    </div>                                         
                </div>
                        
                <div class="m-t-10"></div>
            </div>
        </div>

        <div v-show="editingVendorDetails">
            <div class="modal fade" id="vendoraddressdetails" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                          <!-- Modal content-->
                        <div class="modal-content">
                        <vendoraddressdetails
                          :vendordetails="editingVendorDetails"
                          v-on:cancel="cancelAddressEdit()"
                          v-on:apply="saveAddressEdit()"
                          >
                        </vendoraddressdetails>
                        </div>

                    </div>
                </div>
            </div> 
          </div> 
         <div v-show="editingVendorContact">
            <div class="modal fade" id="vendorContact" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-content">
                            <vendorContact
                              :vendorcontact="editingVendorContact"
                              v-on:cancel="cancelVendorContactEdit()"
                              v-on:apply="saveVendorContactEdit()"
                              >
                            </vendorContact>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div v-show="deletingVendorContact">
            <div class="modal fade" id="vendordeleteadrcontact" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog modal-sm" role="document">
                    <div class="modal-content">
                        <div class="modal-content">
                            <vendordeleteadrcontact
                              :vendorcontactdelete="deletingVendorContact"
                              v-on:cancel="cancelDeleteContact()"
                              v-on:delete="deleteVendorContact()"
                              >
                            </vendordeleteadrcontact>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    	<input class="hidden" value= {{$route.query.key}}  v-model="Vendor.VendorID " />
</div>
</template>
<script>
    var Vue = require('vue')
    var Utils = require('./../utils/utils.js')
    var GridUtils = require('./../utils/gridutils.js')
    
    export default{

	  data: function () {          
          var Vendor= {};
          var editingVendorDetails = {};
          var editingVendorContact = {};
          var deletingVendorContact = {};
          var vendorContactList=[];
          var vendorContactInput={ 'VendorKey': '' };
          var origVendorDetails = {};
          var editingIndex = -1;
          var addingNewContact = false;
          var primaryContact= this.getNewVendorContactObject();
          var contactDeleted = false;
          var contactSaved = false;
          var additionalContactList=[];
          var PrimaryYes;
          var PrimaryNo;
          
          return{
                Vendor:Vendor,
                editingVendorDetails: editingVendorDetails,
                editingVendorContact:editingVendorContact,
                vendorContactList:vendorContactList,
                deletingVendorContact: deletingVendorContact,
                vendorContactInput:vendorContactInput,
                origVendorDetails: origVendorDetails,
                editingIndex: editingIndex,
                addingNewContact:addingNewContact,
                primaryContact:primaryContact,
                contactDeleted:contactDeleted,
                contactSaved:contactSaved,
                additionalContactList:additionalContactList,
                PrimaryYes:'Y',
                PrimaryNo: 'N'
          }
        },
	  
      methods: {	  
            getValue: function(row, binding) {
                  return Utils.getValue(row,binding)
            },
          
            goBack: function () {
                window.history.go(-1)
            },
          
            startAddressEdit: function(vendor, moduleName) {
                vendor.moduleName = moduleName
                this.origVendorDetails = vendor
                this.editingVendorDetails = JSON.parse(JSON.stringify(vendor))
            },
          
            saveAddressEdit: function() {
                var moduleName= this.editingVendorDetails.moduleName
                if("CorporatePersonInfo" === moduleName){
                    this.Vendor.SellerOrganization.CorporatePersonInfo= this.editingVendorDetails
                }                
                this.origVendorDetails = null
            },
          
            cancelAddressEdit: function() {
                this.origVendorDetails = null                
            },
          
            saveVendorDetails: function(){
                var self = this
                self.Vendor.Operation="Modify";
                var saveVendor = function(result) {
                    self.contactSaved = true;
                    for(var i=0; i< self.vendorContactList.length; i++){
                        if(self.vendorContactList[i].isEdittedVendorObj){
                            var editVendorContact = function(result) {
                                self.contactSaved = true;
                            }
                            Utils.invokeMashup("changeVendorContact", editVendorContact, self.vendorContactList[i]);                            
                         }else if(self.vendorContactList[i].isAddedVendorObj){
                            var addVendorContact = function(result) {
                                self.contactSaved = true;
                            }
                            Utils.invokeMashup("createVendorContact", addVendorContact, self.vendorContactList[i]);                             
                        }                          
                    }                    
                }
                Utils.invokeMashup("manageVendor", saveVendor, self.Vendor);  
            },
          
            startVendorContactEdit: function(vendorcontact, index, disablePrimaryChkBox) {
                this.editingIndex = index 
                vendorcontact.disableChkBox = disablePrimaryChkBox;
                this.editingVendorContact = JSON.parse(JSON.stringify(vendorcontact))
            },
          
            saveVendorContactEdit: function() {
                if(this.addingNewContact){
                    this.addingNewContact = false; 
                    this.editingVendorContact.addingNewContact= false;
                    if(this.editingVendorContact.IsPrimary === 'Y'){
                       this.removePrimary();
                       this.editingVendorContact.IsPrimary = "Y"
                    }
                    this.editingVendorContact.isAddedVendorObj=true;
                    this.vendorContactList.push(this.editingVendorContact);
                }else{                    
                    if(this.editingVendorContact.IsPrimary === 'Y'){
                        this.removePrimary();
                        this.editingVendorContact.IsPrimary = "Y"
                    }
                    //this.editingVendorContact.framework = {}
                    this.editingVendorContact.isEdittedVendorObj=true;
                    
                    var index = -1;
                    for(var i=0; i< this.vendorContactList.length; i++){
                      if(this.vendorContactList[i].VendorContactID === this.editingVendorContact.VendorContactID){
                          index = i;
                          break;
                      }
                    }
                    if(index != -1) {
                        this.vendorContactList.$set(index, this.editingVendorContact)
                    }
                    
                    this.editingIndex = -1 
                }                  
            },
          
            cancelVendorContactEdit: function() {
                this.editingIndex = -1
            },
          
            addNewContact: function(){
                this.editingVendorContact = this.getNewVendorContactObject();
                this.editingVendorContact.VendorKey = this.getValue(this.Vendor, "VendorID");
                this.editingVendorContact.addingNewContact= true;
                this.addingNewContact = true;
            },
          
            getNewVendorContactObject: function(){
              var vendorContactObj = {'VendorKey':'', 'FirstName': '', 'LastName':'', 'VendorContactID':'' ,'EmailID': '', 'DayPhone': '' , 'MobilePhone':'', 'IsPrimary':'N'}
              return vendorContactObj;
            },
          
            removePrimary: function(){
               var self = this;
                for(var i=0; i< self.vendorContactList.length; i++) {
                    self.vendorContactList[i].IsPrimary = 'N';
                }
            },
          
            startVendorContactDelete: function(vendorcontact, index) {
                //this.editingIndex = index                
                this.deletingVendorContact = JSON.parse(JSON.stringify(vendorcontact))
            },
          
            deleteVendorContact: function(){
                var self = this;
                var deleteVendorContact = function(result) {
                    self.contactDeleted = true;
                    var index = -1;
                    for(var i=0; i< self.vendorContactList.length; i++){
                      if(self.vendorContactList[i].VendorContactID === self.deletingVendorContact.VendorContactID){
                          index = i;
                          break;
                      }
                    }
                    if(index != -1) {
                        self.vendorContactList.splice(index, 1);
                    }
                }
                Utils.invokeMashup("deleteVendorContact", deleteVendorContact, self.deletingVendorContact);
            },
          
            cancelDeleteContact: function(){
                
            }
	   },  
	  
		  route: {
		      data: function (transition) {		
			     var self = this
                 
                 var loadVendorContacts = function(vendorContactsResult){
                     var success = function(result) {
			                transition.next({
                            Vendor: result,
                            vendorContactList: vendorContactsResult.VendorContact
        			     })
			         }
			     Utils.invokeMashup("vendordetails", success, self.Vendor);
                 }
                self.vendorContactInput.VendorKey = self.getValue(self.Vendor, "VendorID");
		       Utils.invokeMashup("vendorContactList", loadVendorContacts, self.vendorContactInput);  
   	        
    	}
	  },
	  beforeDestroy: function() {
	  	$(this.$el).remove();
	  	$(this.$el).removeData();
	  },
        
      computed: {
        primaryContact: function () {
            var self=this;
            for(var i=0; i< self.vendorContactList.length; i++){
              if(self.vendorContactList[i].IsPrimary === 'Y') {
                  return self.vendorContactList[i];
            }
          }
        },
        
        additionalContactList: function(){
            var self=this;
            var list=[];
            for(var i=0; i< self.vendorContactList.length; i++){
              if(self.vendorContactList[i].IsPrimary === 'N') {
                  list.push(self.vendorContactList[i]);
              }
            }
            return list;
        }
      }
    
}

</script>