<template>
<div>
          <div id="header"></div>
       <div class="container-fluid CustomHgt">
      <div class="row ">
        <div class="col-md-4">
          <ol class="breadcrumb cusbreadcrumb">
             <li><a >Dashboard</a></li>
                <li  class="active">Vendors</li>
          </ol>
        </div>
        <div class="col-md-8">
          <div class="alert alert-danger alert-dismissible hidden" role="alert">
             <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <strong> Message Title:</strong>  A line of color-coded error/message/info text appears with <a href="" class="link">relevant link</a> </div>
        </div>
      </div>
             </div>
       <div class="container-fluid" cz-shortcut-listen="true">
           <div class="block  clearfix">
      <h5 class="pull-left">Vendors</h5>
      <div class="pull-right">
      <a href="modals/upload_shipment.html" data-toggle="modal" data-target="#inv-browse-asn" role="button" class="btn btn-default SecondaryBtn" data-toggle="modal"> Upload Vendors</a>
       </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">  <div class="col-md-5  cal-box">
                  Show <select class="select-style form-control" >
                         <option selected="ALL">ALL</option>
                        </select>
                      <div class="btn btn-default" @click="showSearch=!showSearch">
                         <div class=""><i class="fa fa-search-plus" aria-hidden="true" ></i></div>
                        </div>
                </div><div class="pull-right">
                         
                        </div></div>
            <form  v-if="showSearch" >
                                <div class="row">
                                    <div class="col-md-12">
                                        <h4 class="adavanceSearch">Advanced Search</h4>
                                    </div>
                                 
                                    <div class="col-md-12">
                                                    <div class="col-md-3 col-sm-3 ">
                                                        <div class="form-group">
                                                            <label for="company">Vendor Code</label>
                                                            <input type="text" class="form-control" placeholder="VendorCode"  v-model="vendorSearchModel.VendorID">
                                                        </div>
                                                         <div class="form-group">
                                                            <label for="company">Max Records</label>
                                                            <input type="number" class="form-control" placeholder="50"  v-model="vendorSearchModel.MaximumRecords">
                                                        </div>
                                                     <div class="btn btn-primary" v-on:click.stop="vendorSearch">
                                        Search
                                    </div> 
                                                    
                                                    </div>
                                                  
                                     <br>
                                                </div>
                                    
                                    <div class="clearfix"></div>
                                </div>
                                   <br> 
                                
                            </form>
            <div class="clearfix"></div>
     <div class="panel-body">

      <div class="row">
          <div class="col-sm-12">
            <div class="table-wrapper">
                <table id="example" class="table table-striped table-hover dataTable" cellspacing="0" width="100%" role="grid" aria-describedby="example_info" style="width: 100%;">
     <!-- Defining Tableheader columns,and passing the bindings for sorting   -->
                    
           <thead>
                <tr role="row">
         <!--         <th class="" style="width: 20px;"> <input type="checkbox" id="test1"> </th>-->
                  <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('VendorID')" :class="{active: gmeta.sort.key == 'VendorID'}" >Vendor Code      
                   <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['VendorID'] > 0 ? 'sort-up' : 'sort-down'">
							</span>
                     </th>
                    
                              <th  tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label=""aria-sort="ascending"  @click="sortBy('SellerOrganization.OrganizationName')" :class="{active: gmeta.sort.key == 'SellerOrganization.OrganizationName'}">Company
                       <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['SellerOrganization.OrganizationName'] > 0 ? 'sort-up' : 'sort-down'">
							</span>
                                  </th>
                    
                    
                  <th  tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label=""aria-sort="ascending"  @click="sortBy('SellerOrganization.CorporatePersonInfo.HttpUrl')" :class="{active: gmeta.sort.key == 'SellerOrganization.CorporatePersonInfo.HttpUrl'}">Website
                       <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['SellerOrganization.CorporatePersonInfo.HttpUrl'] > 0 ? 'sort-up' : 'sort-down'">
							</span>
    </th>
                    <th  tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label=""aria-sort="ascending"  @click="sortBy('SellerOrganization.CorporatePersonInfo.FirstName')" :class="{active: gmeta.sort.key == 'SellerOrganization.CorporatePersonInfo.FirstName'}">Contact Name
                  <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['SellerOrganization.CorporatePersonInfo.FirstName'] > 0 ? 'sort-up' : 'sort-down'">
							</span>
    </th>
          <!--         <th  tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('SellerOrganization.CorporatePersonInfo.MobilePhone')" :class="{active: gmeta.sort.key == 'SellerOrganization.CorporatePersonInfo.MobilePhone'}">Contact Number
     <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['SellerOrganization.CorporatePersonInfo.MobilePhone'] > 0 ? 'sort-up' : 'sort-down'">
							</span>
  
    </th>          
                    <th  tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label=""  aria-sort="ascending"  @click="sortBy('SellerOrganization.CorporatePersonInfo.EMailID')" :class="{active: gmeta.sort.key == 'SellerOrganization.CorporatePersonInfo.EMailID'}">Contact EMail ID
     <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['SellerOrganization.CorporatePersonInfo.EMailID'] > 0 ? 'sort-up' : 'sort-down'">
							</span>
    
    </th>-->
                           <th  tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('SellerOrganization.InventoryPublished')" :class="{active: gmeta.sort.key == 'SellerOrganization.InventoryPublished'}">Owns Inventory
    
     <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['SellerOrganization.InventoryPublished'] > 0 ? 'sort-up' : 'sort-down'">
							</span>
    
    </th>
                    
                  <th  tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('SendsCommitment')" :class="{active: gmeta.sort.key == 'SendsCommitment'}">Provides Commitment
    
     <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['SendsCommitment'] > 0 ? 'sort-up' : 'sort-down'">
							</span>
    
    </th>
                  <th  tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label=""aria-sort="ascending"  @click="sortBy('SendsAsn')" :class="{active: gmeta.sort.key == 'SendsAsn'}">Provides ASN
     <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['SendsAsn'] > 0 ? 'sort-up' : 'sort-down'">
							</span>
    
    
    </th>
                  
                 
                </tr>
              </thead>

				<tbody>
                      <!-- defining v-model for filter inputs across columns   -->
                    <tr>
                        <td> <input type=text v-model="gmeta.filter.VendorID"> </td>
                                                          
                        <td> <input type=text v-model="gmeta.filter.SellerOrganization.OrganizationName"> </td>
                        <td> <input type=text v-model="gmeta.filter.SellerOrganization.CorporatePersonInfo.HttpUrl"> </td>
                        <td> <input type=text v-model="gmeta.filter.SellerOrganization.CorporatePersonInfo.FirstName"> </td>
          
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <!--  v-for loop which loops through the result json and maps it to grid coulmns   -->
                    <tr  role="row" :class="[($index % 2) > 0 ? 'even' : 'odd']" 
                        v-for=" row in gridData 
                                | gridsorter gmeta.sort.key gmeta.sort.order gmeta.sort.numeric
                               | gridfilter gmeta.filter columns
                               | paginate " >
						
                        <td><a v-link="{ path: '/vendordetails',query:{key:row['VendorID']}}"> {{getValue(row, "VendorID")}}  </a>   </td>
                        
                         <td> {{getValue(row, "SellerOrganization.OrganizationName")}}     </td>
                        <td> {{getValue(row, "SellerOrganization.CorporatePersonInfo.HttpUrl")}}     </td>
                        <td> {{getValue(row, "SellerOrganization.CorporatePersonInfo.FirstName")}}     </td>
                   
                        <!-- v-if for the boolean value image   -->
                         <td> 
                            <span v-if="getValue(row, 'SellerOrganization.InventoryPublished') === 'Y'">
				                <i class="glyphicon glyphicon-ok"></i>	
							</span>
							<span v-else>  
				       	        <i class="glyphicon glyphicon-remove"></i>		                  
 						     </span> 
                         </td>
                        
                        
                        
                        <td> 
                            <span v-if="getValue(row, 'SendsCommitment') === 'Y'">
				                <i class="glyphicon glyphicon-ok"></i>	
							</span>
							<span v-else>  
				       	        <i class="glyphicon glyphicon-remove"></i>		                  
 						     </span> 
                         </td>
                        
                         <td> 
                            <span v-if="getValue(row, 'SendsAsn') === 'Y'">
						     	<i class="glyphicon glyphicon-ok"></i>	
							</span>
							<span v-else>  
				       	        <i class="glyphicon glyphicon-remove"></i>		                  
 						    </span> 
                        </td>
                      
					</tr>
				</tbody>
                    
                    
                    
 
             </table>
                <div class="row m-t-10">
                    <gridpagination 
                        :gmeta="gmeta"
                        :total-pages="totalPages"
                        v-on:setpage="setPage">
                    </gridpagination >
                </div>
                
          </div>

        </div>
      </div>
    </div>
    </div>
      </div>

        <div class="modal fade" id="inv-browse-asn" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">

                </div>
            </div>
        </div>
   
        <div class="modal fade" id="shipping-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
         
        </div>
      </div>
    </div>
    </div>
</template>
<script>
	var Vue = require('vue')
	var Utils = require('./../utils/utils.js')
    var GridUtils = require('./../utils/gridutils.js')
    
	export default {
	
	 props: {
    data: Array,
    height: Number,
	
	        },
	  data: function () {
           var filterKey="Y"
        var vendorSearchModel = {
            'VendorId': '',
            'MaximumRecords': '50' 
         }  
     //   var headers =['Company','Company Url','Primary Contact','Contact No','Contact EMailID','Asn','Commitment']  
        var columns =['VendorID','SellerOrganization.OrganizationName','SellerOrganization.PrimaryUrl','SellerOrganization.CorporatePersonInfo.FirstName','SellerOrganization.InventoryPublished','SendsAsn','SendsCommitment']
       var gmeta = {}
       var showSearch =false
       GridUtils.populateGridMeta(gmeta, columns, false)

	  	var gridData = []
	
	    return {
            vendorSearchModel:vendorSearchModel,
	    	columns: columns,
	        gridData: gridData,
            showSearch: showSearch,    
            gmeta: gmeta
	       }
      },

	route: {
		data: function (transition) {
		
		       var success = function(result) {
					transition.next({
						gridData : result.Vendor
					})
				}
				Utils.invokeMashup("vendorList", success, self.Vendor);
		}
    },	
	/* created: function () {
    var self = this
    this.columns.forEach(function (key) {
      self.columnBindings[key] = self.getBindingExpr(key)
    })

   },*/
  computed: {
      totalPages: function() {
        return Math.ceil(this.gmeta['pagination']['resultCount'] / this.gmeta['pagination']['itemsPerPage'])
      }
    }
  ,
  filters: {
	   	paginate: function(list) {
            return GridUtils.paginate(this.gmeta, list, this.totalPages)
	   	}
    }
  ,   
  methods: {
      getValue: function(row, binding) {
          return Utils.getValue(row,binding)
      },
      setPage: function(pageNumber) {
          GridUtils.setPage(this.gmeta, pageNumber, this.totalPages)
      },
      sortBy: function (key, numeric) {
          GridUtils.sortBy(this.gmeta, key, numeric)
      },
      
    vendorSearch: function(event) {
	        event.preventDefault()
	      
	        var self = this
			
			var success = function(result) {
                
                
    			self.gridData = result.Vendor 
				self.showSearch=false
			}
			Utils.invokeMashup("vendorList", success, self.vendorSearchModel);
			
	      }
  }
  ,
	beforeDestroy: function() {
	  	$(this.$el).remove();
	  	$(this.$el).removeData();
	  }
}
</script>
