
<template>
<div>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="">Contact Details</h4>
    </div>
    
      <div class="modal-body address-modal-body">
          <div class="row">
            <div class="col-md-6">
              First Name<input type="text" class="form-control block" v-model="vendorcontact.FirstName">
            </div>
            <div class="col-md-6">
              Last Name<input type="text" class="form-control block" v-model="vendorcontact.LastName">
            </div>
              
            <div class="col-md-6">
              Contact ID<span v-if="getValue(vendorcontact,'addingNewContact')">
                             <input type="text" class="form-control block" v-model="vendorcontact.VendorContactID">
                        </span>
                        <span v-else>  
                           <input type="text" class="form-control block" disabled v-model="vendorcontact.VendorContactID">
                        </span>
            </div>

            <div class="col-md-6">
             Email<input type="text" class="form-control block" v-model="vendorcontact.EmailID">
            </div>
              
            <div class="col-md-6">
              Mobile Number <input type="text" class="form-control block" v-model="vendorcontact.MobilePhone">
            </div>
              
            <div class="col-md-6">
                Phone Number <input type="text" class="form-control block" v-model="vendorcontact.DayPhone">
            </div>

            <div class="form-group clearfix m-t-10">
              <label for="" class="col-sm-4 control-label">Is Primary</label>
              <div class="col-sm-8">
                  <div class="checkbox">
                    <label> 
                        <span v-if="getValue(vendorcontact,'disableChkBox') === 'Y'">
                             <input type="checkbox"  v-model="vendorcontact.IsPrimary" disabled v-bind:true-value="PrimaryYes" v-bind:false-value="PrimaryNo">
                        </span>
                        <span v-else>  
                           <input type="checkbox"  v-model="vendorcontact.IsPrimary" v-bind:true-value="PrimaryYes" v-bind:false-value="PrimaryNo">
                        </span>
                        
                    </label>
                  </div>
              </div>
            </div>
              
          </div>         
        </div>
    
    <div class="modal-footer">
       <button type="button" class="btn btn-default" data-dismiss="modal" v-on:click="apply()">Apply</button>
       <button type="button" class="btn btn-default SecondaryBtn" data-dismiss="modal" v-on:click="cancel()">Cancel</button>
    </div>
  	
</div>
</template>
<script>
    var Vue = require('vue')
    var Utils = require('./../utils/utils.js')
    
    export default{
        
        props: {
          vendorcontact: Object
        },

        data: function () { 
            
            return {
                PrimaryYes: "Y",
                PrimaryNo: "N"
            }
        },
	  
        methods: {	  
         getValue: function(row, binding) {
            return Utils.getValue(row,binding)
         },

         goBack: function () {
           window.history.go(-1)
         },
            
         cancel: function() {
            this.$dispatch('cancel')
         },
            
         apply: function() {
            this.$dispatch('apply')
         }
        },  
	  
		  
        beforeDestroy: function() {
            $(this.$el).remove();
            $(this.$el).removeData();
        }
}

</script>