.modal {
.modal-header {
    min-height: 16.43px;
    padding: 15px;
    border-bottom: 1px solid #dadada;
    background: #f7f7f7;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.modal-header .close {
    margin-top: -6px;
    font-size: 23px;
}
.modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #dadada;
    background: #f7f7f7;
}
.modal-body span.btn.btn-primary.btn-file.h-28 {
    padding-top: 5px;
    margin-top: 0px;
}
.modal-footer button.btn.btn-default {
    margin-top: 3px;
}
    }
