.checkbox-block {
  margin-bottom: 0;
}

.checkbox-block li {
  position: relative;
  top: 1px;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  width: 100%;
  padding: 1%;
}

.checkbox-block [type="checkbox"]:checked,
.checkbox-block [type="checkbox"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

.checkbox-block [type="checkbox"]:checked + label,
.checkbox-block [type="checkbox"]:not(:checked) + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  font-weight: 500;
}

.checkbox-block [type="checkbox"]:checked + label:before,
.checkbox-block [type="checkbox"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 14px;
  height: 14px;
  border: 1px solid #aaa;
  background: #f8f8f8;
}

.checkbox-block .glyphicon-wrench {
  cursor: pointer;
}

.checkbox-block [type="checkbox"]:checked + label:after,
.checkbox-block [type="checkbox"]:not(:checked) + label:after {
  content: "\e013";
  position: absolute;
  top: 5px;
  left: 0;
  font-size: 18px;
  line-height: 0.8;
  color: #09ad7e;
  transition: all 0.2s;
  font-size: 12px;
}

.checkbox-block [type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}

.checkbox-block [type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}

.checkbox-block [type="checkbox"]:disabled:checked + label:before,
.checkbox-block [type="checkbox"]:disabled:not(:checked) + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}

.checkbox-block [type="checkbox"]:disabled:checked + label:after {
  color: #999;
}

.checkbox-block [type="checkbox"]:disabled + label {
  color: #aaa;
}

.checkbox-block [type="checkbox"]:checked:focus + label:before,
.checkbox-block [type="checkbox"]:not(:checked):focus + label:before {
  border: 1px dotted blue;
}

.checkbox-block label:hover:before {
  border: 1px solid #4778d9 !important;
}

.checkbox-block .txtcenter {
  margin-top: 4em;
  font-size: 0.9em;
  text-align: center;
  color: #aaa;
}

.checkbox-block .copy {
  margin-top: 2em;
}

.checkbox-block .copy a {
  text-decoration: none;
  color: #4778d9;
}

.select-style.form-control {
  width: 115px;
  display: inline-block;
  padding: 0;
  height: 21px;
  font-size: 12px;
  font-weight: 500;
    margin-top: 2px;
}

ul.list-inline.list-unstyled {
  margin-bottom: 0;
}

ul.list-inline.list-unstyled li {
  padding-left: 0;
  padding-right: 0;
}

.modal .modal-title {
     font-size: 13px;
    font-weight: 300;
    text-transform: uppercase;
    color: #757575;
    margin-top: 1px;
}

.list-linked-modal {
     margin: 0;
    line-height: 21px;
    padding: 0px 0;
}

.list-linked-modal a {
  padding: 7px 0;
  display: inline-block;
  font-size: 12px;
  text-transform: uppercase;
  padding: 3px 0 2px 1px;
  color: #337ab7;
  font-weight: 500;
}

.list-linked-modal li {
  width: 100%;
}

.list-linked-modal li:last-child {
  width: 100%;
}

.list-linked-modal.ul {
  margin: 0;
}

.CusCommitment .col-xs-1,
form.form-inline.CusCommitment .control-label {
  padding-top: 0;
}

span.form-inline-left {
  padding-top: 0;
  display: block;
}

form.form-inline.Commitmentcls {
  margin: 0;
}

form.form-inline.Commitmentcls .col-md-4 {
  padding-left: 0;
  padding-right: 0;
}

form.form-inline.Commitmentcls .form-control.pull-left {
  max-width: 140px;
}

form.form-inline.Commitmentcls button.btn.btn-info.addbtn {
  margin-left: 7px;
  height: 24px;
  padding-top: 2px;
}

form.form-inline.Commitmentcls .glyphicon.glyphicon-plus {
  padding: 0;
}

.form-inline.Commitmentcls .form-control {
  height: 24px;
  max-width: 173px;
}

form.form-inline.Commitmentcls .form-group {
  margin: 0;
}

form.form-inline.Commitmentcls .btn.btn-default,
form.form-inline.Commitmentcls .btn.button-primary {
  margin-top: -2px;
}

form.form-inline.Commitmentcls .glyphicon.glyphicon-plus {
  padding: 0;
}

.checkbox {
  margin-top: 0;
  margin-bottom: 0;
}

.upload-block {
  margin-bottom: 5px;
  background: #ddd;
  border-radius: 2px;
  padding: 5px;
}

.upload-block h5 {
  margin: 0 0 5px;
}

address.addressCls {
  line-height: 19px;
}

form.filter-panel-block {
  margin-bottom: 6px;
}

a.ok.CusIcon,
a.remove.CusIcon {
  margin-right: 10px;
  color: #9E9E9E;
  border-radius: 49%;
  border: 2px solid #9E9E9E;
  padding: 5px 5px;
}

a.remove.CusIcon:hover {
  color: #fff;
  border: 2px solid #A53E3E;
  background-color: #A53E3E;
}

a.ok.CusIcon:hover {
  color: #fff;
  border: 2px solid #187D37;
  background-color: #187D37;
}

.filter-panel-btn .glyphicon.glyphicon-filter {
  padding: 4px 0;
}

.form-group.clearfix.m-t-10 {
  padding: 2px 0 3px;
}

.cusToggletext {
  max-width: 240px;
  padding-top: 4px;
  padding-right: 0;
  margin-right: 0;
}

.modal-body .input-group .form-control,
.modal-body .input-group-addon,
.modal-body .input-group-btn,
.modal-body input.block.form-control {
  height: 28px;
}

.modal-body span.btn.btn-primary.btn-file.h-28 {
  padding-top: 6px;
}

.modal-footer .btn-primary {
  font-size: 11px;
  margin-top: 0;
  padding: 2px 12px;
  text-transform: uppercase;
  border: none;
  border-radius: 2px !important;
}

.ChartCls {
  display: inline-block;
  width: 108px;
  margin: 0 auto;
  text-align: center;
}

a.list-group-item,
a.list-group-item:hover {
  font-family: 'Open Sans', sans-serif !important;
  display: inline-block;
  border: 0;
  background: transparent;
}

a.bookadCls {
  padding: 0;
  text-decoration: none;
}

a.bookadCls:hover {
  color: #333;
}

h4.adavanceSearch {
  font-size: 14px;
  /* border-bottom: 1px solid #DDD; */
  /* margin-bottom: 22px; */
  font-weight: 700;
  padding: 0 0 2px 11px;
  text-transform: uppercase;
  color: #4678bc;
}

a.btn.modalcls.cusModal {
  font-size: 11px;
  padding: 1px 10px 0;
  text-transform: uppercase;
  color: #fff;
  border-radius: 3px;
  background: #4178c5;
}

.modal-header .close {
  font-size: 40px;
  margin-top: -12px;
}

.Cusbookad .form-group.clearfix.m-t-10 {
  padding: 7px 0;
}

.Cusbookad h6 {
  font-size: 14px;
  margin: 0 0 10px;
  padding: 13px 0;
}

.Cusbookad address {
  line-height: 22px;
  margin: 7px 0;
}

.form-group.col-md-5 input.form-control {
  height: 24px;
  margin-top: 5px;
}

ul.list-unstyled.Order_summary {
  margin-right: 15px;
  margin-bottom: 0;
  border-right: 1px solid #eee;
}

ul.list-unstyled.Order_summary li {
  line-height: 26px;
  vertical-align: text-bottom;
}

ul.list-unstyled.Order_summary.last {
  border-right: 0;
}

i.fa.fa-truck.btn-primary.disabledCls {
  color: #828282;
  background: #b7b7b7;
}

i.fa.fa-search-plus {
  font-size: 14px;
  font-weight: normal;
  padding: 1px 0;
}

.forgot-password {
  text-decoration: underline;
  color: #888;
}

.forgot-password:focus,
.forgot-password:hover {
  text-decoration: underline;
  color: #666;
}

form#login-form {
  padding: 2px 15px 14px;
}

.logo img {
  display: block;
  max-width: 170px;
  margin: 0 auto;
  padding: 20px 0;
}

    label {
    font-weight: 500 !important;

}
.col-md-5.cal-box i {
    margin-top: 1px;
}

.glyphicon-calendar.form-control-feedback {
    right: 6px;
}
.row.CusDateContainer .col-md-6:first-child {
    padding-right: 7px;
    padding-left: 9px;
}
.row.CusDateContainer .col-md-6:last-child {
    padding-right: 9px;
    padding-left: 7px;
}
.tab-content {
    padding-top: 5px;
}
.panel-body input[type="text"] {
    max-width: 100px;
} 