.paging_bootstrap {
    margin: 0;
    text-align: right;
}
.paging_bootstrap li {
    float: left;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    margin-right: 5px;
}
.paging_bootstrap a {
    padding: 5px 10px;
    display: inline-block;
}
.paging_bootstrap a,
.paging_bootstrap a:hover,
.paging_bootstrap a:focus {
    text-decoration: none;
    outline: none;
}

.pagination > li > a {
    border: none;
    text-decoration: underline;
}
.pagination > .active > a {
    border-radius: 50%;
}
.pagination > li:first-child > a,
.pagination > li:last-child > a {
    text-decoration: none;
}

.breadcrumb {
    background: transparent;
    margin: 0;
    padding: 0;
    font-size: 20px;
    padding: 7px 0px 0px 0px;
    text-decoration: none;
    font-weight: 500;
}
.breadcrumb > li + li:before {
    padding: 0 5px;
    color: #ccc;
    content: ">";
}

.paging_bootstrap .disabled a {
    color: #000;
    cursor: default;
}

.breadcrumb li a,
.breadcrumb li a:hover {
    color: #6a6c6f;
}

ul li .f-11 {
    color: #6A6C6F;
    font-weight: 500;
    text-transform: none;
}
ol.breadcrumb.cusbreadcrumb li a,
ol.breadcrumb.cusbreadcrumb li {
    font-size: 12px;
}
