tr th {
  color: #6A6C6F;
     font-family: 'HelvBoldIBM' !important;
}

th.active span.fa.fa-sort.pull-right.sort-down::before {
  content: "\f0dd";
  color: royalblue;
}

th.active span.fa.fa-sort.pull-right.sort-up::before {
  content: "\f0de";
  color: royalblue;
}

.table-wrapper-big .table-bordered > tbody > tr > td,
.table-wrapper-big .table-bordered > thead > tr > td,
.table-wrapper-big .table-bordered > thead > tr > th {
  padding: 2px 5px;
}

.table-wrapper {
  padding: 2px 15px 15px;
  background: #ddd;
  margin-top: -5px;
  border-radius: 2px;
}

.table-wrapper table {
  background: #fff;
  font-size: 13px;
  border-top: 0 solid #DDDDDD;
  margin-top: 0;
}

.table-wrapper h4 {
  margin-top: -11px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 13px;
  margin-bottom: 0;
}

.table-wrapper .table-top {
  margin: 2px 0;
}

.table-wrapper .cal-box .btn-default,
.table-wrapper .cal-box .button-primary {
  margin-top: -2px;
}

.table-wrapper .btn-default .glyphicon,
.table-wrapper .button-primary .glyphicon {
  font-size: 12px;
  padding: 4px 5px;
}

.table-wrapper .form-control {
  height: 28px;
}

.table-wrapper tbody .form-control {
  padding: 2px;
}

.table-wrapper .center-filter {
  vertical-align: middle;
  text-align: center;
}

.table-wrapper .sorting {
  background: url("../images/updownarrow.png") no-repeat 0 0;
  background-position: right;
  color: #6A6C6F;
     font-family: 'HelvBoldIBM' !important;
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  vertical-align: middle;
}

.table-wrapper-big {
  position: relative;
}

.table-scroll {
  height: 170px;
  overflow: auto;
}

.table-wrapper-big table {
  width: 100%;
}

.table {
  margin-bottom: 0;
}

.table-wrapper-big table thead th .text {
  z-index: 2;
  font-size: 13px;
  color: #6A6C6F;
  font-weight: 700;
}

td {
  font-size: 13px;
}

.table-top.row.no-gutters {
  padding-bottom: 6px;
  padding-top: 6px;
}

.fixed-table-header table {
  border-top: 0;
}

.bootstrap-table .fixed-table-container {
  max-height: 469px !important;
}

.fixed-table-toolbar {
  position: absolute;
  top: -8px;
  right: 9px;
}

.table-wrapper.CusbookTable .bootstrap-table .fixed-table-container {
  max-height: 200px !important;
}

.modal-footer {
  border-top: 0;
}

.Order_summary li a {
  vertical-align: top;
  text-decoration: none;
  color: #6a6c6f;
}

.Order_summary li a span.badge {
  margin-top: 4px;
}

.table-top.row.no-gutters.nopadd {
  padding-top: 0;
}